* html .u1_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="ViewCart___Editing_a_cart_item_files/clickable_item_image_u1_normal.png");
}

* html .u9_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="ViewCart___Editing_a_cart_item_files/u9_line.png");
}

* html .u11_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="ViewCart___Editing_a_cart_item_files/clickable_item_image_u1_normal.png");
}

* html .u19_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="ViewCart___Editing_a_cart_item_files/u19_line.png");
}

* html .u21c0 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="ViewCart___Editing_a_cart_item_files/u21c0.png");
}

* html .u23c0 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="ViewCart___Editing_a_cart_item_files/u23c0.png");
}

* html .u25c0 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="ViewCart___Editing_a_cart_item_files/u25c0.png");
}

* html .u25c1 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="ViewCart___Editing_a_cart_item_files/u25c1.png");
}

* html .u27_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="ViewCart___Editing_a_cart_item_files/u27_normal.png");
}

* html .u30_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="ViewCart___Editing_a_cart_item_files/u30_normal.png");
}

* html .u34_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="ViewCart___Editing_a_cart_item_files/u30_normal.png");
}

