body {
    margin: 0px;
    text-align: center;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
    position: relative;
    left: -0px;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Unsubscribe_LastCall_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:110px;
    width:960px;
    height:30px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:966px;
    height:36px;
}

.u1 {
    position:absolute;
    left:2px;
    top:7px;
    width:956px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../Unsubscribe_LastCall_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:376px;
    top:0px;
    width:207px;
    height:106px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:207px;
    height:106px;
}

.u3 {
    position:absolute;
    left:2px;
    top:45px;
    width:203px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:230px;
    top:178px;
    width:500px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:250px;
    top:178px;
    width:460px;
    height:58px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../Unsubscribe_LastCall_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:230px;
    top:255px;
    width:500px;
    height:497px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:506px;
    height:503px;
}

.u8 {
    position:absolute;
    left:2px;
    top:240px;
    width:496px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:230px;
    top:281px;
    width:500px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_mouseOver {
    background-image: url('../Unsubscribe_LastCall_files/Go_back_to_Email_Preferences_u10_mouseOver.png');
}

.u10_mouseDown {
    background-image: url('../Unsubscribe_LastCall_files/Go_back_to_Email_Preferences_u10_mouseDown.png');
}

.u10_normal {
    background-image: url('../Unsubscribe_LastCall_files/Go_back_to_Email_Preferences_u10_normal.png');
}

.u10_container {
    position:absolute;
    left:350px;
    top:335px;
    width:260px;
    height:40px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:266px;
    height:46px;
}

.u11 {
    position:absolute;
    left:2px;
    top:12px;
    width:256px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:270px;
    top:611px;
    width:420px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:249px;
    top:303px;
    width:462px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_mouseOver {
    background-image: url('../Unsubscribe_LastCall_files/Go_back_to_Email_Preferences_u10_mouseOver.png');
}

.u14_mouseDown {
    background-image: url('../Unsubscribe_LastCall_files/Go_back_to_Email_Preferences_u10_mouseDown.png');
}

.u14_normal {
    background-image: url('../Unsubscribe_LastCall_files/Go_back_to_Email_Preferences_u10_normal.png');
}

.u14_container {
    position:absolute;
    left:350px;
    top:643px;
    width:260px;
    height:40px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:266px;
    height:46px;
}

.u15 {
    position:absolute;
    left:2px;
    top:12px;
    width:256px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:380px;
    top:589px;
    width:200px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:298px;
    top:437px;
    width:365px;
    height:84px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:250px;
    top:405px;
    width:460px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../Unsubscribe_LastCall_files/u19_normal.png');
}

.u19_container {
    position:absolute;
    left:350px;
    top:532px;
    width:32px;
    height:32px;
}

#u19_img {
    position:absolute;
    left:0px;
    top:0px;
    width:32px;
    height:32px;
}

.u20 {
    position:absolute;
    left:2px;
    top:8px;
    width:28px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../Unsubscribe_LastCall_files/u21_normal.png');
}

.u21_container {
    position:absolute;
    left:429px;
    top:532px;
    width:32px;
    height:32px;
}

#u21_img {
    position:absolute;
    left:0px;
    top:0px;
    width:32px;
    height:32px;
}

.u22 {
    position:absolute;
    left:2px;
    top:8px;
    width:28px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../Unsubscribe_LastCall_files/u23_normal.png');
}

.u23_container {
    position:absolute;
    left:509px;
    top:532px;
    width:32px;
    height:32px;
}

#u23_img {
    position:absolute;
    left:0px;
    top:0px;
    width:32px;
    height:32px;
}

.u24 {
    position:absolute;
    left:2px;
    top:8px;
    width:28px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../Unsubscribe_LastCall_files/u25_normal.png');
}

.u25_container {
    position:absolute;
    left:578px;
    top:532px;
    width:32px;
    height:32px;
}

#u25_img {
    position:absolute;
    left:0px;
    top:0px;
    width:32px;
    height:32px;
}

.u26 {
    position:absolute;
    left:2px;
    top:8px;
    width:28px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

