body {
    margin: 0px;
    text-align: center;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
    position: relative;
    left: -20px;
    width: 1218px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../2a1_Retrying_ZIP_storyboard_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:20px;
    top:431px;
    width:594px;
    height:170px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:600px;
    height:176px;
}

.u1 {
    position:absolute;
    left:2px;
    top:77px;
    width:590px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../2a1_Retrying_ZIP_storyboard_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:30px;
    top:441px;
    width:575px;
    height:88px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:581px;
    height:94px;
}

.u3 {
    position:absolute;
    left:2px;
    top:36px;
    width:571px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:150px;
    top:470px;
    width:227px;
    height:45px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../2a1_Retrying_ZIP_storyboard_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:38px;
    top:450px;
    width:100px;
    height:70px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:76px;
}

.u6 {
    position:absolute;
    left:2px;
    top:28px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_line {
    background-image: url('../2a1_Retrying_ZIP_storyboard_files/u7_line.png');
}

.u7_line {
    position:absolute;
    left:0px;
    top:4px;
    width:574px;
    height:3px;
}

.u7 {
    position:absolute;
    left:30px;
    top:535px;
    width:574px;
    height:10px;
    
}

.u8 {
    position:absolute;
    left:150px;
    top:450px;
    width:68px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_mouseOver {
    background-image: url('../2a1_Retrying_ZIP_storyboard_files/Continue_u9_mouseOver.png');
}

.u9_mouseDown {
    background-image: url('../2a1_Retrying_ZIP_storyboard_files/Continue_u9_mouseDown.png');
}

.u9_normal {
    background-image: url('../2a1_Retrying_ZIP_storyboard_files/Continue_u9_normal.png');
}

.u9_container {
    position:absolute;
    left:268px;
    top:550px;
    width:163px;
    height:40px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:169px;
    height:46px;
}

.u10 {
    position:absolute;
    left:2px;
    top:12px;
    width:159px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_mouseOver {
    background-image: url('../2a1_Retrying_ZIP_storyboard_files/Continue_u9_mouseOver.png');
}

.u11_mouseDown {
    background-image: url('../2a1_Retrying_ZIP_storyboard_files/Continue_u9_mouseDown.png');
}

.u11_normal {
    background-image: url('../2a1_Retrying_ZIP_storyboard_files/Continue_u11_normal.png');
}

.u11_container {
    position:absolute;
    left:442px;
    top:550px;
    width:163px;
    height:40px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:169px;
    height:46px;
}

.u12 {
    position:absolute;
    left:2px;
    top:12px;
    width:159px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../2a1_Retrying_ZIP_storyboard_files/u13_normal.png');
}

.u13_container {
    position:absolute;
    left:20px;
    top:393px;
    width:594px;
    height:38px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:600px;
    height:44px;
}

.u14 {
    position:absolute;
    left:10px;
    top:4px;
    width:582px;
    height:29px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u15 {
    position:absolute;
    left:180px;
    top:550px;
    width:5px;
    height:19px;
    overflow:hidden;
}

#pd0u15 {
    position:absolute;
    left:0px;
    top:0px;
    width:5px;
    height:19px;
    
}

.u16 {
    position:absolute;
    left:0px;
    top:0px;
    width:195px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u17 {
    position:absolute;
    left:180px;
    top:550px;
    width:78px;
    height:40px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 21px;
    color:#333333;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u18_mouseOver {
    background-image: url('../2a1_Retrying_ZIP_storyboard_files/Continue_u9_mouseOver.png');
}

.u18_mouseDown {
    background-image: url('../2a1_Retrying_ZIP_storyboard_files/Continue_u9_mouseDown.png');
}

.u18_normal {
    background-image: url('../2a1_Retrying_ZIP_storyboard_files/Continue_u18_normal.png');
}

.u18_container {
    position:absolute;
    left:268px;
    top:550px;
    width:163px;
    height:40px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:169px;
    height:46px;
}

.u19 {
    position:absolute;
    left:2px;
    top:12px;
    width:159px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:38px;
    top:558px;
    width:142px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../2a1_Retrying_ZIP_storyboard_files/u0_normal.png');
}

.u21_container {
    position:absolute;
    left:333px;
    top:109px;
    width:594px;
    height:170px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:600px;
    height:176px;
}

.u22 {
    position:absolute;
    left:2px;
    top:77px;
    width:590px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../2a1_Retrying_ZIP_storyboard_files/u2_normal.png');
}

.u23_container {
    position:absolute;
    left:342px;
    top:119px;
    width:575px;
    height:88px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:581px;
    height:94px;
}

.u24 {
    position:absolute;
    left:2px;
    top:36px;
    width:571px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:463px;
    top:148px;
    width:227px;
    height:45px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../2a1_Retrying_ZIP_storyboard_files/u5_normal.png');
}

.u26_container {
    position:absolute;
    left:351px;
    top:128px;
    width:100px;
    height:70px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:76px;
}

.u27 {
    position:absolute;
    left:2px;
    top:28px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_line {
    background-image: url('../2a1_Retrying_ZIP_storyboard_files/u28_line.png');
}

.u28_line {
    position:absolute;
    left:0px;
    top:4px;
    width:574px;
    height:3px;
}

.u28 {
    position:absolute;
    left:342px;
    top:213px;
    width:574px;
    height:10px;
    
}

.u29 {
    position:absolute;
    left:463px;
    top:128px;
    width:68px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_mouseOver {
    background-image: url('../2a1_Retrying_ZIP_storyboard_files/Continue_u9_mouseOver.png');
}

.u30_mouseDown {
    background-image: url('../2a1_Retrying_ZIP_storyboard_files/Continue_u9_mouseDown.png');
}

.u30_normal {
    background-image: url('../2a1_Retrying_ZIP_storyboard_files/Continue_u9_normal.png');
}

.u30_container {
    position:absolute;
    left:581px;
    top:228px;
    width:163px;
    height:40px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:169px;
    height:46px;
}

.u31 {
    position:absolute;
    left:2px;
    top:12px;
    width:159px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_mouseOver {
    background-image: url('../2a1_Retrying_ZIP_storyboard_files/Continue_u9_mouseOver.png');
}

.u32_mouseDown {
    background-image: url('../2a1_Retrying_ZIP_storyboard_files/Continue_u9_mouseDown.png');
}

.u32_normal {
    background-image: url('../2a1_Retrying_ZIP_storyboard_files/Continue_u11_normal.png');
}

.u32_container {
    position:absolute;
    left:754px;
    top:228px;
    width:163px;
    height:40px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:169px;
    height:46px;
}

.u33 {
    position:absolute;
    left:2px;
    top:12px;
    width:159px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../2a1_Retrying_ZIP_storyboard_files/u13_normal.png');
}

.u34_container {
    position:absolute;
    left:333px;
    top:71px;
    width:594px;
    height:38px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:600px;
    height:44px;
}

.u35 {
    position:absolute;
    left:10px;
    top:4px;
    width:582px;
    height:29px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_normal {
    background-image: url('../2a1_Retrying_ZIP_storyboard_files/u0_normal.png');
}

.u36_container {
    position:absolute;
    left:644px;
    top:431px;
    width:594px;
    height:170px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:600px;
    height:176px;
}

.u37 {
    position:absolute;
    left:2px;
    top:77px;
    width:590px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_normal {
    background-image: url('../2a1_Retrying_ZIP_storyboard_files/u2_normal.png');
}

.u38_container {
    position:absolute;
    left:652px;
    top:441px;
    width:575px;
    height:88px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:581px;
    height:94px;
}

.u39 {
    position:absolute;
    left:2px;
    top:36px;
    width:571px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:774px;
    top:471px;
    width:227px;
    height:45px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../2a1_Retrying_ZIP_storyboard_files/u5_normal.png');
}

.u41_container {
    position:absolute;
    left:662px;
    top:451px;
    width:100px;
    height:70px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:76px;
}

.u42 {
    position:absolute;
    left:2px;
    top:28px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_line {
    background-image: url('../2a1_Retrying_ZIP_storyboard_files/u43_line.png');
}

.u43_line {
    position:absolute;
    left:0px;
    top:4px;
    width:574px;
    height:3px;
}

.u43 {
    position:absolute;
    left:652px;
    top:535px;
    width:574px;
    height:10px;
    
}

.u44 {
    position:absolute;
    left:774px;
    top:451px;
    width:68px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_mouseOver {
    background-image: url('../2a1_Retrying_ZIP_storyboard_files/Continue_u9_mouseOver.png');
}

.u45_mouseDown {
    background-image: url('../2a1_Retrying_ZIP_storyboard_files/Continue_u9_mouseDown.png');
}

.u45_normal {
    background-image: url('../2a1_Retrying_ZIP_storyboard_files/Continue_u9_normal.png');
}

.u45_container {
    position:absolute;
    left:892px;
    top:551px;
    width:163px;
    height:40px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:169px;
    height:46px;
}

.u46 {
    position:absolute;
    left:2px;
    top:12px;
    width:159px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_mouseOver {
    background-image: url('../2a1_Retrying_ZIP_storyboard_files/Continue_u9_mouseOver.png');
}

.u47_mouseDown {
    background-image: url('../2a1_Retrying_ZIP_storyboard_files/Continue_u9_mouseDown.png');
}

.u47_normal {
    background-image: url('../2a1_Retrying_ZIP_storyboard_files/Continue_u11_normal.png');
}

.u47_container {
    position:absolute;
    left:1064px;
    top:551px;
    width:163px;
    height:40px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:169px;
    height:46px;
}

.u48 {
    position:absolute;
    left:2px;
    top:12px;
    width:159px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_normal {
    background-image: url('../2a1_Retrying_ZIP_storyboard_files/u13_normal.png');
}

.u49_container {
    position:absolute;
    left:644px;
    top:393px;
    width:594px;
    height:38px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:600px;
    height:44px;
}

.u50 {
    position:absolute;
    left:10px;
    top:4px;
    width:582px;
    height:29px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u51 {
    position:absolute;
    left:804px;
    top:552px;
    width:5px;
    height:19px;
    overflow:hidden;
}

#pd0u51 {
    position:absolute;
    left:0px;
    top:0px;
    width:5px;
    height:19px;
    
}

.u52 {
    position:absolute;
    left:0px;
    top:0px;
    width:195px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u53 {
    position:absolute;
    left:804px;
    top:552px;
    width:78px;
    height:40px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 21px;
    color:#333333;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u54_mouseOver {
    background-image: url('../2a1_Retrying_ZIP_storyboard_files/Continue_u9_mouseOver.png');
}

.u54_mouseDown {
    background-image: url('../2a1_Retrying_ZIP_storyboard_files/Continue_u9_mouseDown.png');
}

.u54_normal {
    background-image: url('../2a1_Retrying_ZIP_storyboard_files/Continue_u18_normal.png');
}

.u54_container {
    position:absolute;
    left:892px;
    top:552px;
    width:163px;
    height:40px;
}

#u54_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:169px;
    height:46px;
}

.u55 {
    position:absolute;
    left:2px;
    top:12px;
    width:159px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56 {
    position:absolute;
    left:662px;
    top:560px;
    width:142px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_normal {
    background-image: url('../2a1_Retrying_ZIP_storyboard_files/u57_normal.png');
}

.u57_container {
    position:absolute;
    left:570px;
    top:302px;
    width:117px;
    height:62px;
}

#u57_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:123px;
    height:68px;
}

.u58 {
    position:absolute;
    left:2px;
    top:24px;
    width:113px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59c0 {
    background-image: url('../2a1_Retrying_ZIP_storyboard_files/u59c0.png');
}

.u59c0 {
    position:absolute;
    left:322px;
    top:323px;
    width:20px;
    height:60px;
}

.u59c1 {
    background-image: url('../2a1_Retrying_ZIP_storyboard_files/u59c1.png');
}

.u59c1 {
    position:absolute;
    left:322px;
    top:323px;
    width:252px;
    height:20px;
}

.u60 {
    position:absolute;
    left:46px;
    top:-54px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61c0 {
    background-image: url('../2a1_Retrying_ZIP_storyboard_files/u61c0.png');
}

.u61c0 {
    position:absolute;
    left:918px;
    top:323px;
    width:20px;
    height:57px;
}

.u61c1 {
    background-image: url('../2a1_Retrying_ZIP_storyboard_files/u61c1.png');
}

.u61c1 {
    position:absolute;
    left:683px;
    top:323px;
    width:255px;
    height:20px;
}

.u62 {
    position:absolute;
    left:-149px;
    top:-51px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63c0 {
    background-image: url('../2a1_Retrying_ZIP_storyboard_files/u63c0.png');
}

.u63c0 {
    position:absolute;
    left:618px;
    top:273px;
    width:20px;
    height:33px;
}

.u63c1 {
    background-image: url('../2a1_Retrying_ZIP_storyboard_files/u63c1.png');
}

.u63c1 {
    position:absolute;
    left:618px;
    top:273px;
    width:15px;
    height:20px;
}

.u64 {
    position:absolute;
    left:-50px;
    top:-18px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_normal {
    background-image: url('../2a1_Retrying_ZIP_storyboard_files/u65_normal.png');
}

.u65_container {
    position:absolute;
    left:158px;
    top:686px;
    width:940px;
    height:635px;
}

#u65_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:946px;
    height:641px;
}

.u66 {
    position:absolute;
    left:20px;
    top:15px;
    width:910px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67_normal {
    background-image: url('../2a1_Retrying_ZIP_storyboard_files/u67_normal.png');
}

.u67_container {
    position:absolute;
    left:304px;
    top:707px;
    width:648px;
    height:597px;
}

#u67_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:654px;
    height:603px;
}

.u68 {
    position:absolute;
    left:20px;
    top:15px;
    width:618px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69 {
    position:absolute;
    left:458px;
    top:960px;
    width:229px;
    height:45px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70_normal {
    background-image: url('../item_summary_files/clickable_item_image_u70_normal.png');
}

.u70_container {
    position:absolute;
    left:338px;
    top:940px;
    width:100px;
    height:70px;
}

#u70_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:76px;
}

.u71 {
    position:absolute;
    left:2px;
    top:28px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72_line {
    background-image: url('../item_summary_files/u72_line.png');
}

.u72_line {
    position:absolute;
    left:0px;
    top:4px;
    width:580px;
    height:3px;
}

.u72 {
    position:absolute;
    left:338px;
    top:1015px;
    width:580px;
    height:10px;
    
}

.u73 {
    position:absolute;
    left:458px;
    top:940px;
    width:70px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74_normal {
    background-image: url('../item_summary_files/u74_normal.png');
}

.u74_container {
    position:absolute;
    left:814px;
    top:957px;
    width:40px;
    height:29px;
}

#u74_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:35px;
}

.u75 {
    position:absolute;
    left:20px;
    top:7px;
    width:10px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u76_normal {
    background-image: url('../item_summary_files/u76_normal.png');
}

.u76_container {
    position:absolute;
    left:814px;
    top:979px;
    width:40px;
    height:26px;
}

#u76_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:32px;
}

.u77 {
    position:absolute;
    left:20px;
    top:6px;
    width:10px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78 {
    position:absolute;
    left:784px;
    top:957px;
    width:36px;
    height:48px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#666666;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u79 {
    position:absolute;
    left:878px;
    top:974px;
    width:40px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80_line {
    background-image: url('../item_summary_files/u80_line.png');
}

.u80_line {
    position:absolute;
    left:0px;
    top:4px;
    width:34px;
    height:3px;
}

.u80 {
    position:absolute;
    left:820px;
    top:977px;
    width:34px;
    height:10px;
    
}

#u81 {
    position:absolute;
    left:820px;
    top:957px;
    width:34px;
    height:23px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u82 {
    position:absolute;
    left:820px;
    top:982px;
    width:34px;
    height:23px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

.u83 {
    position:absolute;
    left:697px;
    top:966px;
    width:40px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84 {
    position:absolute;
    left:752px;
    top:973px;
    width:18px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85 {
    position:absolute;
    left:697px;
    top:982px;
    width:40px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86_line {
    background-image: url('../item_summary_files/u86_line.png');
}

.u86_line {
    position:absolute;
    left:0px;
    top:4px;
    width:34px;
    height:3px;
}

.u86 {
    position:absolute;
    left:700px;
    top:985px;
    width:34px;
    height:10px;
    
}

.u88 {
    position:absolute;
    left:458px;
    top:1055px;
    width:229px;
    height:45px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89_normal {
    background-image: url('../item_summary_files/clickable_item_image_u70_normal.png');
}

.u89_container {
    position:absolute;
    left:338px;
    top:1035px;
    width:100px;
    height:70px;
}

#u89_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:76px;
}

.u90 {
    position:absolute;
    left:2px;
    top:28px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91_line {
    background-image: url('../item_summary_files/u72_line.png');
}

.u91_line {
    position:absolute;
    left:0px;
    top:4px;
    width:580px;
    height:3px;
}

.u91 {
    position:absolute;
    left:338px;
    top:1110px;
    width:580px;
    height:10px;
    
}

.u92 {
    position:absolute;
    left:458px;
    top:1035px;
    width:70px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93_normal {
    background-image: url('../item_summary_files/u74_normal.png');
}

.u93_container {
    position:absolute;
    left:814px;
    top:1052px;
    width:40px;
    height:29px;
}

#u93_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:35px;
}

.u94 {
    position:absolute;
    left:20px;
    top:7px;
    width:10px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95_normal {
    background-image: url('../item_summary_files/u76_normal.png');
}

.u95_container {
    position:absolute;
    left:814px;
    top:1074px;
    width:40px;
    height:26px;
}

#u95_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:32px;
}

.u96 {
    position:absolute;
    left:20px;
    top:6px;
    width:10px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97 {
    position:absolute;
    left:784px;
    top:1052px;
    width:36px;
    height:48px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#666666;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u98 {
    position:absolute;
    left:878px;
    top:1069px;
    width:40px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99_line {
    background-image: url('../item_summary_files/u80_line.png');
}

.u99_line {
    position:absolute;
    left:0px;
    top:4px;
    width:34px;
    height:3px;
}

.u99 {
    position:absolute;
    left:820px;
    top:1072px;
    width:34px;
    height:10px;
    
}

#u100 {
    position:absolute;
    left:820px;
    top:1052px;
    width:34px;
    height:23px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u101 {
    position:absolute;
    left:820px;
    top:1077px;
    width:34px;
    height:23px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

.u102 {
    position:absolute;
    left:697px;
    top:1061px;
    width:40px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103 {
    position:absolute;
    left:752px;
    top:1068px;
    width:18px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u104 {
    position:absolute;
    left:697px;
    top:1077px;
    width:40px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105_line {
    background-image: url('../item_summary_files/u86_line.png');
}

.u105_line {
    position:absolute;
    left:0px;
    top:4px;
    width:34px;
    height:3px;
}

.u105 {
    position:absolute;
    left:700px;
    top:1080px;
    width:34px;
    height:10px;
    
}

#u107 {
    position:absolute;
    left:328px;
    top:1131px;
    width:601px;
    height:261px;
    overflow:hidden;
}

#pd0u107 {
    position:absolute;
    left:0px;
    top:0px;
    width:601px;
    height:261px;
    
}

#u108 {
    position:absolute;
    left:10px;
    top:0px;
    width:322px;
    height:26px;
    overflow:hidden;
}

#pd1u108 {
    position:absolute;
    left:0px;
    top:0px;
    width:322px;
    height:26px;
    
}

.u109 {
    position:absolute;
    left:105px;
    top:0px;
    width:139px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#666666;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u110_mouseOver {
    background-image: url('../ViewCart_files/SAVE_u110_mouseOver.png');
}

.u110_mouseDown {
    background-image: url('../ViewCart_files/SAVE_u110_mouseDown.png');
}

.u110_normal {
    background-image: url('../ViewCart_files/SAVE_u110_normal.png');
}

.u110_container {
    position:absolute;
    left:254px;
    top:0px;
    width:67px;
    height:25px;
}

#u110_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:73px;
    height:31px;
}

.u111 {
    position:absolute;
    left:2px;
    top:5px;
    width:63px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u112 {
    position:absolute;
    left:0px;
    top:4px;
    width:111px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u108 {
    position:absolute;
    left:0px;
    top:0px;
    width:322px;
    height:26px;
    
}

.u113 {
    position:absolute;
    left:272px;
    top:7px;
    width:48px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u114 {
    position:absolute;
    left:108px;
    top:4px;
    width:47px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u115 {
    position:absolute;
    left:0px;
    top:4px;
    width:111px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u116 {
    position:absolute;
    left:153px;
    top:4px;
    width:113px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u117 {
    position:absolute;
    left:10px;
    top:45px;
    width:324px;
    height:26px;
    overflow:hidden;
}

#pd1u117 {
    position:absolute;
    left:0px;
    top:0px;
    width:324px;
    height:26px;
    
}

.u118 {
    position:absolute;
    left:192px;
    top:7px;
    width:130px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u119 {
    position:absolute;
    left:110px;
    top:4px;
    width:90px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u120 {
    position:absolute;
    left:0px;
    top:4px;
    width:140px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u117 {
    position:absolute;
    left:0px;
    top:0px;
    width:324px;
    height:26px;
    
}

.u121 {
    position:absolute;
    left:0px;
    top:0px;
    width:182px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#666666;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u122_mouseOver {
    background-image: url('../ViewCart_files/APPLY_u122_mouseOver.png');
}

.u122_mouseDown {
    background-image: url('../ViewCart_files/APPLY_u122_mouseDown.png');
}

.u122_normal {
    background-image: url('../ViewCart_files/APPLY_u122_normal.png');
}

.u122_container {
    position:absolute;
    left:196px;
    top:0px;
    width:127px;
    height:25px;
}

#u122_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:133px;
    height:31px;
}

.u123 {
    position:absolute;
    left:2px;
    top:5px;
    width:123px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u124 {
    position:absolute;
    left:404px;
    top:0px;
    width:185px;
    height:101px;
    overflow:hidden;
}

#pd1u124 {
    position:absolute;
    left:0px;
    top:0px;
    width:185px;
    height:101px;
    
}

#u125 {
    position:absolute;
    left:0px;
    top:27px;
    width:185px;
    height:74px;
    overflow:hidden;
}

#pd1u125 {
    position:absolute;
    left:0px;
    top:0px;
    width:185px;
    height:74px;
    
}

.u126_container {
    position:absolute;
    left:74px;
    top:4px;
    width:16px;
    height:16px;
}

#u126_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u127 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u128 {
    position:absolute;
    left:31px;
    top:26px;
    width:102px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u125 {
    position:absolute;
    left:0px;
    top:0px;
    width:185px;
    height:74px;
    
}

.u129 {
    position:absolute;
    left:0px;
    top:0px;
    width:131px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u130 {
    position:absolute;
    left:131px;
    top:1px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u131 {
    position:absolute;
    left:0px;
    top:50px;
    width:102px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u132 {
    position:absolute;
    left:120px;
    top:51px;
    width:64px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u133 {
    position:absolute;
    left:0px;
    top:26px;
    width:131px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u134 {
    position:absolute;
    left:131px;
    top:27px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u135 {
    position:absolute;
    left:0px;
    top:0px;
    width:102px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u136 {
    position:absolute;
    left:131px;
    top:0px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u124 {
    position:absolute;
    left:0px;
    top:0px;
    width:185px;
    height:101px;
    
}

#u137 {
    position:absolute;
    left:0px;
    top:27px;
    width:185px;
    height:45px;
    overflow:hidden;
}

#pd1u137 {
    position:absolute;
    left:0px;
    top:0px;
    width:185px;
    height:45px;
    
}

.u138_container {
    position:absolute;
    left:74px;
    top:4px;
    width:16px;
    height:16px;
}

#u138_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u139 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u140 {
    position:absolute;
    left:31px;
    top:26px;
    width:102px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u137 {
    position:absolute;
    left:0px;
    top:0px;
    width:185px;
    height:45px;
    
}

.u141 {
    position:absolute;
    left:0px;
    top:0px;
    width:131px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u142 {
    position:absolute;
    left:131px;
    top:1px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u143 {
    position:absolute;
    left:0px;
    top:25px;
    width:102px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u144 {
    position:absolute;
    left:120px;
    top:27px;
    width:64px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u145 {
    position:absolute;
    left:0px;
    top:0px;
    width:102px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u146 {
    position:absolute;
    left:131px;
    top:0px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u147 {
    position:absolute;
    left:0px;
    top:85px;
    width:601px;
    height:56px;
    overflow:hidden;
}

#pd0u147 {
    position:absolute;
    left:0px;
    top:0px;
    width:601px;
    height:56px;
    
}

.u148_mouseOver {
    background-image: url('../ViewCart_files/Continue_u148_mouseOver.png');
}

.u148_mouseDown {
    background-image: url('../ViewCart_files/Continue_u148_mouseDown.png');
}

.u148_normal {
    background-image: url('../ViewCart_files/Continue_u148_normal.png');
}

.u148_container {
    position:absolute;
    left:390px;
    top:15px;
    width:210px;
    height:40px;
}

#u148_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:216px;
    height:46px;
}

.u149 {
    position:absolute;
    left:2px;
    top:12px;
    width:206px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u150_line {
    background-image: url('../ViewCart_files/u150_line.png');
}

.u150_line {
    position:absolute;
    left:0px;
    top:4px;
    width:600px;
    height:3px;
}

.u150 {
    position:absolute;
    left:0px;
    top:0px;
    width:600px;
    height:10px;
    
}

.u151 {
    position:absolute;
    left:10px;
    top:15px;
    width:270px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u152 {
    position:absolute;
    left:458px;
    top:866px;
    width:291px;
    height:45px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u153_normal {
    background-image: url('../ViewCart_files/clickable_item_image_u153_normal.png');
}

.u153_container {
    position:absolute;
    left:338px;
    top:846px;
    width:100px;
    height:70px;
}

#u153_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:76px;
}

.u154 {
    position:absolute;
    left:2px;
    top:28px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u155_line {
    background-image: url('../ViewCart_files/u155_line.png');
}

.u155_line {
    position:absolute;
    left:0px;
    top:4px;
    width:580px;
    height:3px;
}

.u155 {
    position:absolute;
    left:338px;
    top:921px;
    width:580px;
    height:10px;
    
}

.u156 {
    position:absolute;
    left:458px;
    top:846px;
    width:70px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u157_normal {
    background-image: url('../ViewCart_files/u157_normal.png');
}

.u157_container {
    position:absolute;
    left:811px;
    top:863px;
    width:40px;
    height:29px;
}

#u157_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:35px;
}

.u158 {
    position:absolute;
    left:20px;
    top:7px;
    width:10px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u159_normal {
    background-image: url('../ViewCart_files/u159_normal.png');
}

.u159_container {
    position:absolute;
    left:811px;
    top:885px;
    width:40px;
    height:26px;
}

#u159_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:32px;
}

.u160 {
    position:absolute;
    left:20px;
    top:6px;
    width:10px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u161 {
    position:absolute;
    left:781px;
    top:863px;
    width:36px;
    height:48px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#666666;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u162 {
    position:absolute;
    left:851px;
    top:880px;
    width:67px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u163_line {
    background-image: url('../ViewCart_files/u163_line.png');
}

.u163_line {
    position:absolute;
    left:0px;
    top:4px;
    width:34px;
    height:3px;
}

.u163 {
    position:absolute;
    left:817px;
    top:883px;
    width:34px;
    height:10px;
    
}

#u164 {
    position:absolute;
    left:817px;
    top:863px;
    width:34px;
    height:23px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u165 {
    position:absolute;
    left:817px;
    top:888px;
    width:34px;
    height:23px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

.u166_line {
    background-image: url('../ViewCart_files/u166_line.png');
}

.u166_line {
    position:absolute;
    left:0px;
    top:4px;
    width:594px;
    height:3px;
}

.u166 {
    position:absolute;
    left:328px;
    top:826px;
    width:594px;
    height:10px;
    
}

.u168_mouseOver {
    background-image: url('../2a1_Retrying_ZIP_storyboard_files/Continue_u168_mouseOver.png');
}

.u168_mouseDown {
    background-image: url('../2a1_Retrying_ZIP_storyboard_files/Continue_u168_mouseDown.png');
}

.u168_normal {
    background-image: url('../2a1_Retrying_ZIP_storyboard_files/Continue_u168_normal.png');
}

.u168_container {
    position:absolute;
    left:712px;
    top:776px;
    width:210px;
    height:40px;
}

#u168_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:216px;
    height:46px;
}

.u169 {
    position:absolute;
    left:2px;
    top:12px;
    width:206px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u170_mouseOver {
    background-image: url('../2a1_Retrying_ZIP_storyboard_files/Continue_u168_mouseOver.png');
}

.u170_mouseDown {
    background-image: url('../2a1_Retrying_ZIP_storyboard_files/Continue_u168_mouseDown.png');
}

.u170_normal {
    background-image: url('../2a1_Retrying_ZIP_storyboard_files/Continue_u168_normal.png');
}

.u170_container {
    position:absolute;
    left:328px;
    top:776px;
    width:210px;
    height:40px;
}

#u170_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:216px;
    height:46px;
}

.u171 {
    position:absolute;
    left:2px;
    top:12px;
    width:206px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u172_line {
    background-image: url('../2a1_Retrying_ZIP_storyboard_files/u172_line.png');
}

.u172_line {
    position:absolute;
    left:0px;
    top:4px;
    width:594px;
    height:3px;
}

.u172 {
    position:absolute;
    left:328px;
    top:761px;
    width:594px;
    height:10px;
    
}

.u173_normal {
    background-image: url('../You_Have___Items_files/u173_normal.png');
}

.u173_container {
    position:absolute;
    left:328px;
    top:736px;
    width:16px;
    height:16px;
}

#u173_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u174 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u175 {
    position:absolute;
    left:354px;
    top:731px;
    width:430px;
    height:27px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u177c0 {
    background-image: url('../2a1_Retrying_ZIP_storyboard_files/u177c0.png');
}

.u177c0 {
    position:absolute;
    left:616px;
    top:636px;
    width:20px;
    height:58px;
}

.u177c1 {
    background-image: url('../2a1_Retrying_ZIP_storyboard_files/u177c1.png');
}

.u177c1 {
    position:absolute;
    left:616px;
    top:636px;
    width:368px;
    height:20px;
}

.u177c2 {
    background-image: url('../2a1_Retrying_ZIP_storyboard_files/u177c2.png');
}

.u177c2 {
    position:absolute;
    left:964px;
    top:612px;
    width:20px;
    height:44px;
}

.u178 {
    position:absolute;
    left:117px;
    top:-52px;
    width:100px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u179 {
    position:absolute;
    left:20px;
    top:20px;
    width:647px;
    height:31px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

