body {
    margin: 0px;
    text-align: center;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
    position: relative;
    left: -162px;
    width: 636px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Address_Errors_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:162px;
    top:9px;
    width:636px;
    height:1167px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:642px;
    height:1173px;
}

.u1 {
    position:absolute;
    left:20px;
    top:15px;
    width:606px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../Address_Errors_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:178px;
    top:192px;
    width:371px;
    height:432px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:377px;
    height:438px;
}

.u3 {
    position:absolute;
    left:20px;
    top:15px;
    width:341px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../Address_Errors_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:179px;
    top:644px;
    width:371px;
    height:38px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:377px;
    height:44px;
}

.u5 {
    position:absolute;
    left:20px;
    top:15px;
    width:341px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../Address_Errors_files/u4_normal.png');
}

.u6_container {
    position:absolute;
    left:178px;
    top:154px;
    width:371px;
    height:38px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:377px;
    height:44px;
}

.u7 {
    position:absolute;
    left:20px;
    top:15px;
    width:341px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:190px;
    top:160px;
    width:330px;
    height:27px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../You_Have___Items_files/u173_normal.png');
}

.u9_container {
    position:absolute;
    left:190px;
    top:23px;
    width:16px;
    height:16px;
}

#u9_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u10 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:216px;
    top:18px;
    width:430px;
    height:27px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:197px;
    top:430px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:197px;
    top:487px;
    width:105px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:402px;
    top:487px;
    width:55px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:462px;
    top:486px;
    width:65px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:197px;
    top:450px;
    width:330px;
    height:22px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u18 {
    position:absolute;
    left:197px;
    top:507px;
    width:195px;
    height:22px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u19 {
    position:absolute;
    left:402px;
    top:507px;
    width:50px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u20 {
    position:absolute;
    left:462px;
    top:507px;
    width:65px;
    height:22px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#u21 {
    position:absolute;
    left:532px;
    top:450px;
    width:176px;
    height:22px;
    overflow:hidden;
}

#pd0u21 {
    position:absolute;
    left:0px;
    top:0px;
    width:176px;
    height:22px;
    
}

.u22_normal {
    background-image: url('../Address_Errors_files/u22_normal.png');
}

.u22_container {
    position:absolute;
    left:0px;
    top:0px;
    width:12px;
    height:21px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:18px;
    height:27px;
}

.u23 {
    position:absolute;
    left:2px;
    top:2px;
    width:8px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../Address_Errors_files/u24_normal.png');
}

.u24_container {
    position:absolute;
    left:12px;
    top:0px;
    width:138px;
    height:21px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:144px;
    height:27px;
}

.u25 {
    position:absolute;
    left:2px;
    top:2px;
    width:134px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:16px;
    top:3px;
    width:139px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u27 {
    position:absolute;
    left:532px;
    top:507px;
    width:176px;
    height:22px;
    overflow:hidden;
}

#pd0u27 {
    position:absolute;
    left:0px;
    top:0px;
    width:176px;
    height:22px;
    
}

.u28_normal {
    background-image: url('../Address_Errors_files/u22_normal.png');
}

.u28_container {
    position:absolute;
    left:0px;
    top:0px;
    width:12px;
    height:21px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:18px;
    height:27px;
}

.u29 {
    position:absolute;
    left:2px;
    top:2px;
    width:8px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../Address_Errors_files/u30_normal.png');
}

.u30_container {
    position:absolute;
    left:12px;
    top:0px;
    width:163px;
    height:21px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:169px;
    height:27px;
}

.u31 {
    position:absolute;
    left:2px;
    top:2px;
    width:159px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:16px;
    top:3px;
    width:174px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:197px;
    top:318px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:197px;
    top:207px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:197px;
    top:227px;
    width:330px;
    height:22px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u36 {
    position:absolute;
    left:197px;
    top:263px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:197px;
    top:283px;
    width:330px;
    height:22px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#u38 {
    position:absolute;
    left:197px;
    top:571px;
    width:331px;
    height:43px;
    overflow:hidden;
}

#pd0u38 {
    position:absolute;
    left:0px;
    top:0px;
    width:331px;
    height:43px;
    
}

.u39 {
    position:absolute;
    left:0px;
    top:0px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:0px;
    top:20px;
    width:330px;
    height:22px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u42 {
    position:absolute;
    left:16px;
    top:0px;
    width:177px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u43 {
    position:absolute;
    left:197px;
    top:341px;
    width:16px;
    height:11px;
    overflow:hidden;
}

#pd0u43 {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:11px;
    
}

.u44 {
    position:absolute;
    left:0px;
    top:0px;
    width:195px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u45 {
    position:absolute;
    left:197px;
    top:338px;
    width:330px;
    height:22px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#999999;
    font-style:italic;
    font-weight:normal;
    text-decoration:none;
    
}

.u46 {
    position:absolute;
    left:190px;
    top:318px;
    width:7px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47 {
    position:absolute;
    left:190px;
    top:263px;
    width:7px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48 {
    position:absolute;
    left:190px;
    top:207px;
    width:7px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49 {
    position:absolute;
    left:189px;
    top:430px;
    width:7px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:395px;
    top:487px;
    width:7px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51 {
    position:absolute;
    left:455px;
    top:487px;
    width:7px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52 {
    position:absolute;
    left:190px;
    top:650px;
    width:360px;
    height:27px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u53 {
    position:absolute;
    left:178px;
    top:712px;
    width:519px;
    height:407px;
    overflow:hidden;
}

#pd1u53 {
    position:absolute;
    left:0px;
    top:0px;
    width:519px;
    height:407px;
    
}

.u54 {
    position:absolute;
    left:8px;
    top:223px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55 {
    position:absolute;
    left:8px;
    top:280px;
    width:105px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56 {
    position:absolute;
    left:213px;
    top:280px;
    width:55px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57 {
    position:absolute;
    left:273px;
    top:279px;
    width:65px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58 {
    position:absolute;
    left:8px;
    top:243px;
    width:330px;
    height:22px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u59 {
    position:absolute;
    left:8px;
    top:300px;
    width:195px;
    height:22px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u60 {
    position:absolute;
    left:213px;
    top:300px;
    width:50px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u61 {
    position:absolute;
    left:273px;
    top:300px;
    width:65px;
    height:22px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#u62 {
    position:absolute;
    left:343px;
    top:243px;
    width:176px;
    height:22px;
    overflow:hidden;
}

#pd0u62 {
    position:absolute;
    left:0px;
    top:0px;
    width:176px;
    height:22px;
    
}

.u63_normal {
    background-image: url('../Address_Errors_files/u22_normal.png');
}

.u63_container {
    position:absolute;
    left:0px;
    top:0px;
    width:12px;
    height:21px;
}

#u63_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:18px;
    height:27px;
}

.u64 {
    position:absolute;
    left:2px;
    top:2px;
    width:8px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_normal {
    background-image: url('../Address_Errors_files/u24_normal.png');
}

.u65_container {
    position:absolute;
    left:12px;
    top:0px;
    width:138px;
    height:21px;
}

#u65_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:144px;
    height:27px;
}

.u66 {
    position:absolute;
    left:2px;
    top:2px;
    width:134px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67 {
    position:absolute;
    left:16px;
    top:3px;
    width:139px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u68 {
    position:absolute;
    left:343px;
    top:300px;
    width:176px;
    height:22px;
    overflow:hidden;
}

#pd0u68 {
    position:absolute;
    left:0px;
    top:0px;
    width:176px;
    height:22px;
    
}

.u69_normal {
    background-image: url('../Address_Errors_files/u22_normal.png');
}

.u69_container {
    position:absolute;
    left:0px;
    top:0px;
    width:12px;
    height:21px;
}

#u69_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:18px;
    height:27px;
}

.u70 {
    position:absolute;
    left:2px;
    top:2px;
    width:8px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71_normal {
    background-image: url('../Address_Errors_files/u30_normal.png');
}

.u71_container {
    position:absolute;
    left:12px;
    top:0px;
    width:163px;
    height:21px;
}

#u71_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:169px;
    height:27px;
}

.u72 {
    position:absolute;
    left:2px;
    top:2px;
    width:159px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73 {
    position:absolute;
    left:16px;
    top:3px;
    width:174px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74 {
    position:absolute;
    left:8px;
    top:111px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75 {
    position:absolute;
    left:8px;
    top:0px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u76 {
    position:absolute;
    left:8px;
    top:20px;
    width:330px;
    height:22px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u77 {
    position:absolute;
    left:8px;
    top:56px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78 {
    position:absolute;
    left:8px;
    top:76px;
    width:330px;
    height:22px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#u79 {
    position:absolute;
    left:8px;
    top:364px;
    width:331px;
    height:43px;
    overflow:hidden;
}

#pd0u79 {
    position:absolute;
    left:0px;
    top:0px;
    width:331px;
    height:43px;
    
}

.u80 {
    position:absolute;
    left:0px;
    top:0px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81 {
    position:absolute;
    left:0px;
    top:20px;
    width:330px;
    height:22px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u83 {
    position:absolute;
    left:16px;
    top:0px;
    width:177px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u84 {
    position:absolute;
    left:8px;
    top:134px;
    width:16px;
    height:11px;
    overflow:hidden;
}

#pd0u84 {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:11px;
    
}

.u85 {
    position:absolute;
    left:0px;
    top:0px;
    width:195px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u86 {
    position:absolute;
    left:8px;
    top:131px;
    width:330px;
    height:22px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#999999;
    font-style:italic;
    font-weight:normal;
    text-decoration:none;
    
}

.u87 {
    position:absolute;
    left:1px;
    top:111px;
    width:7px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88 {
    position:absolute;
    left:1px;
    top:56px;
    width:7px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89 {
    position:absolute;
    left:1px;
    top:0px;
    width:7px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u90 {
    position:absolute;
    left:0px;
    top:223px;
    width:7px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91 {
    position:absolute;
    left:1px;
    top:280px;
    width:7px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92 {
    position:absolute;
    left:206px;
    top:280px;
    width:7px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93 {
    position:absolute;
    left:266px;
    top:280px;
    width:7px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94 {
    position:absolute;
    left:8px;
    top:167px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u95 {
    position:absolute;
    left:8px;
    top:190px;
    width:16px;
    height:11px;
    overflow:hidden;
}

#pd0u95 {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:11px;
    
}

.u96 {
    position:absolute;
    left:0px;
    top:0px;
    width:195px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u97 {
    position:absolute;
    left:8px;
    top:187px;
    width:330px;
    height:22px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#999999;
    font-style:italic;
    font-weight:normal;
    text-decoration:none;
    
}

.u98 {
    position:absolute;
    left:1px;
    top:167px;
    width:7px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u53 {
    position:absolute;
    left:0px;
    top:0px;
    width:519px;
    height:407px;
    
}

.u100 {
    position:absolute;
    left:16px;
    top:0px;
    width:315px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101_normal {
    background-image: url('../Address_Errors_files/u101_normal.png');
}

.u101_container {
    position:absolute;
    left:572px;
    top:154px;
    width:218px;
    height:190px;
}

#u101_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:224px;
    height:196px;
}

.u102 {
    position:absolute;
    left:20px;
    top:15px;
    width:188px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103 {
    position:absolute;
    left:587px;
    top:206px;
    width:150px;
    height:45px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u104 {
    position:absolute;
    left:587px;
    top:251px;
    width:186px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105_normal {
    background-image: url('../Address_Errors_files/u105_normal.png');
}

.u105_container {
    position:absolute;
    left:572px;
    top:154px;
    width:218px;
    height:38px;
}

#u105_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:224px;
    height:44px;
}

.u106 {
    position:absolute;
    left:20px;
    top:15px;
    width:188px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107 {
    position:absolute;
    left:572px;
    top:159px;
    width:218px;
    height:27px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u108_mouseOver {
    background-image: url('../Address_Errors_files/Continue_u108_mouseOver.png');
}

.u108_mouseDown {
    background-image: url('../Address_Errors_files/Continue_u108_mouseDown.png');
}

.u108_normal {
    background-image: url('../Address_Errors_files/Continue_u108_normal.png');
}

.u108_container {
    position:absolute;
    left:587px;
    top:289px;
    width:186px;
    height:40px;
}

#u108_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:192px;
    height:46px;
}

.u109 {
    position:absolute;
    left:2px;
    top:12px;
    width:182px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u110 {
    position:absolute;
    left:197px;
    top:374px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u111 {
    position:absolute;
    left:197px;
    top:397px;
    width:16px;
    height:11px;
    overflow:hidden;
}

#pd0u111 {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:11px;
    
}

.u112 {
    position:absolute;
    left:0px;
    top:0px;
    width:195px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u113 {
    position:absolute;
    left:197px;
    top:394px;
    width:330px;
    height:22px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#999999;
    font-style:italic;
    font-weight:normal;
    text-decoration:none;
    
}

.u114 {
    position:absolute;
    left:190px;
    top:374px;
    width:7px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u115_normal {
    background-image: url('../Address_Errors_files/u115_normal.png');
}

.u115_container {
    position:absolute;
    left:176px;
    top:109px;
    width:614px;
    height:25px;
}

#u115_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:620px;
    height:31px;
}

.u116 {
    position:absolute;
    left:2px;
    top:4px;
    width:610px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u117 {
    position:absolute;
    left:192px;
    top:114px;
    width:265px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u118 {
    position:absolute;
    left:240px;
    top:725px;
    width:261px;
    height:41px;
    overflow:hidden;
}

#pd0u118 {
    position:absolute;
    left:0px;
    top:0px;
    width:261px;
    height:41px;
    
}

.u119_mouseOver {
    background-image: url('../Address_Errors_files/BillShip_Continue_u119_mouseOver.png');
}

.u119_mouseDown {
    background-image: url('../Address_Errors_files/BillShip_Continue_u119_mouseDown.png');
}

.u119_normal {
    background-image: url('../Address_Errors_files/BillShip_Continue_u119_normal.png');
}

.u119_container {
    position:absolute;
    left:0px;
    top:0px;
    width:260px;
    height:40px;
}

#u119_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:266px;
    height:46px;
}

.u120 {
    position:absolute;
    left:2px;
    top:12px;
    width:256px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u121 {
    position:absolute;
    left:197px;
    top:449px;
    width:331px;
    height:165px;
    overflow:hidden;
}

#pd1u121 {
    position:absolute;
    left:0px;
    top:0px;
    width:331px;
    height:165px;
    
}

.u122 {
    position:absolute;
    left:9px;
    top:21px;
    width:200px;
    height:45px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u121 {
    position:absolute;
    left:0px;
    top:0px;
    width:331px;
    height:165px;
    
}

.u123_normal {
    background-image: url('../Address_Errors_files/u123_normal.png');
}

.u123_container {
    position:absolute;
    left:0px;
    top:1px;
    width:330px;
    height:161px;
}

#u123_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:336px;
    height:167px;
}

.u124 {
    position:absolute;
    left:2px;
    top:72px;
    width:326px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u125 {
    position:absolute;
    left:13px;
    top:14px;
    width:298px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u126_mouseOver {
    background-image: url('../Address_Errors_files/button_u126_mouseOver.png');
}

.u126_mouseDown {
    background-image: url('../Address_Errors_files/button_u126_mouseDown.png');
}

.u126_normal {
    background-image: url('../Address_Errors_files/button_u126_mouseOver.png');
}

.u126_container {
    position:absolute;
    left:13px;
    top:111px;
    width:137px;
    height:28px;
}

#u126_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:143px;
    height:34px;
}

.u127 {
    position:absolute;
    left:2px;
    top:6px;
    width:133px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u128_mouseOver {
    background-image: url('../Address_Errors_files/why_yes_u128_mouseOver.png');
}

.u128_mouseDown {
    background-image: url('../Address_Errors_files/why_yes_u128_mouseDown.png');
}

.u128_normal {
    background-image: url('../Address_Errors_files/why_yes_u128_normal.png');
}

.u128_container {
    position:absolute;
    left:160px;
    top:111px;
    width:155px;
    height:28px;
}

#u128_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:161px;
    height:34px;
}

.u129 {
    position:absolute;
    left:2px;
    top:6px;
    width:151px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u130_normal {
    background-image: url('../Address_Errors_files/u130_normal.png');
}

.u130_container {
    position:absolute;
    left:13px;
    top:42px;
    width:302px;
    height:50px;
}

#u130_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:308px;
    height:56px;
}

.u131 {
    position:absolute;
    left:2px;
    top:10px;
    width:298px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u132_normal {
    background-image: url('../Address_Errors_files/u132_normal.png');
}

.u132_container {
    position:absolute;
    left:13px;
    top:42px;
    width:302px;
    height:50px;
}

#u132_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:308px;
    height:56px;
}

.u133 {
    position:absolute;
    left:2px;
    top:10px;
    width:298px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u134 {
    position:absolute;
    left:457px;
    top:114px;
    width:91px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u135 {
    position:absolute;
    left:178px;
    top:416px;
    width:60px;
    height:60px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

.u136 {
    position:absolute;
    left:667px;
    top:114px;
    width:123px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

