body {
    margin: 0px;
    text-align: center;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
    position: relative;
    left: -10px;
    width: 661px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0 {
    position:absolute;
    left:227px;
    top:93px;
    width:229px;
    height:45px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u1_normal {
    background-image: url('../ViewCart___Editing_a_cart_item_files/clickable_item_image_u1_normal.png');
}

.u1_container {
    position:absolute;
    left:107px;
    top:73px;
    width:100px;
    height:70px;
}

#u1_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:76px;
}

.u2 {
    position:absolute;
    left:2px;
    top:28px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3 {
    position:absolute;
    left:227px;
    top:73px;
    width:70px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:571px;
    top:101px;
    width:36px;
    height:29px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#666666;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u5 {
    position:absolute;
    left:631px;
    top:107px;
    width:40px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:485px;
    top:99px;
    width:40px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:540px;
    top:106px;
    width:18px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:485px;
    top:115px;
    width:40px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_line {
    background-image: url('../ViewCart___Editing_a_cart_item_files/u9_line.png');
}

.u9_line {
    position:absolute;
    left:0px;
    top:4px;
    width:34px;
    height:3px;
}

.u9 {
    position:absolute;
    left:488px;
    top:118px;
    width:34px;
    height:10px;
    
}

.u10 {
    position:absolute;
    left:227px;
    top:249px;
    width:229px;
    height:45px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../ViewCart___Editing_a_cart_item_files/clickable_item_image_u1_normal.png');
}

.u11_container {
    position:absolute;
    left:107px;
    top:229px;
    width:100px;
    height:70px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:76px;
}

.u12 {
    position:absolute;
    left:2px;
    top:28px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:227px;
    top:229px;
    width:70px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:571px;
    top:257px;
    width:36px;
    height:29px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#666666;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u15 {
    position:absolute;
    left:631px;
    top:263px;
    width:40px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:485px;
    top:255px;
    width:40px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:540px;
    top:262px;
    width:18px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:485px;
    top:271px;
    width:40px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_line {
    background-image: url('../ViewCart___Editing_a_cart_item_files/u19_line.png');
}

.u19_line {
    position:absolute;
    left:0px;
    top:4px;
    width:34px;
    height:3px;
}

.u19 {
    position:absolute;
    left:488px;
    top:274px;
    width:34px;
    height:10px;
    
}

.u20 {
    position:absolute;
    left:571px;
    top:292px;
    width:36px;
    height:6px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21c0 {
    background-image: url('../ViewCart___Editing_a_cart_item_files/u21c0.png');
}

.u21c0 {
    position:absolute;
    left:57px;
    top:113px;
    width:20px;
    height:146px;
}

.u22 {
    position:absolute;
    left:-50px;
    top:58px;
    width:100px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23c0 {
    background-image: url('../ViewCart___Editing_a_cart_item_files/u23c0.png');
}

.u23c0 {
    position:absolute;
    left:579px;
    top:130px;
    width:20px;
    height:130px;
}

.u24 {
    position:absolute;
    left:-50px;
    top:50px;
    width:100px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25c0 {
    background-image: url('../ViewCart___Editing_a_cart_item_files/u25c0.png');
}

.u25c0 {
    position:absolute;
    left:579px;
    top:302px;
    width:20px;
    height:50px;
}

.u25c1 {
    background-image: url('../ViewCart___Editing_a_cart_item_files/u25c1.png');
}

.u25c1 {
    position:absolute;
    left:584px;
    top:332px;
    width:15px;
    height:20px;
}

.u26 {
    position:absolute;
    left:-50px;
    top:10px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../ViewCart___Editing_a_cart_item_files/u27_normal.png');
}

.u27_container {
    position:absolute;
    left:528px;
    top:342px;
    width:121px;
    height:32px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:127px;
    height:38px;
}

.u28 {
    position:absolute;
    left:2px;
    top:5px;
    width:117px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:20px;
    top:20px;
    width:647px;
    height:31px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../ViewCart___Editing_a_cart_item_files/u30_normal.png');
}

.u30_container {
    position:absolute;
    left:61px;
    top:94px;
    width:13px;
    height:13px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:19px;
    height:19px;
}

.u31 {
    position:absolute;
    left:2px;
    top:-2px;
    width:9px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:64px;
    top:98px;
    width:9px;
    height:6px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u33 {
    position:absolute;
    left:61px;
    top:94px;
    width:13px;
    height:13px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

.u34_normal {
    background-image: url('../ViewCart___Editing_a_cart_item_files/u30_normal.png');
}

.u34_container {
    position:absolute;
    left:61px;
    top:258px;
    width:13px;
    height:13px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:19px;
    height:19px;
}

.u35 {
    position:absolute;
    left:2px;
    top:-2px;
    width:9px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:64px;
    top:262px;
    width:9px;
    height:6px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u37 {
    position:absolute;
    left:10px;
    top:256px;
    width:49px;
    height:16px;
    overflow:hidden;
}

#pd0u37 {
    position:absolute;
    left:0px;
    top:0px;
    width:49px;
    height:16px;
    
}

.u38 {
    position:absolute;
    left:0px;
    top:3px;
    width:43px;
    height:10px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u39 {
    position:absolute;
    left:61px;
    top:258px;
    width:13px;
    height:13px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

