body {
    margin: 0px;
    text-align: center;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
    position: relative;
    left: -0px;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../CanWeShip_ZIPEntry_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:960px;
    height:1000px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:966px;
    height:1006px;
}

.u1 {
    position:absolute;
    left:2px;
    top:492px;
    width:956px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u2 {
    position:absolute;
    left:352px;
    top:363px;
    width:227px;
    height:251px;
    overflow:hidden;
}

#pd1u2 {
    position:absolute;
    left:0px;
    top:0px;
    width:227px;
    height:251px;
    
}

.u3_normal {
    background-image: url('../CanWeShip_ZIPEntry_files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:2px;
    top:5px;
    width:224px;
    height:222px;
}

#u3_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:230px;
    height:228px;
}

.u4 {
    position:absolute;
    left:2px;
    top:103px;
    width:220px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../CanWeShip_ZIPEntry_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:0px;
    top:0px;
    width:224px;
    height:225px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:230px;
    height:231px;
}

.u6 {
    position:absolute;
    left:2px;
    top:104px;
    width:220px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_mouseOver {
    background-image: url('../CanWeShip_ZIPEntry_files/continue___Check_ZIP_u7_mouseOver.png');
}

.u7_mouseDown {
    background-image: url('../CanWeShip_ZIPEntry_files/continue___Check_ZIP_u7_mouseDown.png');
}

.u7_normal {
    background-image: url('../CanWeShip_ZIPEntry_files/continue___Check_ZIP_u7_normal.png');
}

.u7_container {
    position:absolute;
    left:16px;
    top:173px;
    width:192px;
    height:40px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:198px;
    height:46px;
}

.u8 {
    position:absolute;
    left:2px;
    top:12px;
    width:188px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u2 {
    position:absolute;
    left:0px;
    top:0px;
    width:227px;
    height:251px;
    
}

.u9_normal {
    background-image: url('../CanWeShip_ZIPEntry_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:2px;
    top:4px;
    width:224px;
    height:158px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:230px;
    height:164px;
}

.u10 {
    position:absolute;
    left:2px;
    top:71px;
    width:220px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../CanWeShip_ZIPEntry_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:0px;
    top:0px;
    width:224px;
    height:160px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:230px;
    height:166px;
}

.u12 {
    position:absolute;
    left:2px;
    top:72px;
    width:220px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u13 {
    position:absolute;
    left:366px;
    top:443px;
    width:193px;
    height:82px;
    overflow:hidden;
}

#pd1u13 {
    position:absolute;
    left:0px;
    top:0px;
    width:193px;
    height:82px;
    
}

.u14_normal {
    background-image: url('../CanWeShip_ZIPEntry_files/u14_normal.png');
}

.u14_container {
    position:absolute;
    left:1px;
    top:20px;
    width:190px;
    height:60px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:196px;
    height:66px;
}

.u15 {
    position:absolute;
    left:2px;
    top:22px;
    width:186px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:10px;
    top:25px;
    width:174px;
    height:54px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:0px;
    top:0px;
    width:114px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../CanWeShip_ZIPEntry_files/u18_normal.png');
}

.u18_container {
    position:absolute;
    left:174px;
    top:64px;
    width:9px;
    height:9px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:15px;
    height:15px;
}

.u19 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:176px;
    top:60px;
    width:5px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:120px;
    top:60px;
    width:56px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u22 {
    position:absolute;
    left:120px;
    top:62px;
    width:64px;
    height:14px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#pd0u13 {
    position:absolute;
    left:0px;
    top:0px;
    width:193px;
    height:82px;
    
}

.u23 {
    position:absolute;
    left:0px;
    top:0px;
    width:114px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_mouseOver {
    background-image: url('../CanWeShip_ZIPEntry_files/continue___Check_ZIP_u7_mouseOver.png');
}

.u24_mouseDown {
    background-image: url('../CanWeShip_ZIPEntry_files/continue___Check_ZIP_u7_mouseDown.png');
}

.u24_normal {
    background-image: url('../CanWeShip_ZIPEntry_files/continue___Check_ZIP_u7_normal.png');
}

.u24_container {
    position:absolute;
    left:0px;
    top:25px;
    width:192px;
    height:40px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:198px;
    height:46px;
}

.u25 {
    position:absolute;
    left:2px;
    top:12px;
    width:188px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../CanWeShip_ZIPEntry_files/u26_normal.png');
}

.u26_container {
    position:absolute;
    left:352px;
    top:363px;
    width:224px;
    height:30px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:230px;
    height:36px;
}

.u27 {
    position:absolute;
    left:2px;
    top:7px;
    width:220px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:360px;
    top:370px;
    width:187px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:532px;
    top:370px;
    width:36px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:366px;
    top:408px;
    width:192px;
    height:32px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#666666;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

