body {
    margin: 0px;
    text-align: center;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
    position: relative;
    left: -162px;
    width: 636px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Address_Errors_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:162px;
    top:9px;
    width:636px;
    height:1167px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:642px;
    height:1173px;
}

.u1 {
    position:absolute;
    left:20px;
    top:15px;
    width:606px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../Address_Errors_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:178px;
    top:192px;
    width:371px;
    height:432px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:377px;
    height:438px;
}

.u3 {
    position:absolute;
    left:20px;
    top:15px;
    width:341px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../Address_Errors_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:179px;
    top:644px;
    width:371px;
    height:38px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:377px;
    height:44px;
}

.u5 {
    position:absolute;
    left:20px;
    top:15px;
    width:341px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../Address_Errors_files/u4_normal.png');
}

.u6_container {
    position:absolute;
    left:178px;
    top:154px;
    width:371px;
    height:38px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:377px;
    height:44px;
}

.u7 {
    position:absolute;
    left:20px;
    top:15px;
    width:341px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:190px;
    top:160px;
    width:330px;
    height:27px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u9 {
    position:absolute;
    left:181px;
    top:55px;
    width:600px;
    height:36px;
    overflow:hidden;
}

#pd4u9 {
    position:absolute;
    left:0px;
    top:0px;
    width:600px;
    height:36px;
    
}

.u10_normal {
    background-image: url('../progress_indicator_files/u1_normal.png');
}

.u10_container {
    position:absolute;
    left:30px;
    top:6px;
    width:85px;
    height:23px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:91px;
    height:29px;
}

.u11 {
    position:absolute;
    left:2px;
    top:4px;
    width:81px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../progress_indicator_files/u3_normal.png');
}

.u12_container {
    position:absolute;
    left:110px;
    top:1px;
    width:35px;
    height:33px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:41px;
    height:39px;
}

.u13 {
    position:absolute;
    left:2px;
    top:8px;
    width:31px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../progress_indicator_files/u5_normal.png');
}

.u14_container {
    position:absolute;
    left:0px;
    top:1px;
    width:35px;
    height:33px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:41px;
    height:39px;
}

.u15 {
    position:absolute;
    left:2px;
    top:8px;
    width:31px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:40px;
    top:11px;
    width:65px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../progress_indicator_files/u8_normal.png');
}

.u17_container {
    position:absolute;
    left:140px;
    top:6px;
    width:130px;
    height:23px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:136px;
    height:29px;
}

.u18 {
    position:absolute;
    left:2px;
    top:4px;
    width:126px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:145px;
    top:11px;
    width:39px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../progress_indicator_files/u11_normal.png');
}

.u20_container {
    position:absolute;
    left:205px;
    top:1px;
    width:35px;
    height:33px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:41px;
    height:39px;
}

.u21 {
    position:absolute;
    left:2px;
    top:8px;
    width:31px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../progress_indicator_files/u13_normal.png');
}

.u22_container {
    position:absolute;
    left:235px;
    top:6px;
    width:130px;
    height:23px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:136px;
    height:29px;
}

.u23 {
    position:absolute;
    left:2px;
    top:4px;
    width:126px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:240px;
    top:11px;
    width:107px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../progress_indicator_files/u11_normal.png');
}

.u25_container {
    position:absolute;
    left:344px;
    top:1px;
    width:35px;
    height:33px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:41px;
    height:39px;
}

.u26 {
    position:absolute;
    left:2px;
    top:8px;
    width:31px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../progress_indicator_files/u18_normal.png');
}

.u27_container {
    position:absolute;
    left:375px;
    top:6px;
    width:106px;
    height:23px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:112px;
    height:29px;
}

.u28 {
    position:absolute;
    left:2px;
    top:4px;
    width:102px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:381px;
    top:11px;
    width:84px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../progress_indicator_files/u21_normal.png');
}

.u30_container {
    position:absolute;
    left:473px;
    top:1px;
    width:35px;
    height:33px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:41px;
    height:39px;
}

.u31 {
    position:absolute;
    left:2px;
    top:8px;
    width:31px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../progress_indicator_files/u23_normal.png');
}

.u32_container {
    position:absolute;
    left:503px;
    top:6px;
    width:96px;
    height:23px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:102px;
    height:29px;
}

.u33 {
    position:absolute;
    left:2px;
    top:4px;
    width:92px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:513px;
    top:12px;
    width:84px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd3u9 {
    position:absolute;
    left:0px;
    top:0px;
    width:600px;
    height:36px;
    
}

.u35_normal {
    background-image: url('../progress_indicator_files/u1_normal.png');
}

.u35_container {
    position:absolute;
    left:30px;
    top:6px;
    width:85px;
    height:23px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:91px;
    height:29px;
}

.u36 {
    position:absolute;
    left:2px;
    top:4px;
    width:81px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../progress_indicator_files/u3_normal.png');
}

.u37_container {
    position:absolute;
    left:110px;
    top:1px;
    width:35px;
    height:33px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:41px;
    height:39px;
}

.u38 {
    position:absolute;
    left:2px;
    top:8px;
    width:31px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../progress_indicator_files/u5_normal.png');
}

.u39_container {
    position:absolute;
    left:0px;
    top:1px;
    width:35px;
    height:33px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:41px;
    height:39px;
}

.u40 {
    position:absolute;
    left:2px;
    top:8px;
    width:31px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:40px;
    top:11px;
    width:60px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../progress_indicator_files/u8_normal.png');
}

.u42_container {
    position:absolute;
    left:140px;
    top:6px;
    width:130px;
    height:23px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:136px;
    height:29px;
}

.u43 {
    position:absolute;
    left:2px;
    top:4px;
    width:126px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:145px;
    top:11px;
    width:50px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_normal {
    background-image: url('../progress_indicator_files/u36_normal.png');
}

.u45_container {
    position:absolute;
    left:481px;
    top:6px;
    width:118px;
    height:23px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:124px;
    height:29px;
}

.u46 {
    position:absolute;
    left:2px;
    top:4px;
    width:114px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_normal {
    background-image: url('../progress_indicator_files/u11_normal.png');
}

.u47_container {
    position:absolute;
    left:205px;
    top:1px;
    width:35px;
    height:33px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:41px;
    height:39px;
}

.u48 {
    position:absolute;
    left:2px;
    top:8px;
    width:31px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_normal {
    background-image: url('../progress_indicator_files/u13_normal.png');
}

.u49_container {
    position:absolute;
    left:235px;
    top:6px;
    width:130px;
    height:23px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:136px;
    height:29px;
}

.u50 {
    position:absolute;
    left:2px;
    top:4px;
    width:126px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51 {
    position:absolute;
    left:240px;
    top:11px;
    width:99px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52_normal {
    background-image: url('../progress_indicator_files/u21_normal.png');
}

.u52_container {
    position:absolute;
    left:344px;
    top:1px;
    width:35px;
    height:33px;
}

#u52_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:41px;
    height:39px;
}

.u53 {
    position:absolute;
    left:2px;
    top:8px;
    width:31px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54_normal {
    background-image: url('../progress_indicator_files/u45_normal.png');
}

.u54_container {
    position:absolute;
    left:375px;
    top:6px;
    width:106px;
    height:23px;
}

#u54_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:112px;
    height:29px;
}

.u55 {
    position:absolute;
    left:2px;
    top:4px;
    width:102px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56 {
    position:absolute;
    left:381px;
    top:12px;
    width:90px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57 {
    position:absolute;
    left:513px;
    top:12px;
    width:84px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58_normal {
    background-image: url('../progress_indicator_files/u49_normal.png');
}

.u58_container {
    position:absolute;
    left:473px;
    top:1px;
    width:35px;
    height:33px;
}

#u58_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:41px;
    height:39px;
}

.u59 {
    position:absolute;
    left:2px;
    top:8px;
    width:31px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd2u9 {
    position:absolute;
    left:0px;
    top:0px;
    width:600px;
    height:36px;
    
}

.u60_normal {
    background-image: url('../progress_indicator_files/u1_normal.png');
}

.u60_container {
    position:absolute;
    left:30px;
    top:6px;
    width:85px;
    height:23px;
}

#u60_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:91px;
    height:29px;
}

.u61 {
    position:absolute;
    left:2px;
    top:4px;
    width:81px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62_normal {
    background-image: url('../progress_indicator_files/u3_normal.png');
}

.u62_container {
    position:absolute;
    left:110px;
    top:1px;
    width:35px;
    height:33px;
}

#u62_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:41px;
    height:39px;
}

.u63 {
    position:absolute;
    left:2px;
    top:8px;
    width:31px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64_normal {
    background-image: url('../progress_indicator_files/u5_normal.png');
}

.u64_container {
    position:absolute;
    left:0px;
    top:1px;
    width:35px;
    height:33px;
}

#u64_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:41px;
    height:39px;
}

.u65 {
    position:absolute;
    left:2px;
    top:8px;
    width:31px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66 {
    position:absolute;
    left:40px;
    top:11px;
    width:60px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67_normal {
    background-image: url('../progress_indicator_files/u8_normal.png');
}

.u67_container {
    position:absolute;
    left:140px;
    top:6px;
    width:130px;
    height:23px;
}

#u67_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:136px;
    height:29px;
}

.u68 {
    position:absolute;
    left:2px;
    top:4px;
    width:126px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69 {
    position:absolute;
    left:145px;
    top:11px;
    width:50px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70_normal {
    background-image: url('../progress_indicator_files/u61_normal.png');
}

.u70_container {
    position:absolute;
    left:355px;
    top:6px;
    width:244px;
    height:23px;
}

#u70_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:250px;
    height:29px;
}

.u71 {
    position:absolute;
    left:2px;
    top:4px;
    width:240px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72_normal {
    background-image: url('../progress_indicator_files/u21_normal.png');
}

.u72_container {
    position:absolute;
    left:205px;
    top:1px;
    width:35px;
    height:33px;
}

#u72_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:41px;
    height:39px;
}

.u73 {
    position:absolute;
    left:2px;
    top:8px;
    width:31px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74_normal {
    background-image: url('../progress_indicator_files/u65_normal.png');
}

.u74_container {
    position:absolute;
    left:235px;
    top:6px;
    width:130px;
    height:23px;
}

#u74_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:136px;
    height:29px;
}

.u75 {
    position:absolute;
    left:2px;
    top:4px;
    width:126px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u76 {
    position:absolute;
    left:240px;
    top:11px;
    width:99px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77_normal {
    background-image: url('../progress_indicator_files/u49_normal.png');
}

.u77_container {
    position:absolute;
    left:344px;
    top:1px;
    width:35px;
    height:33px;
}

#u77_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:41px;
    height:39px;
}

.u78 {
    position:absolute;
    left:2px;
    top:8px;
    width:31px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79 {
    position:absolute;
    left:381px;
    top:12px;
    width:90px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80 {
    position:absolute;
    left:513px;
    top:12px;
    width:84px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81_normal {
    background-image: url('../progress_indicator_files/u49_normal.png');
}

.u81_container {
    position:absolute;
    left:473px;
    top:1px;
    width:35px;
    height:33px;
}

#u81_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:41px;
    height:39px;
}

.u82 {
    position:absolute;
    left:2px;
    top:8px;
    width:31px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd1u9 {
    position:absolute;
    left:0px;
    top:0px;
    width:600px;
    height:36px;
    
}

.u83_normal {
    background-image: url('../progress_indicator_files/u74_normal.png');
}

.u83_container {
    position:absolute;
    left:30px;
    top:5px;
    width:130px;
    height:25px;
}

#u83_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:136px;
    height:31px;
}

.u84 {
    position:absolute;
    left:2px;
    top:4px;
    width:126px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85_normal {
    background-image: url('../progress_indicator_files/u76_normal.png');
}

.u85_container {
    position:absolute;
    left:110px;
    top:0px;
    width:35px;
    height:35px;
}

#u85_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:41px;
    height:41px;
}

.u86 {
    position:absolute;
    left:2px;
    top:9px;
    width:31px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87_normal {
    background-image: url('../progress_indicator_files/u78_normal.png');
}

.u87_container {
    position:absolute;
    left:0px;
    top:0px;
    width:35px;
    height:35px;
}

#u87_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:41px;
    height:41px;
}

.u88 {
    position:absolute;
    left:2px;
    top:9px;
    width:31px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89 {
    position:absolute;
    left:40px;
    top:11px;
    width:70px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u90_normal {
    background-image: url('../progress_indicator_files/u81_normal.png');
}

.u90_container {
    position:absolute;
    left:140px;
    top:5px;
    width:130px;
    height:25px;
}

#u90_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:136px;
    height:31px;
}

.u91 {
    position:absolute;
    left:2px;
    top:4px;
    width:126px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92 {
    position:absolute;
    left:145px;
    top:11px;
    width:55px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93_normal {
    background-image: url('../progress_indicator_files/u84_normal.png');
}

.u93_container {
    position:absolute;
    left:232px;
    top:5px;
    width:367px;
    height:25px;
}

#u93_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:373px;
    height:31px;
}

.u94 {
    position:absolute;
    left:2px;
    top:4px;
    width:363px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95_normal {
    background-image: url('../progress_indicator_files/u86_normal.png');
}

.u95_container {
    position:absolute;
    left:344px;
    top:0px;
    width:35px;
    height:35px;
}

#u95_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:41px;
    height:41px;
}

.u96 {
    position:absolute;
    left:2px;
    top:9px;
    width:31px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97 {
    position:absolute;
    left:381px;
    top:12px;
    width:90px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98 {
    position:absolute;
    left:513px;
    top:12px;
    width:84px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99_normal {
    background-image: url('../progress_indicator_files/u86_normal.png');
}

.u99_container {
    position:absolute;
    left:473px;
    top:0px;
    width:35px;
    height:35px;
}

#u99_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:41px;
    height:41px;
}

.u100 {
    position:absolute;
    left:2px;
    top:9px;
    width:31px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101_normal {
    background-image: url('../progress_indicator_files/u86_normal.png');
}

.u101_container {
    position:absolute;
    left:205px;
    top:0px;
    width:35px;
    height:35px;
}

#u101_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:41px;
    height:41px;
}

.u102 {
    position:absolute;
    left:2px;
    top:9px;
    width:31px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103 {
    position:absolute;
    left:240px;
    top:11px;
    width:99px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u9 {
    position:absolute;
    left:0px;
    top:0px;
    width:600px;
    height:36px;
    
}

.u104_normal {
    background-image: url('../progress_indicator_files/u21_normal.png');
}

.u104_container {
    position:absolute;
    left:0px;
    top:1px;
    width:35px;
    height:33px;
}

#u104_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:41px;
    height:39px;
}

.u105 {
    position:absolute;
    left:2px;
    top:8px;
    width:31px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u106_normal {
    background-image: url('../progress_indicator_files/u97_normal.png');
}

.u106_container {
    position:absolute;
    left:30px;
    top:6px;
    width:90px;
    height:23px;
}

#u106_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:29px;
}

.u107 {
    position:absolute;
    left:2px;
    top:4px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u108_normal {
    background-image: url('../progress_indicator_files/u99_normal.png');
}

.u108_container {
    position:absolute;
    left:110px;
    top:1px;
    width:35px;
    height:33px;
}

#u108_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:41px;
    height:39px;
}

.u109 {
    position:absolute;
    left:2px;
    top:8px;
    width:31px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u110 {
    position:absolute;
    left:40px;
    top:11px;
    width:70px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u111_normal {
    background-image: url('../progress_indicator_files/u102_normal.png');
}

.u111_container {
    position:absolute;
    left:140px;
    top:6px;
    width:130px;
    height:23px;
}

#u111_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:136px;
    height:29px;
}

.u112 {
    position:absolute;
    left:2px;
    top:4px;
    width:126px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u113 {
    position:absolute;
    left:145px;
    top:11px;
    width:55px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u114_normal {
    background-image: url('../progress_indicator_files/u105_normal.png');
}

.u114_container {
    position:absolute;
    left:232px;
    top:6px;
    width:367px;
    height:23px;
}

#u114_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:373px;
    height:29px;
}

.u115 {
    position:absolute;
    left:2px;
    top:4px;
    width:363px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u116_normal {
    background-image: url('../progress_indicator_files/u49_normal.png');
}

.u116_container {
    position:absolute;
    left:344px;
    top:1px;
    width:35px;
    height:33px;
}

#u116_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:41px;
    height:39px;
}

.u117 {
    position:absolute;
    left:2px;
    top:8px;
    width:31px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u118 {
    position:absolute;
    left:381px;
    top:12px;
    width:90px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u119 {
    position:absolute;
    left:513px;
    top:12px;
    width:84px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u120_normal {
    background-image: url('../progress_indicator_files/u49_normal.png');
}

.u120_container {
    position:absolute;
    left:473px;
    top:1px;
    width:35px;
    height:33px;
}

#u120_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:41px;
    height:39px;
}

.u121 {
    position:absolute;
    left:2px;
    top:8px;
    width:31px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u122_normal {
    background-image: url('../progress_indicator_files/u49_normal.png');
}

.u122_container {
    position:absolute;
    left:205px;
    top:1px;
    width:35px;
    height:33px;
}

#u122_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:41px;
    height:39px;
}

.u123 {
    position:absolute;
    left:2px;
    top:8px;
    width:31px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u124 {
    position:absolute;
    left:240px;
    top:11px;
    width:99px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u126_normal {
    background-image: url('../You_Have___Items_files/u193_normal.png');
}

.u126_container {
    position:absolute;
    left:190px;
    top:23px;
    width:16px;
    height:16px;
}

#u126_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u127 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u128 {
    position:absolute;
    left:216px;
    top:18px;
    width:430px;
    height:27px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u130 {
    position:absolute;
    left:197px;
    top:430px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u131 {
    position:absolute;
    left:197px;
    top:487px;
    width:105px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u132 {
    position:absolute;
    left:402px;
    top:487px;
    width:55px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u133 {
    position:absolute;
    left:462px;
    top:486px;
    width:65px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u134 {
    position:absolute;
    left:197px;
    top:450px;
    width:330px;
    height:22px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u135 {
    position:absolute;
    left:197px;
    top:507px;
    width:195px;
    height:22px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u136 {
    position:absolute;
    left:402px;
    top:507px;
    width:50px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u137 {
    position:absolute;
    left:462px;
    top:507px;
    width:65px;
    height:22px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#u138 {
    position:absolute;
    left:532px;
    top:450px;
    width:176px;
    height:22px;
    overflow:hidden;
}

#pd0u138 {
    position:absolute;
    left:0px;
    top:0px;
    width:176px;
    height:22px;
    
}

.u139_normal {
    background-image: url('../Address_Errors_files/u139_normal.png');
}

.u139_container {
    position:absolute;
    left:0px;
    top:0px;
    width:12px;
    height:21px;
}

#u139_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:18px;
    height:27px;
}

.u140 {
    position:absolute;
    left:2px;
    top:2px;
    width:8px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u141_normal {
    background-image: url('../Address_Errors_files/u141_normal.png');
}

.u141_container {
    position:absolute;
    left:12px;
    top:0px;
    width:138px;
    height:21px;
}

#u141_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:144px;
    height:27px;
}

.u142 {
    position:absolute;
    left:2px;
    top:2px;
    width:134px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u143 {
    position:absolute;
    left:16px;
    top:3px;
    width:139px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u144 {
    position:absolute;
    left:532px;
    top:507px;
    width:176px;
    height:22px;
    overflow:hidden;
}

#pd0u144 {
    position:absolute;
    left:0px;
    top:0px;
    width:176px;
    height:22px;
    
}

.u145_normal {
    background-image: url('../Address_Errors_files/u139_normal.png');
}

.u145_container {
    position:absolute;
    left:0px;
    top:0px;
    width:12px;
    height:21px;
}

#u145_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:18px;
    height:27px;
}

.u146 {
    position:absolute;
    left:2px;
    top:2px;
    width:8px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u147_normal {
    background-image: url('../Address_Errors_files/u147_normal.png');
}

.u147_container {
    position:absolute;
    left:12px;
    top:0px;
    width:163px;
    height:21px;
}

#u147_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:169px;
    height:27px;
}

.u148 {
    position:absolute;
    left:2px;
    top:2px;
    width:159px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u149 {
    position:absolute;
    left:16px;
    top:3px;
    width:174px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u150 {
    position:absolute;
    left:197px;
    top:318px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u151 {
    position:absolute;
    left:197px;
    top:207px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u152 {
    position:absolute;
    left:197px;
    top:227px;
    width:330px;
    height:22px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u153 {
    position:absolute;
    left:197px;
    top:263px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u154 {
    position:absolute;
    left:197px;
    top:283px;
    width:330px;
    height:22px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#u155 {
    position:absolute;
    left:197px;
    top:571px;
    width:331px;
    height:43px;
    overflow:hidden;
}

#pd0u155 {
    position:absolute;
    left:0px;
    top:0px;
    width:331px;
    height:43px;
    
}

.u156 {
    position:absolute;
    left:0px;
    top:0px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u157 {
    position:absolute;
    left:0px;
    top:20px;
    width:330px;
    height:22px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u159 {
    position:absolute;
    left:16px;
    top:0px;
    width:177px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u160 {
    position:absolute;
    left:197px;
    top:341px;
    width:16px;
    height:11px;
    overflow:hidden;
}

#pd0u160 {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:11px;
    
}

.u161 {
    position:absolute;
    left:0px;
    top:0px;
    width:195px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u162 {
    position:absolute;
    left:197px;
    top:338px;
    width:330px;
    height:22px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#999999;
    font-style:italic;
    font-weight:normal;
    text-decoration:none;
    
}

.u163 {
    position:absolute;
    left:190px;
    top:318px;
    width:7px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u164 {
    position:absolute;
    left:190px;
    top:263px;
    width:7px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u165 {
    position:absolute;
    left:190px;
    top:207px;
    width:7px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u166 {
    position:absolute;
    left:189px;
    top:430px;
    width:7px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u167 {
    position:absolute;
    left:395px;
    top:487px;
    width:7px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u168 {
    position:absolute;
    left:455px;
    top:487px;
    width:7px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u169 {
    position:absolute;
    left:190px;
    top:650px;
    width:360px;
    height:27px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u170 {
    position:absolute;
    left:178px;
    top:712px;
    width:519px;
    height:407px;
    overflow:hidden;
}

#pd1u170 {
    position:absolute;
    left:0px;
    top:0px;
    width:519px;
    height:407px;
    
}

.u171 {
    position:absolute;
    left:8px;
    top:223px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u172 {
    position:absolute;
    left:8px;
    top:280px;
    width:105px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u173 {
    position:absolute;
    left:213px;
    top:280px;
    width:55px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u174 {
    position:absolute;
    left:273px;
    top:279px;
    width:65px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u175 {
    position:absolute;
    left:8px;
    top:243px;
    width:330px;
    height:22px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u176 {
    position:absolute;
    left:8px;
    top:300px;
    width:195px;
    height:22px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u177 {
    position:absolute;
    left:213px;
    top:300px;
    width:50px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u178 {
    position:absolute;
    left:273px;
    top:300px;
    width:65px;
    height:22px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#u179 {
    position:absolute;
    left:343px;
    top:243px;
    width:176px;
    height:22px;
    overflow:hidden;
}

#pd0u179 {
    position:absolute;
    left:0px;
    top:0px;
    width:176px;
    height:22px;
    
}

.u180_normal {
    background-image: url('../Address_Errors_files/u139_normal.png');
}

.u180_container {
    position:absolute;
    left:0px;
    top:0px;
    width:12px;
    height:21px;
}

#u180_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:18px;
    height:27px;
}

.u181 {
    position:absolute;
    left:2px;
    top:2px;
    width:8px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u182_normal {
    background-image: url('../Address_Errors_files/u141_normal.png');
}

.u182_container {
    position:absolute;
    left:12px;
    top:0px;
    width:138px;
    height:21px;
}

#u182_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:144px;
    height:27px;
}

.u183 {
    position:absolute;
    left:2px;
    top:2px;
    width:134px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u184 {
    position:absolute;
    left:16px;
    top:3px;
    width:139px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u185 {
    position:absolute;
    left:343px;
    top:300px;
    width:176px;
    height:22px;
    overflow:hidden;
}

#pd0u185 {
    position:absolute;
    left:0px;
    top:0px;
    width:176px;
    height:22px;
    
}

.u186_normal {
    background-image: url('../Address_Errors_files/u139_normal.png');
}

.u186_container {
    position:absolute;
    left:0px;
    top:0px;
    width:12px;
    height:21px;
}

#u186_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:18px;
    height:27px;
}

.u187 {
    position:absolute;
    left:2px;
    top:2px;
    width:8px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u188_normal {
    background-image: url('../Address_Errors_files/u147_normal.png');
}

.u188_container {
    position:absolute;
    left:12px;
    top:0px;
    width:163px;
    height:21px;
}

#u188_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:169px;
    height:27px;
}

.u189 {
    position:absolute;
    left:2px;
    top:2px;
    width:159px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u190 {
    position:absolute;
    left:16px;
    top:3px;
    width:174px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u191 {
    position:absolute;
    left:8px;
    top:111px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u192 {
    position:absolute;
    left:8px;
    top:0px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u193 {
    position:absolute;
    left:8px;
    top:20px;
    width:330px;
    height:22px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u194 {
    position:absolute;
    left:8px;
    top:56px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u195 {
    position:absolute;
    left:8px;
    top:76px;
    width:330px;
    height:22px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#u196 {
    position:absolute;
    left:8px;
    top:364px;
    width:331px;
    height:43px;
    overflow:hidden;
}

#pd0u196 {
    position:absolute;
    left:0px;
    top:0px;
    width:331px;
    height:43px;
    
}

.u197 {
    position:absolute;
    left:0px;
    top:0px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u198 {
    position:absolute;
    left:0px;
    top:20px;
    width:330px;
    height:22px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u200 {
    position:absolute;
    left:16px;
    top:0px;
    width:177px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u201 {
    position:absolute;
    left:8px;
    top:134px;
    width:16px;
    height:11px;
    overflow:hidden;
}

#pd0u201 {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:11px;
    
}

.u202 {
    position:absolute;
    left:0px;
    top:0px;
    width:195px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u203 {
    position:absolute;
    left:8px;
    top:131px;
    width:330px;
    height:22px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#999999;
    font-style:italic;
    font-weight:normal;
    text-decoration:none;
    
}

.u204 {
    position:absolute;
    left:1px;
    top:111px;
    width:7px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u205 {
    position:absolute;
    left:1px;
    top:56px;
    width:7px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u206 {
    position:absolute;
    left:1px;
    top:0px;
    width:7px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u207 {
    position:absolute;
    left:0px;
    top:223px;
    width:7px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u208 {
    position:absolute;
    left:1px;
    top:280px;
    width:7px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u209 {
    position:absolute;
    left:206px;
    top:280px;
    width:7px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u210 {
    position:absolute;
    left:266px;
    top:280px;
    width:7px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u211 {
    position:absolute;
    left:8px;
    top:167px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u212 {
    position:absolute;
    left:8px;
    top:190px;
    width:16px;
    height:11px;
    overflow:hidden;
}

#pd0u212 {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:11px;
    
}

.u213 {
    position:absolute;
    left:0px;
    top:0px;
    width:195px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u214 {
    position:absolute;
    left:8px;
    top:187px;
    width:330px;
    height:22px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#999999;
    font-style:italic;
    font-weight:normal;
    text-decoration:none;
    
}

.u215 {
    position:absolute;
    left:1px;
    top:167px;
    width:7px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u170 {
    position:absolute;
    left:0px;
    top:0px;
    width:519px;
    height:407px;
    
}

.u217 {
    position:absolute;
    left:16px;
    top:0px;
    width:315px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u218_normal {
    background-image: url('../Address_Errors_files/u218_normal.png');
}

.u218_container {
    position:absolute;
    left:572px;
    top:154px;
    width:218px;
    height:190px;
}

#u218_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:224px;
    height:196px;
}

.u219 {
    position:absolute;
    left:20px;
    top:15px;
    width:188px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u220 {
    position:absolute;
    left:587px;
    top:206px;
    width:150px;
    height:45px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u221 {
    position:absolute;
    left:587px;
    top:251px;
    width:186px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u222_normal {
    background-image: url('../Address_Errors_files/u222_normal.png');
}

.u222_container {
    position:absolute;
    left:572px;
    top:154px;
    width:218px;
    height:38px;
}

#u222_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:224px;
    height:44px;
}

.u223 {
    position:absolute;
    left:20px;
    top:15px;
    width:188px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u224 {
    position:absolute;
    left:572px;
    top:159px;
    width:218px;
    height:27px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u225_mouseOver {
    background-image: url('../Address_Errors_files/Continue_u225_mouseOver.png');
}

.u225_mouseDown {
    background-image: url('../Address_Errors_files/Continue_u225_mouseDown.png');
}

.u225_normal {
    background-image: url('../Address_Errors_files/Continue_u225_normal.png');
}

.u225_container {
    position:absolute;
    left:587px;
    top:289px;
    width:186px;
    height:40px;
}

#u225_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:192px;
    height:46px;
}

.u226 {
    position:absolute;
    left:2px;
    top:12px;
    width:182px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u227 {
    position:absolute;
    left:197px;
    top:374px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u228 {
    position:absolute;
    left:197px;
    top:397px;
    width:16px;
    height:11px;
    overflow:hidden;
}

#pd0u228 {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:11px;
    
}

.u229 {
    position:absolute;
    left:0px;
    top:0px;
    width:195px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u230 {
    position:absolute;
    left:197px;
    top:394px;
    width:330px;
    height:22px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#999999;
    font-style:italic;
    font-weight:normal;
    text-decoration:none;
    
}

.u231 {
    position:absolute;
    left:190px;
    top:374px;
    width:7px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u232_normal {
    background-image: url('../Address_Errors_files/u232_normal.png');
}

.u232_container {
    position:absolute;
    left:176px;
    top:109px;
    width:614px;
    height:25px;
}

#u232_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:620px;
    height:31px;
}

.u233 {
    position:absolute;
    left:2px;
    top:4px;
    width:610px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u234 {
    position:absolute;
    left:192px;
    top:114px;
    width:265px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u235 {
    position:absolute;
    left:240px;
    top:725px;
    width:261px;
    height:41px;
    overflow:hidden;
}

#pd0u235 {
    position:absolute;
    left:0px;
    top:0px;
    width:261px;
    height:41px;
    
}

.u236_mouseOver {
    background-image: url('../Address_Errors_files/BillShip_Continue_u236_mouseOver.png');
}

.u236_mouseDown {
    background-image: url('../Address_Errors_files/BillShip_Continue_u236_mouseDown.png');
}

.u236_normal {
    background-image: url('../Address_Errors_files/BillShip_Continue_u236_normal.png');
}

.u236_container {
    position:absolute;
    left:0px;
    top:0px;
    width:260px;
    height:40px;
}

#u236_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:266px;
    height:46px;
}

.u237 {
    position:absolute;
    left:2px;
    top:12px;
    width:256px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u238 {
    position:absolute;
    left:197px;
    top:449px;
    width:331px;
    height:165px;
    overflow:hidden;
}

#pd1u238 {
    position:absolute;
    left:0px;
    top:0px;
    width:331px;
    height:165px;
    
}

.u239 {
    position:absolute;
    left:9px;
    top:21px;
    width:200px;
    height:45px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u238 {
    position:absolute;
    left:0px;
    top:0px;
    width:331px;
    height:165px;
    
}

.u240_normal {
    background-image: url('../Address_Errors_files/u240_normal.png');
}

.u240_container {
    position:absolute;
    left:0px;
    top:1px;
    width:330px;
    height:161px;
}

#u240_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:336px;
    height:167px;
}

.u241 {
    position:absolute;
    left:2px;
    top:72px;
    width:326px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u242 {
    position:absolute;
    left:13px;
    top:14px;
    width:298px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u243_mouseOver {
    background-image: url('../Address_Errors_files/button_u243_mouseOver.png');
}

.u243_mouseDown {
    background-image: url('../Address_Errors_files/button_u243_mouseDown.png');
}

.u243_normal {
    background-image: url('../Address_Errors_files/button_u243_mouseOver.png');
}

.u243_container {
    position:absolute;
    left:13px;
    top:111px;
    width:137px;
    height:28px;
}

#u243_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:143px;
    height:34px;
}

.u244 {
    position:absolute;
    left:2px;
    top:6px;
    width:133px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u245_mouseOver {
    background-image: url('../Address_Errors_files/why_yes_u245_mouseOver.png');
}

.u245_mouseDown {
    background-image: url('../Address_Errors_files/why_yes_u245_mouseDown.png');
}

.u245_normal {
    background-image: url('../Address_Errors_files/why_yes_u245_normal.png');
}

.u245_container {
    position:absolute;
    left:160px;
    top:111px;
    width:155px;
    height:28px;
}

#u245_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:161px;
    height:34px;
}

.u246 {
    position:absolute;
    left:2px;
    top:6px;
    width:151px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u247_normal {
    background-image: url('../Address_Errors_files/u247_normal.png');
}

.u247_container {
    position:absolute;
    left:13px;
    top:42px;
    width:302px;
    height:50px;
}

#u247_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:308px;
    height:56px;
}

.u248 {
    position:absolute;
    left:2px;
    top:10px;
    width:298px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u249_normal {
    background-image: url('../Address_Errors_files/u249_normal.png');
}

.u249_container {
    position:absolute;
    left:13px;
    top:42px;
    width:302px;
    height:50px;
}

#u249_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:308px;
    height:56px;
}

.u250 {
    position:absolute;
    left:2px;
    top:10px;
    width:298px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u251 {
    position:absolute;
    left:457px;
    top:114px;
    width:91px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u252 {
    position:absolute;
    left:178px;
    top:416px;
    width:60px;
    height:60px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

.u253 {
    position:absolute;
    left:667px;
    top:114px;
    width:123px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

