body {
    margin: 0px;
    text-align: center;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
    position: relative;
    left: -10px;
    width: 910px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../ChangeLog_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:10px;
    top:543px;
    width:910px;
    height:90px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:916px;
    height:96px;
}

.u1 {
    position:absolute;
    left:20px;
    top:15px;
    width:880px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../ChangeLog_files/u0_normal.png');
}

.u2_container {
    position:absolute;
    left:10px;
    top:330px;
    width:910px;
    height:90px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:916px;
    height:96px;
}

.u3 {
    position:absolute;
    left:20px;
    top:15px;
    width:880px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:10px;
    top:201px;
    width:259px;
    height:45px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:20px;
    top:293px;
    width:157px;
    height:27px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:20px;
    top:338px;
    width:122px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:168px;
    top:293px;
    width:107px;
    height:27px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:265px;
    top:293px;
    width:95px;
    height:27px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:355px;
    top:293px;
    width:323px;
    height:27px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:168px;
    top:338px;
    width:69px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:265px;
    top:338px;
    width:70px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:355px;
    top:338px;
    width:552px;
    height:54px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:20px;
    top:430px;
    width:122px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:168px;
    top:430px;
    width:69px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:265px;
    top:430px;
    width:70px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:355px;
    top:430px;
    width:552px;
    height:108px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_line {
    background-image: url('../ChangeLog_files/u17_line.png');
}

.u17_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:433px;
}

.u17 {
    position:absolute;
    left:152px;
    top:329px;
    width:10px;
    height:433px;
    
}

.u18_line {
    background-image: url('../ChangeLog_files/u18_line.png');
}

.u18_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:433px;
}

.u18 {
    position:absolute;
    left:247px;
    top:329px;
    width:10px;
    height:433px;
    
}

.u19_line {
    background-image: url('../ChangeLog_files/u19_line.png');
}

.u19_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:433px;
}

.u19 {
    position:absolute;
    left:335px;
    top:329px;
    width:10px;
    height:433px;
    
}

.u20_normal {
    background-image: url('../ChangeLog_files/u20_normal.png');
}

.u20_container {
    position:absolute;
    left:20px;
    top:80px;
    width:133px;
    height:55px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:139px;
    height:61px;
}

.u21 {
    position:absolute;
    left:2px;
    top:14px;
    width:129px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:20px;
    top:555px;
    width:122px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:168px;
    top:555px;
    width:69px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:265px;
    top:555px;
    width:70px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:355px;
    top:555px;
    width:552px;
    height:72px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:10px;
    top:19px;
    width:259px;
    height:45px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:20px;
    top:643px;
    width:122px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:168px;
    top:643px;
    width:69px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:265px;
    top:643px;
    width:70px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:355px;
    top:643px;
    width:552px;
    height:108px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../ChangeLog_files/u20_normal.png');
}

.u31_container {
    position:absolute;
    left:186px;
    top:80px;
    width:133px;
    height:55px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:139px;
    height:61px;
}

.u32 {
    position:absolute;
    left:2px;
    top:14px;
    width:129px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:10px;
    top:155px;
    width:508px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

