body {
    margin: 0px;
    text-align: center;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
    position: relative;
    left: -0px;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

#u0 {
    position:absolute;
    left:809px;
    top:260px;
    width:141px;
    height:161px;
    overflow:hidden;
}

#pd1u0 {
    position:absolute;
    left:0px;
    top:0px;
    width:141px;
    height:161px;
    
}

.u1_normal {
    background-image: url('../Set_Password_files/u1_normal.png');
}

.u1_container {
    position:absolute;
    left:0px;
    top:0px;
    width:37px;
    height:80px;-webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);

}

#u1_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:43px;
    height:86px;
}

.u2 {
    position:absolute;
    left:2px;
    top:32px;
    width:33px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_normal {
    background-image: url('../Set_Password_files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:0px;
    top:80px;
    width:37px;
    height:80px;-webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);

}

#u3_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:43px;
    height:86px;
}

.u4 {
    position:absolute;
    left:2px;
    top:32px;
    width:33px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../Set_Password_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:37px;
    top:0px;
    width:103px;
    height:80px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:109px;
    height:86px;
}

.u6 {
    position:absolute;
    left:10px;
    top:32px;
    width:91px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../Set_Password_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:37px;
    top:80px;
    width:103px;
    height:80px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:109px;
    height:86px;
}

.u8 {
    position:absolute;
    left:10px;
    top:32px;
    width:91px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u9_container {
    position:absolute;
    left:49px;
    top:30px;
    width:79px;
    height:44px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:85px;
    height:50px;
}

.u10 {
    position:absolute;
    left:2px;
    top:0px;
    width:75px;
    height:44px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:43px;
    top:-21px;
    width:52px;
    height:89px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u12_container {
    position:absolute;
    left:34px;
    top:121px;
    width:96px;
    height:20px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:102px;
    height:26px;
}

.u13 {
    position:absolute;
    left:2px;
    top:-12px;
    width:92px;
    height:44px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:39px;
    top:58px;
    width:52px;
    height:89px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../Set_Password_files/u15_normal.png');
}

.u15_container {
    position:absolute;
    left:21px;
    top:30px;
    width:16px;
    height:16px;
}

#u15_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u16 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u0 {
    position:absolute;
    left:0px;
    top:0px;
    width:141px;
    height:161px;
    
}

.u17_normal {
    background-image: url('../Set_Password_files/u3_normal.png');
}

.u17_container {
    position:absolute;
    left:0px;
    top:0px;
    width:37px;
    height:80px;-webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);

}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:43px;
    height:86px;
}

.u18 {
    position:absolute;
    left:2px;
    top:32px;
    width:33px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../Set_Password_files/u1_normal.png');
}

.u19_container {
    position:absolute;
    left:0px;
    top:80px;
    width:37px;
    height:80px;-webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);

}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:43px;
    height:86px;
}

.u20 {
    position:absolute;
    left:2px;
    top:32px;
    width:33px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../Set_Password_files/u7_normal.png');
}

.u21_container {
    position:absolute;
    left:37px;
    top:0px;
    width:103px;
    height:80px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:109px;
    height:86px;
}

.u22 {
    position:absolute;
    left:10px;
    top:32px;
    width:91px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../Set_Password_files/u5_normal.png');
}

.u23_container {
    position:absolute;
    left:37px;
    top:80px;
    width:103px;
    height:80px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:109px;
    height:86px;
}

.u24 {
    position:absolute;
    left:10px;
    top:32px;
    width:91px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u25_container {
    position:absolute;
    left:49px;
    top:30px;
    width:79px;
    height:44px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:85px;
    height:50px;
}

.u26 {
    position:absolute;
    left:2px;
    top:0px;
    width:75px;
    height:44px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:43px;
    top:-21px;
    width:52px;
    height:89px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u28_container {
    position:absolute;
    left:34px;
    top:121px;
    width:96px;
    height:20px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:102px;
    height:26px;
}

.u29 {
    position:absolute;
    left:2px;
    top:-12px;
    width:92px;
    height:44px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:39px;
    top:58px;
    width:52px;
    height:89px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../Set_Password_files/u32_normal.png');
}

.u32_container {
    position:absolute;
    left:0px;
    top:110px;
    width:960px;
    height:30px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:966px;
    height:36px;
}

.u33 {
    position:absolute;
    left:2px;
    top:7px;
    width:956px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../Set_Password_files/u34_normal.png');
}

.u34_container {
    position:absolute;
    left:376px;
    top:0px;
    width:207px;
    height:106px;
}

#u34_img {
    position:absolute;
    left:0px;
    top:0px;
    width:207px;
    height:106px;
}

.u35 {
    position:absolute;
    left:2px;
    top:45px;
    width:203px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u37 {
    position:absolute;
    left:180px;
    top:162px;
    width:621px;
    height:85px;
    overflow:hidden;
}

#pd2u37 {
    position:absolute;
    left:0px;
    top:0px;
    width:621px;
    height:85px;
    
}

.u38 {
    position:absolute;
    left:0px;
    top:22px;
    width:620px;
    height:58px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd1u37 {
    position:absolute;
    left:0px;
    top:0px;
    width:621px;
    height:85px;
    
}

.u39 {
    position:absolute;
    left:0px;
    top:22px;
    width:620px;
    height:58px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u37 {
    position:absolute;
    left:0px;
    top:0px;
    width:621px;
    height:85px;
    
}

.u40 {
    position:absolute;
    left:0px;
    top:0px;
    width:620px;
    height:58px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:128px;
    top:58px;
    width:365px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../Set_Password_files/u42_normal.png');
}

.u42_container {
    position:absolute;
    left:240px;
    top:261px;
    width:510px;
    height:340px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:516px;
    height:346px;
}

.u43 {
    position:absolute;
    left:2px;
    top:162px;
    width:506px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:180px;
    top:283px;
    width:620px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u45 {
    position:absolute;
    left:260px;
    top:322px;
    width:421px;
    height:36px;
    overflow:hidden;
}

#pd1u45 {
    position:absolute;
    left:0px;
    top:0px;
    width:421px;
    height:36px;
    
}

.u46_image_sketch {
    background-image: url('../Set_Password_files/ChangeEmailAddressInput_u46_image_sketch.png');
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:41px;
}

.u46 {
    position:absolute;
    left:0px;
    top:0px;
    width:300px;
    height:35px;
    ;
    ;
    text-align: left;;
    font-family:'Helvetica';
    font-size: 13px;
    color:#666666;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u47 {
    position:absolute;
    left:300px;
    top:9px;
    width:110px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u45 {
    position:absolute;
    left:0px;
    top:0px;
    width:421px;
    height:36px;
    
}

.u48 {
    position:absolute;
    left:97px;
    top:9px;
    width:257px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49 {
    position:absolute;
    left:354px;
    top:9px;
    width:61px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:0px;
    top:9px;
    width:160px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51 {
    position:absolute;
    left:260px;
    top:372px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52_image_sketch {
    background-image: url('../Set_Password_files/textfield___password_u52_image_sketch.png');
    position:absolute;
    left:257px;
    top:389px;
    width:226px;
    height:36px;
}

.u52 {
    position:absolute;
    left:260px;
    top:392px;
    width:220px;
    height:30px;
    ;
    ;
    text-align: left;;
    font-family:'Helvetica';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#u53 {
    position:absolute;
    left:485px;
    top:392px;
    width:176px;
    height:31px;
    overflow:hidden;
}

#pd1u53 {
    position:absolute;
    left:0px;
    top:0px;
    width:176px;
    height:31px;
    
}

.u54_normal {
    background-image: url('../Set_Password_files/u54_normal.png');
}

.u54_container {
    position:absolute;
    left:0px;
    top:0px;
    width:12px;
    height:21px;
}

#u54_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:18px;
    height:27px;
}

.u55 {
    position:absolute;
    left:2px;
    top:2px;
    width:8px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56_normal {
    background-image: url('../Set_Password_files/u56_normal.png');
}

.u56_container {
    position:absolute;
    left:12px;
    top:0px;
    width:118px;
    height:21px;
}

#u56_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:124px;
    height:27px;
}

.u57 {
    position:absolute;
    left:2px;
    top:2px;
    width:114px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58 {
    position:absolute;
    left:16px;
    top:3px;
    width:119px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u53 {
    position:absolute;
    left:0px;
    top:0px;
    width:176px;
    height:31px;
    
}

.u59_normal {
    background-image: url('../Set_Password_files/u54_normal.png');
}

.u59_container {
    position:absolute;
    left:0px;
    top:0px;
    width:12px;
    height:21px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:18px;
    height:27px;
}

.u60 {
    position:absolute;
    left:2px;
    top:2px;
    width:8px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_normal {
    background-image: url('../Set_Password_files/u56_normal.png');
}

.u61_container {
    position:absolute;
    left:12px;
    top:0px;
    width:118px;
    height:21px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:124px;
    height:27px;
}

.u62 {
    position:absolute;
    left:2px;
    top:2px;
    width:114px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63 {
    position:absolute;
    left:16px;
    top:3px;
    width:119px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u64 {
    position:absolute;
    left:260px;
    top:432px;
    width:221px;
    height:21px;
    overflow:hidden;
}

#pd4u64 {
    position:absolute;
    left:0px;
    top:0px;
    width:221px;
    height:21px;
    
}

.u65_normal {
    background-image: url('../Set_Password_files/u65_normal.png');
}

.u65_container {
    position:absolute;
    left:110px;
    top:0px;
    width:55px;
    height:20px;
}

#u65_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:61px;
    height:26px;
}

.u66 {
    position:absolute;
    left:2px;
    top:2px;
    width:51px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67_normal {
    background-image: url('../Set_Password_files/u65_normal.png');
}

.u67_container {
    position:absolute;
    left:165px;
    top:0px;
    width:55px;
    height:20px;
}

#u67_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:61px;
    height:26px;
}

.u68 {
    position:absolute;
    left:2px;
    top:4px;
    width:51px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69_normal {
    background-image: url('../Set_Password_files/u65_normal.png');
}

.u69_container {
    position:absolute;
    left:0px;
    top:0px;
    width:55px;
    height:20px;
}

#u69_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:61px;
    height:26px;
}

.u70 {
    position:absolute;
    left:2px;
    top:2px;
    width:51px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71_normal {
    background-image: url('../Set_Password_files/u65_normal.png');
}

.u71_container {
    position:absolute;
    left:55px;
    top:0px;
    width:55px;
    height:20px;
}

#u71_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:61px;
    height:26px;
}

.u72 {
    position:absolute;
    left:2px;
    top:2px;
    width:51px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd3u64 {
    position:absolute;
    left:0px;
    top:0px;
    width:221px;
    height:21px;
    
}

.u73_normal {
    background-image: url('../Set_Password_files/u73_normal.png');
}

.u73_container {
    position:absolute;
    left:165px;
    top:0px;
    width:55px;
    height:20px;
}

#u73_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:61px;
    height:26px;
}

.u74 {
    position:absolute;
    left:2px;
    top:2px;
    width:51px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75_normal {
    background-image: url('../Set_Password_files/u75_normal.png');
}

.u75_container {
    position:absolute;
    left:110px;
    top:0px;
    width:55px;
    height:20px;
}

#u75_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:61px;
    height:26px;
}

.u76 {
    position:absolute;
    left:2px;
    top:4px;
    width:51px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77_normal {
    background-image: url('../Set_Password_files/u75_normal.png');
}

.u77_container {
    position:absolute;
    left:0px;
    top:0px;
    width:55px;
    height:20px;
}

#u77_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:61px;
    height:26px;
}

.u78 {
    position:absolute;
    left:2px;
    top:2px;
    width:51px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79_normal {
    background-image: url('../Set_Password_files/u75_normal.png');
}

.u79_container {
    position:absolute;
    left:55px;
    top:0px;
    width:55px;
    height:20px;
}

#u79_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:61px;
    height:26px;
}

.u80 {
    position:absolute;
    left:2px;
    top:2px;
    width:51px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd2u64 {
    position:absolute;
    left:0px;
    top:0px;
    width:221px;
    height:21px;
    
}

.u81_normal {
    background-image: url('../Set_Password_files/u73_normal.png');
}

.u81_container {
    position:absolute;
    left:110px;
    top:0px;
    width:55px;
    height:20px;
}

#u81_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:61px;
    height:26px;
}

.u82 {
    position:absolute;
    left:2px;
    top:2px;
    width:51px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83_normal {
    background-image: url('../Set_Password_files/u73_normal.png');
}

.u83_container {
    position:absolute;
    left:165px;
    top:0px;
    width:55px;
    height:20px;
}

#u83_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:61px;
    height:26px;
}

.u84 {
    position:absolute;
    left:2px;
    top:2px;
    width:51px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85_normal {
    background-image: url('../Set_Password_files/u85_normal.png');
}

.u85_container {
    position:absolute;
    left:0px;
    top:0px;
    width:55px;
    height:20px;
}

#u85_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:61px;
    height:26px;
}

.u86 {
    position:absolute;
    left:2px;
    top:2px;
    width:51px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87_normal {
    background-image: url('../Set_Password_files/u85_normal.png');
}

.u87_container {
    position:absolute;
    left:55px;
    top:0px;
    width:55px;
    height:20px;
}

#u87_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:61px;
    height:26px;
}

.u88 {
    position:absolute;
    left:2px;
    top:4px;
    width:51px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd1u64 {
    position:absolute;
    left:0px;
    top:0px;
    width:221px;
    height:21px;
    
}

.u89_normal {
    background-image: url('../Set_Password_files/u73_normal.png');
}

.u89_container {
    position:absolute;
    left:110px;
    top:0px;
    width:55px;
    height:20px;
}

#u89_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:61px;
    height:26px;
}

.u90 {
    position:absolute;
    left:2px;
    top:2px;
    width:51px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91_normal {
    background-image: url('../Set_Password_files/u73_normal.png');
}

.u91_container {
    position:absolute;
    left:165px;
    top:0px;
    width:55px;
    height:20px;
}

#u91_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:61px;
    height:26px;
}

.u92 {
    position:absolute;
    left:2px;
    top:2px;
    width:51px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93_normal {
    background-image: url('../Set_Password_files/u73_normal.png');
}

.u93_container {
    position:absolute;
    left:55px;
    top:0px;
    width:55px;
    height:20px;
}

#u93_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:61px;
    height:26px;
}

.u94 {
    position:absolute;
    left:2px;
    top:2px;
    width:51px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95_normal {
    background-image: url('../Set_Password_files/u95_normal.png');
}

.u95_container {
    position:absolute;
    left:0px;
    top:0px;
    width:55px;
    height:20px;
}

#u95_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:61px;
    height:26px;
}

.u96 {
    position:absolute;
    left:2px;
    top:4px;
    width:51px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u64 {
    position:absolute;
    left:0px;
    top:0px;
    width:221px;
    height:21px;
    
}

.u97_normal {
    background-image: url('../Set_Password_files/u97_normal.png');
}

.u97_container {
    position:absolute;
    left:0px;
    top:0px;
    width:220px;
    height:20px;
}

#u97_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:226px;
    height:26px;
}

.u98 {
    position:absolute;
    left:2px;
    top:2px;
    width:216px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99 {
    position:absolute;
    left:7px;
    top:3px;
    width:188px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u100 {
    position:absolute;
    left:260px;
    top:432px;
    width:220px;
    height:20px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

.u101 {
    position:absolute;
    left:260px;
    top:467px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u102_image_sketch {
    background-image: url('../Set_Password_files/textfield___verify_password_u102_image_sketch.png');
    position:absolute;
    left:257px;
    top:484px;
    width:226px;
    height:36px;
}

.u102 {
    position:absolute;
    left:260px;
    top:487px;
    width:220px;
    height:30px;
    ;
    ;
    text-align: left;;
    font-family:'Helvetica';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#u103 {
    position:absolute;
    left:485px;
    top:487px;
    width:196px;
    height:31px;
    overflow:hidden;
}

#pd2u103 {
    position:absolute;
    left:0px;
    top:0px;
    width:196px;
    height:31px;
    
}

.u104_normal {
    background-image: url('../Set_Password_files/u54_normal.png');
}

.u104_container {
    position:absolute;
    left:0px;
    top:0px;
    width:12px;
    height:21px;
}

#u104_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:18px;
    height:27px;
}

.u105 {
    position:absolute;
    left:2px;
    top:2px;
    width:8px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u106_normal {
    background-image: url('../Set_Password_files/u106_normal.png');
}

.u106_container {
    position:absolute;
    left:12px;
    top:0px;
    width:108px;
    height:21px;
}

#u106_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:114px;
    height:27px;
}

.u107 {
    position:absolute;
    left:2px;
    top:2px;
    width:104px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u108 {
    position:absolute;
    left:16px;
    top:3px;
    width:149px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd1u103 {
    position:absolute;
    left:0px;
    top:0px;
    width:196px;
    height:31px;
    
}

.u109_normal {
    background-image: url('../Set_Password_files/u54_normal.png');
}

.u109_container {
    position:absolute;
    left:0px;
    top:0px;
    width:12px;
    height:21px;
}

#u109_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:18px;
    height:27px;
}

.u110 {
    position:absolute;
    left:2px;
    top:2px;
    width:8px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u111_normal {
    background-image: url('../Set_Password_files/u111_normal.png');
}

.u111_container {
    position:absolute;
    left:12px;
    top:0px;
    width:153px;
    height:21px;
}

#u111_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:159px;
    height:27px;
}

.u112 {
    position:absolute;
    left:2px;
    top:2px;
    width:149px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u113 {
    position:absolute;
    left:16px;
    top:3px;
    width:149px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u103 {
    position:absolute;
    left:0px;
    top:0px;
    width:196px;
    height:31px;
    
}

#u114 {
    position:absolute;
    left:485px;
    top:392px;
    width:246px;
    height:126px;
    overflow:hidden;
}

#pd0u114 {
    position:absolute;
    left:0px;
    top:0px;
    width:246px;
    height:126px;
    
}

.u115_normal {
    background-image: url('../Set_Password_files/u115_normal.png');
}

.u115_container {
    position:absolute;
    left:10px;
    top:0px;
    width:235px;
    height:125px;
}

#u115_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:241px;
    height:131px;
}

.u116 {
    position:absolute;
    left:2px;
    top:54px;
    width:231px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u117_normal {
    background-image: url('../Set_Password_files/u117_normal.png');
}

.u117_container {
    position:absolute;
    left:0px;
    top:10px;
    width:10px;
    height:20px;
}

#u117_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:26px;
}

.u118 {
    position:absolute;
    left:2px;
    top:2px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u119_line {
    background-image: url('../Set_Password_files/u119_line.png');
}

.u119_line {
    position:absolute;
    left:3px;
    top:0px;
    width:5px;
    height:18px;
}

.u119 {
    position:absolute;
    left:5px;
    top:11px;
    width:10px;
    height:18px;
    
}

.u120 {
    position:absolute;
    left:20px;
    top:9px;
    width:215px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u121 {
    position:absolute;
    left:19px;
    top:34px;
    width:216px;
    height:76px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u122_mouseOver {
    background-image: url('../Set_Password_files/Continue_u122_mouseOver.png');
}

.u122_mouseDown {
    background-image: url('../Set_Password_files/Continue_u122_mouseDown.png');
}

.u122_normal {
    background-image: url('../Set_Password_files/Continue_u122_normal.png');
}

.u122_container {
    position:absolute;
    left:260px;
    top:539px;
    width:470px;
    height:40px;
}

#u122_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:476px;
    height:46px;
}

.u123 {
    position:absolute;
    left:2px;
    top:12px;
    width:466px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

