body {
    margin: 0px;
    background-color: #FEFEFE;
    text-align: center;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
    position: relative;
    left: -10px;
    width: 953px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Taste_Red_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:10px;
    top:1967px;
    width:940px;
    height:296px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:946px;
    height:302px;
}

.u1 {
    position:absolute;
    left:20px;
    top:15px;
    width:910px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:44px;
    top:1997px;
    width:600px;
    height:45px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_normal {
    background-image: url('../Taste_Red_files/u0_normal.png');
}

.u3_container {
    position:absolute;
    left:10px;
    top:1238px;
    width:940px;
    height:296px;
}

#u3_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:946px;
    height:302px;
}

.u4 {
    position:absolute;
    left:20px;
    top:15px;
    width:910px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:44px;
    top:1268px;
    width:600px;
    height:45px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../Taste_Red_files/u0_normal.png');
}

.u6_container {
    position:absolute;
    left:10px;
    top:874px;
    width:940px;
    height:296px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:946px;
    height:302px;
}

.u7 {
    position:absolute;
    left:20px;
    top:15px;
    width:910px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../Taste_Red_files/u0_normal.png');
}

.u8_container {
    position:absolute;
    left:10px;
    top:509px;
    width:940px;
    height:296px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:946px;
    height:302px;
}

.u9 {
    position:absolute;
    left:20px;
    top:15px;
    width:910px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../Taste_Red_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:10px;
    top:10px;
    width:220px;
    height:80px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:226px;
    height:86px;
}

.u11 {
    position:absolute;
    left:2px;
    top:32px;
    width:216px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:778px;
    top:10px;
    width:60px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:848px;
    top:10px;
    width:110px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:838px;
    top:10px;
    width:10px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u17 {
    position:absolute;
    left:778px;
    top:60px;
    width:173px;
    height:31px;
    overflow:hidden;
}

#pd1u17 {
    position:absolute;
    left:0px;
    top:0px;
    width:173px;
    height:31px;
    
}

.u18_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u18_container {
    position:absolute;
    left:0px;
    top:0px;
    width:142px;
    height:30px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:148px;
    height:36px;
}

.u19 {
    position:absolute;
    left:2px;
    top:7px;
    width:138px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_image_sketch {
    background-image: url('../Taste_Red_files/Search_u20_image_sketch.png');
    position:absolute;
    left:-3px;
    top:-3px;
    width:147px;
    height:37px;
}

.u20 {
    position:absolute;
    left:0px;
    top:0px;
    width:141px;
    height:31px;
    ;
    ;
    text-align: left;;
    font-family:'Helvetica';
    font-size: 13px;
    color:#666666;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u20_text_sketch {
    color: #656565;
    font-family: 'Lucida Sans Std';
}

.u21_normal {
    background-image: url('../Taste_Red_files/u21_normal.png');
}

.u21_container {
    position:absolute;
    left:140px;
    top:0px;
    width:33px;
    height:30px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:39px;
    height:36px;
}

.u22 {
    position:absolute;
    left:2px;
    top:8px;
    width:29px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u17 {
    position:absolute;
    left:0px;
    top:0px;
    width:173px;
    height:31px;
    
}

.u23_normal {
    background-image: url('../Taste_Red_files/u23_normal.png');
}

.u23_container {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

#u23_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u24 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u25_container {
    position:absolute;
    left:30px;
    top:0px;
    width:75px;
    height:30px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:81px;
    height:36px;
}

.u26 {
    position:absolute;
    left:2px;
    top:7px;
    width:71px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_line {
    background-image: url('../Taste_Red_files/u28_line.png');
}

.u28_line {
    position:absolute;
    left:0px;
    top:3px;
    width:940px;
    height:5px;
}

.u28 {
    position:absolute;
    left:10px;
    top:95px;
    width:940px;
    height:10px;
    
}

.u29_normal {
    background-image: url('../Taste_Red_files/u0_normal.png');
}

.u29_container {
    position:absolute;
    left:10px;
    top:145px;
    width:940px;
    height:296px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:946px;
    height:302px;
}

.u30 {
    position:absolute;
    left:20px;
    top:15px;
    width:910px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:95px;
    top:177px;
    width:600px;
    height:45px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../Taste_Red_files/u32_normal.png');
}

.u32_container {
    position:absolute;
    left:30px;
    top:177px;
    width:51px;
    height:45px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:57px;
    height:51px;
}

.u33 {
    position:absolute;
    left:20px;
    top:15px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:37px;
    top:177px;
    width:37px;
    height:45px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:95px;
    top:543px;
    width:600px;
    height:45px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_normal {
    background-image: url('../Taste_Red_files/u32_normal.png');
}

.u36_container {
    position:absolute;
    left:30px;
    top:543px;
    width:51px;
    height:45px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:57px;
    height:51px;
}

.u37 {
    position:absolute;
    left:20px;
    top:15px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:30px;
    top:543px;
    width:49px;
    height:45px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u39 {
    position:absolute;
    left:30px;
    top:232px;
    width:902px;
    height:187px;
    overflow:hidden;
}

#pd0u39 {
    position:absolute;
    left:0px;
    top:0px;
    width:902px;
    height:187px;
    
}

#u40 {
    position:absolute;
    left:0px;
    top:0px;
    width:291px;
    height:178px;
    overflow:hidden;
}

#pd2u40 {
    position:absolute;
    left:0px;
    top:0px;
    width:291px;
    height:178px;
    
}

.u41_normal {
    background-image: url('../Taste_Red_files/u41_normal.png');
}

.u41_container {
    position:absolute;
    left:0px;
    top:0px;
    width:290px;
    height:177px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:296px;
    height:183px;
}

.u42 {
    position:absolute;
    left:20px;
    top:15px;
    width:260px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_normal {
    background-image: url('../Taste_Red_files/u43_normal.png');
}

.u43_container {
    position:absolute;
    left:13px;
    top:13px;
    width:265px;
    height:149px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:271px;
    height:155px;
}

.u44 {
    position:absolute;
    left:20px;
    top:15px;
    width:235px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45 {
    position:absolute;
    left:28px;
    top:29px;
    width:103px;
    height:27px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_normal {
    background-image: url('../Taste_Red_files/u46_normal.png');
}

.u46_container {
    position:absolute;
    left:20px;
    top:53px;
    width:249px;
    height:98px;
}

#u46_img {
    position:absolute;
    left:0px;
    top:0px;
    width:249px;
    height:98px;
}

.u47 {
    position:absolute;
    left:2px;
    top:41px;
    width:245px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48 {
    position:absolute;
    left:70px;
    top:146px;
    width:150px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd1u40 {
    position:absolute;
    left:0px;
    top:0px;
    width:291px;
    height:178px;
    
}

.u49_normal {
    background-image: url('../Taste_Red_files/u49_normal.png');
}

.u49_container {
    position:absolute;
    left:0px;
    top:0px;
    width:290px;
    height:177px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:296px;
    height:183px;
}

.u50 {
    position:absolute;
    left:20px;
    top:15px;
    width:260px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_normal {
    background-image: url('../Taste_Red_files/u51_normal.png');
}

.u51_container {
    position:absolute;
    left:13px;
    top:13px;
    width:265px;
    height:149px;
}

#u51_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:271px;
    height:155px;
}

.u52 {
    position:absolute;
    left:20px;
    top:15px;
    width:235px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53 {
    position:absolute;
    left:28px;
    top:29px;
    width:103px;
    height:27px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54_normal {
    background-image: url('../Taste_Red_files/u54_normal.png');
}

.u54_container {
    position:absolute;
    left:20px;
    top:48px;
    width:240px;
    height:105px;
}

#u54_img {
    position:absolute;
    left:0px;
    top:0px;
    width:240px;
    height:105px;
}

.u55 {
    position:absolute;
    left:2px;
    top:44px;
    width:236px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56 {
    position:absolute;
    left:70px;
    top:146px;
    width:150px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u40 {
    position:absolute;
    left:0px;
    top:0px;
    width:291px;
    height:178px;
    
}

.u57_normal {
    background-image: url('../Taste_Red_files/u49_normal.png');
}

.u57_container {
    position:absolute;
    left:0px;
    top:0px;
    width:290px;
    height:177px;
}

#u57_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:296px;
    height:183px;
}

.u58 {
    position:absolute;
    left:20px;
    top:15px;
    width:260px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_normal {
    background-image: url('../Taste_Red_files/u51_normal.png');
}

.u59_container {
    position:absolute;
    left:13px;
    top:13px;
    width:265px;
    height:149px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:271px;
    height:155px;
}

.u60 {
    position:absolute;
    left:20px;
    top:15px;
    width:235px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61 {
    position:absolute;
    left:28px;
    top:29px;
    width:103px;
    height:27px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62_normal {
    background-image: url('../Taste_Red_files/u54_normal.png');
}

.u62_container {
    position:absolute;
    left:20px;
    top:48px;
    width:240px;
    height:105px;
}

#u62_img {
    position:absolute;
    left:0px;
    top:0px;
    width:240px;
    height:105px;
}

.u63 {
    position:absolute;
    left:2px;
    top:44px;
    width:236px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u64 {
    position:absolute;
    left:611px;
    top:0px;
    width:291px;
    height:187px;
    overflow:hidden;
}

#pd2u64 {
    position:absolute;
    left:0px;
    top:0px;
    width:291px;
    height:187px;
    
}

.u65_normal {
    background-image: url('../Taste_Red_files/u65_normal.png');
}

.u65_container {
    position:absolute;
    left:0px;
    top:0px;
    width:290px;
    height:177px;
}

#u65_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:296px;
    height:183px;
}

.u66 {
    position:absolute;
    left:20px;
    top:15px;
    width:260px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67_normal {
    background-image: url('../Taste_Red_files/u67_normal.png');
}

.u67_container {
    position:absolute;
    left:13px;
    top:13px;
    width:263px;
    height:151px;
}

#u67_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:269px;
    height:157px;
}

.u68 {
    position:absolute;
    left:20px;
    top:15px;
    width:233px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69_normal {
    background-image: url('../Taste_Red_files/u69_normal.png');
}

.u69_container {
    position:absolute;
    left:161px;
    top:63px;
    width:155px;
    height:56px;-webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);

}

#u69_img {
    position:absolute;
    left:0px;
    top:0px;
    width:155px;
    height:56px;
}

.u70 {
    position:absolute;
    left:52px;
    top:20px;
    width:52px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;-webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);-webkit-transform-origin: 25.5px 50%;
    -moz-transform-origin: 25.5px 50%;
    -ms-transform-origin: 25.5px 50%;
    transform-origin: 25.5px 50%;
}

.u71 {
    position:absolute;
    left:21px;
    top:65px;
    width:207px;
    height:45px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72 {
    position:absolute;
    left:22px;
    top:38px;
    width:125px;
    height:27px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73 {
    position:absolute;
    left:70px;
    top:146px;
    width:150px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd1u64 {
    position:absolute;
    left:0px;
    top:0px;
    width:291px;
    height:187px;
    
}

.u74_normal {
    background-image: url('../Taste_Red_files/u49_normal.png');
}

.u74_container {
    position:absolute;
    left:0px;
    top:0px;
    width:290px;
    height:177px;
}

#u74_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:296px;
    height:183px;
}

.u75 {
    position:absolute;
    left:20px;
    top:15px;
    width:260px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u76_normal {
    background-image: url('../Taste_Red_files/u76_normal.png');
}

.u76_container {
    position:absolute;
    left:13px;
    top:13px;
    width:263px;
    height:151px;
}

#u76_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:269px;
    height:157px;
}

.u77 {
    position:absolute;
    left:20px;
    top:15px;
    width:233px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78_normal {
    background-image: url('../Taste_Red_files/u78_normal.png');
}

.u78_container {
    position:absolute;
    left:209px;
    top:12px;
    width:2px;
    height:9px;
}

#u78_img {
    position:absolute;
    left:0px;
    top:0px;
    width:2px;
    height:9px;
}

.u79 {
    position:absolute;
    left:-2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;-webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);-webkit-transform-origin: 3px 50%;
    -moz-transform-origin: 3px 50%;
    -ms-transform-origin: 3px 50%;
    transform-origin: 3px 50%;
}

.u80_normal {
    background-image: url('../Taste_Red_files/u80_normal.png');
}

.u80_container {
    position:absolute;
    left:211px;
    top:21px;
    width:60px;
    height:165px;
}

#u80_img {
    position:absolute;
    left:0px;
    top:0px;
    width:60px;
    height:165px;
}

.u81 {
    position:absolute;
    left:-50px;
    top:74px;
    width:161px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;-webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);-webkit-transform-origin: 80px 50%;
    -moz-transform-origin: 80px 50%;
    -ms-transform-origin: 80px 50%;
    transform-origin: 80px 50%;
}

.u82 {
    position:absolute;
    left:21px;
    top:65px;
    width:207px;
    height:45px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83 {
    position:absolute;
    left:22px;
    top:38px;
    width:125px;
    height:27px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84 {
    position:absolute;
    left:70px;
    top:146px;
    width:150px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u64 {
    position:absolute;
    left:0px;
    top:0px;
    width:291px;
    height:187px;
    
}

.u85_normal {
    background-image: url('../Taste_Red_files/u49_normal.png');
}

.u85_container {
    position:absolute;
    left:0px;
    top:0px;
    width:290px;
    height:177px;
}

#u85_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:296px;
    height:183px;
}

.u86 {
    position:absolute;
    left:20px;
    top:15px;
    width:260px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87_normal {
    background-image: url('../Taste_Red_files/u76_normal.png');
}

.u87_container {
    position:absolute;
    left:13px;
    top:13px;
    width:263px;
    height:151px;
}

#u87_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:269px;
    height:157px;
}

.u88 {
    position:absolute;
    left:20px;
    top:15px;
    width:233px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89_normal {
    background-image: url('../Taste_Red_files/u89_normal.png');
}

.u89_container {
    position:absolute;
    left:209px;
    top:12px;
    width:62px;
    height:174px;
}

#u89_img {
    position:absolute;
    left:0px;
    top:0px;
    width:62px;
    height:174px;
}

.u90 {
    position:absolute;
    left:-54px;
    top:79px;
    width:170px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;-webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

.u91 {
    position:absolute;
    left:21px;
    top:65px;
    width:207px;
    height:45px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92 {
    position:absolute;
    left:22px;
    top:38px;
    width:125px;
    height:27px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u93 {
    position:absolute;
    left:304px;
    top:0px;
    width:291px;
    height:178px;
    overflow:hidden;
}

#pd2u93 {
    position:absolute;
    left:0px;
    top:0px;
    width:291px;
    height:178px;
    
}

.u94_normal {
    background-image: url('../Taste_Red_files/u65_normal.png');
}

.u94_container {
    position:absolute;
    left:0px;
    top:0px;
    width:290px;
    height:177px;
}

#u94_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:296px;
    height:183px;
}

.u95 {
    position:absolute;
    left:20px;
    top:15px;
    width:260px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u96_normal {
    background-image: url('../Taste_Red_files/u67_normal.png');
}

.u96_container {
    position:absolute;
    left:14px;
    top:13px;
    width:263px;
    height:151px;
}

#u96_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:269px;
    height:157px;
}

.u97 {
    position:absolute;
    left:20px;
    top:15px;
    width:233px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98 {
    position:absolute;
    left:21px;
    top:84px;
    width:201px;
    height:45px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99 {
    position:absolute;
    left:21px;
    top:58px;
    width:103px;
    height:27px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u100_normal {
    background-image: url('../Taste_Red_files/u100_normal.png');
}

.u100_container {
    position:absolute;
    left:163px;
    top:33px;
    width:108px;
    height:101px;
}

#u100_img {
    position:absolute;
    left:0px;
    top:0px;
    width:108px;
    height:101px;
}

.u101 {
    position:absolute;
    left:2px;
    top:42px;
    width:104px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u102 {
    position:absolute;
    left:71px;
    top:146px;
    width:150px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd1u93 {
    position:absolute;
    left:0px;
    top:0px;
    width:291px;
    height:178px;
    
}

.u103_normal {
    background-image: url('../Taste_Red_files/u49_normal.png');
}

.u103_container {
    position:absolute;
    left:0px;
    top:0px;
    width:290px;
    height:177px;
}

#u103_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:296px;
    height:183px;
}

.u104 {
    position:absolute;
    left:20px;
    top:15px;
    width:260px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105_normal {
    background-image: url('../Taste_Red_files/u76_normal.png');
}

.u105_container {
    position:absolute;
    left:14px;
    top:13px;
    width:263px;
    height:151px;
}

#u105_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:269px;
    height:157px;
}

.u106 {
    position:absolute;
    left:20px;
    top:15px;
    width:233px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107 {
    position:absolute;
    left:21px;
    top:84px;
    width:201px;
    height:45px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u108 {
    position:absolute;
    left:21px;
    top:58px;
    width:103px;
    height:27px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u109_normal {
    background-image: url('../Taste_Red_files/u109_normal.png');
}

.u109_container {
    position:absolute;
    left:163px;
    top:33px;
    width:106px;
    height:99px;
}

#u109_img {
    position:absolute;
    left:0px;
    top:0px;
    width:106px;
    height:99px;
}

.u110 {
    position:absolute;
    left:2px;
    top:42px;
    width:102px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u111 {
    position:absolute;
    left:71px;
    top:146px;
    width:150px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u93 {
    position:absolute;
    left:0px;
    top:0px;
    width:291px;
    height:178px;
    
}

.u112_normal {
    background-image: url('../Taste_Red_files/u49_normal.png');
}

.u112_container {
    position:absolute;
    left:0px;
    top:0px;
    width:290px;
    height:177px;
}

#u112_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:296px;
    height:183px;
}

.u113 {
    position:absolute;
    left:20px;
    top:15px;
    width:260px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u114_normal {
    background-image: url('../Taste_Red_files/u76_normal.png');
}

.u114_container {
    position:absolute;
    left:14px;
    top:13px;
    width:263px;
    height:151px;
}

#u114_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:269px;
    height:157px;
}

.u115 {
    position:absolute;
    left:20px;
    top:15px;
    width:233px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u116 {
    position:absolute;
    left:21px;
    top:84px;
    width:201px;
    height:45px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u117 {
    position:absolute;
    left:21px;
    top:58px;
    width:103px;
    height:27px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u118_normal {
    background-image: url('../Taste_Red_files/u109_normal.png');
}

.u118_container {
    position:absolute;
    left:163px;
    top:33px;
    width:106px;
    height:99px;
}

#u118_img {
    position:absolute;
    left:0px;
    top:0px;
    width:106px;
    height:99px;
}

.u119 {
    position:absolute;
    left:2px;
    top:42px;
    width:102px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u120_normal {
    background-image: url('../Taste_Red_files/u49_normal.png');
}

.u120_container {
    position:absolute;
    left:30px;
    top:1325px;
    width:290px;
    height:177px;
}

#u120_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:296px;
    height:183px;
}

.u121 {
    position:absolute;
    left:20px;
    top:15px;
    width:260px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u122_normal {
    background-image: url('../Taste_Red_files/u76_normal.png');
}

.u122_container {
    position:absolute;
    left:44px;
    top:1338px;
    width:263px;
    height:151px;
}

#u122_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:269px;
    height:157px;
}

.u123 {
    position:absolute;
    left:20px;
    top:15px;
    width:233px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u124_normal {
    background-image: url('../Taste_Red_files/u124_normal.png');
}

.u124_container {
    position:absolute;
    left:30px;
    top:598px;
    width:290px;
    height:177px;
}

#u124_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:296px;
    height:183px;
}

.u125 {
    position:absolute;
    left:20px;
    top:15px;
    width:260px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u126_normal {
    background-image: url('../Taste_Red_files/u76_normal.png');
}

.u126_container {
    position:absolute;
    left:44px;
    top:611px;
    width:263px;
    height:151px;
}

#u126_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:269px;
    height:157px;
}

.u127 {
    position:absolute;
    left:20px;
    top:15px;
    width:233px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u128 {
    position:absolute;
    left:51px;
    top:682px;
    width:201px;
    height:45px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u129 {
    position:absolute;
    left:51px;
    top:656px;
    width:103px;
    height:27px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u130_normal {
    background-image: url('../Taste_Red_files/u130_normal.png');
}

.u130_container {
    position:absolute;
    left:164px;
    top:625px;
    width:128px;
    height:122px;
}

#u130_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:134px;
    height:128px;
}

.u131 {
    position:absolute;
    left:2px;
    top:54px;
    width:124px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u132_normal {
    background-image: url('../Taste_Red_files/u124_normal.png');
}

.u132_container {
    position:absolute;
    left:335px;
    top:598px;
    width:290px;
    height:177px;
}

#u132_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:296px;
    height:183px;
}

.u133 {
    position:absolute;
    left:20px;
    top:15px;
    width:260px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u134_normal {
    background-image: url('../Taste_Red_files/u76_normal.png');
}

.u134_container {
    position:absolute;
    left:349px;
    top:611px;
    width:263px;
    height:151px;
}

#u134_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:269px;
    height:157px;
}

.u135 {
    position:absolute;
    left:20px;
    top:15px;
    width:233px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u136 {
    position:absolute;
    left:356px;
    top:682px;
    width:201px;
    height:45px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u137 {
    position:absolute;
    left:356px;
    top:656px;
    width:130px;
    height:27px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u138_normal {
    background-image: url('../Taste_Red_files/u138_normal.png');
}

.u138_container {
    position:absolute;
    left:518px;
    top:625px;
    width:81px;
    height:122px;
}

#u138_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:87px;
    height:128px;
}

.u139 {
    position:absolute;
    left:2px;
    top:46px;
    width:77px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u140_normal {
    background-image: url('../Taste_Red_files/u124_normal.png');
}

.u140_container {
    position:absolute;
    left:641px;
    top:598px;
    width:290px;
    height:177px;
}

#u140_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:296px;
    height:183px;
}

.u141 {
    position:absolute;
    left:20px;
    top:15px;
    width:260px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u142_normal {
    background-image: url('../Taste_Red_files/u76_normal.png');
}

.u142_container {
    position:absolute;
    left:655px;
    top:611px;
    width:263px;
    height:151px;
}

#u142_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:269px;
    height:157px;
}

.u143 {
    position:absolute;
    left:20px;
    top:15px;
    width:233px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u144 {
    position:absolute;
    left:662px;
    top:682px;
    width:201px;
    height:45px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u145 {
    position:absolute;
    left:662px;
    top:656px;
    width:130px;
    height:27px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u146_normal {
    background-image: url('../Taste_Red_files/u146_normal.png');
}

.u146_container {
    position:absolute;
    left:824px;
    top:625px;
    width:81px;
    height:122px;
}

#u146_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:87px;
    height:128px;
}

.u147 {
    position:absolute;
    left:2px;
    top:54px;
    width:77px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u148_normal {
    background-image: url('../Taste_Red_files/u49_normal.png');
}

.u148_container {
    position:absolute;
    left:335px;
    top:1325px;
    width:290px;
    height:177px;
}

#u148_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:296px;
    height:183px;
}

.u149 {
    position:absolute;
    left:20px;
    top:15px;
    width:260px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u150_normal {
    background-image: url('../Taste_Red_files/u76_normal.png');
}

.u150_container {
    position:absolute;
    left:349px;
    top:1338px;
    width:263px;
    height:151px;
}

#u150_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:269px;
    height:157px;
}

.u151 {
    position:absolute;
    left:20px;
    top:15px;
    width:233px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u152_normal {
    background-image: url('../Taste_Red_files/u49_normal.png');
}

.u152_container {
    position:absolute;
    left:641px;
    top:1325px;
    width:290px;
    height:177px;
}

#u152_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:296px;
    height:183px;
}

.u153 {
    position:absolute;
    left:20px;
    top:15px;
    width:260px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u154_normal {
    background-image: url('../Taste_Red_files/u76_normal.png');
}

.u154_container {
    position:absolute;
    left:655px;
    top:1338px;
    width:263px;
    height:151px;
}

#u154_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:269px;
    height:157px;
}

.u155 {
    position:absolute;
    left:20px;
    top:15px;
    width:233px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u156_normal {
    background-image: url('../Taste_Red_files/u49_normal.png');
}

.u156_container {
    position:absolute;
    left:30px;
    top:959px;
    width:290px;
    height:177px;
}

#u156_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:296px;
    height:183px;
}

.u157 {
    position:absolute;
    left:20px;
    top:15px;
    width:260px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u158_normal {
    background-image: url('../Taste_Red_files/u51_normal.png');
}

.u158_container {
    position:absolute;
    left:43px;
    top:972px;
    width:265px;
    height:149px;
}

#u158_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:271px;
    height:155px;
}

.u159 {
    position:absolute;
    left:20px;
    top:15px;
    width:235px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u160_normal {
    background-image: url('../Taste_Red_files/u54_normal.png');
}

.u160_container {
    position:absolute;
    left:50px;
    top:1007px;
    width:240px;
    height:105px;
}

#u160_img {
    position:absolute;
    left:0px;
    top:0px;
    width:240px;
    height:105px;
}

.u161 {
    position:absolute;
    left:2px;
    top:44px;
    width:236px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u162_normal {
    background-image: url('../Taste_Red_files/u49_normal.png');
}

.u162_container {
    position:absolute;
    left:336px;
    top:959px;
    width:290px;
    height:177px;
}

#u162_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:296px;
    height:183px;
}

.u163 {
    position:absolute;
    left:20px;
    top:15px;
    width:260px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u164_normal {
    background-image: url('../Taste_Red_files/u51_normal.png');
}

.u164_container {
    position:absolute;
    left:348px;
    top:972px;
    width:265px;
    height:149px;
}

#u164_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:271px;
    height:155px;
}

.u165 {
    position:absolute;
    left:20px;
    top:15px;
    width:235px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u166_normal {
    background-image: url('../Taste_Red_files/u54_normal.png');
}

.u166_container {
    position:absolute;
    left:356px;
    top:1007px;
    width:240px;
    height:105px;
}

#u166_img {
    position:absolute;
    left:0px;
    top:0px;
    width:240px;
    height:105px;
}

.u167 {
    position:absolute;
    left:2px;
    top:44px;
    width:236px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u168_normal {
    background-image: url('../Taste_Red_files/u49_normal.png');
}

.u168_container {
    position:absolute;
    left:641px;
    top:959px;
    width:290px;
    height:177px;
}

#u168_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:296px;
    height:183px;
}

.u169 {
    position:absolute;
    left:20px;
    top:15px;
    width:260px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u170_normal {
    background-image: url('../Taste_Red_files/u51_normal.png');
}

.u170_container {
    position:absolute;
    left:653px;
    top:972px;
    width:265px;
    height:149px;
}

#u170_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:271px;
    height:155px;
}

.u171 {
    position:absolute;
    left:20px;
    top:15px;
    width:235px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u172_normal {
    background-image: url('../Taste_Red_files/u54_normal.png');
}

.u172_container {
    position:absolute;
    left:661px;
    top:1007px;
    width:240px;
    height:105px;
}

#u172_img {
    position:absolute;
    left:0px;
    top:0px;
    width:240px;
    height:105px;
}

.u173 {
    position:absolute;
    left:2px;
    top:44px;
    width:236px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u174_normal {
    background-image: url('../Taste_Red_files/u49_normal.png');
}

.u174_container {
    position:absolute;
    left:30px;
    top:2065px;
    width:290px;
    height:177px;
}

#u174_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:296px;
    height:183px;
}

.u175 {
    position:absolute;
    left:20px;
    top:15px;
    width:260px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u176_normal {
    background-image: url('../Taste_Red_files/u76_normal.png');
}

.u176_container {
    position:absolute;
    left:43px;
    top:2078px;
    width:263px;
    height:151px;
}

#u176_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:269px;
    height:157px;
}

.u177 {
    position:absolute;
    left:20px;
    top:15px;
    width:233px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u178_normal {
    background-image: url('../Taste_Red_files/u89_normal.png');
}

.u178_container {
    position:absolute;
    left:239px;
    top:2077px;
    width:62px;
    height:174px;
}

#u178_img {
    position:absolute;
    left:0px;
    top:0px;
    width:62px;
    height:174px;
}

.u179 {
    position:absolute;
    left:-54px;
    top:79px;
    width:170px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;-webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

.u180 {
    position:absolute;
    left:51px;
    top:2130px;
    width:207px;
    height:45px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u181_normal {
    background-image: url('../Taste_Red_files/u49_normal.png');
}

.u181_container {
    position:absolute;
    left:336px;
    top:2065px;
    width:290px;
    height:177px;
}

#u181_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:296px;
    height:183px;
}

.u182 {
    position:absolute;
    left:20px;
    top:15px;
    width:260px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u183_normal {
    background-image: url('../Taste_Red_files/u76_normal.png');
}

.u183_container {
    position:absolute;
    left:348px;
    top:2078px;
    width:263px;
    height:151px;
}

#u183_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:269px;
    height:157px;
}

.u184 {
    position:absolute;
    left:20px;
    top:15px;
    width:233px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u185_normal {
    background-image: url('../Taste_Red_files/u89_normal.png');
}

.u185_container {
    position:absolute;
    left:544px;
    top:2077px;
    width:62px;
    height:174px;
}

#u185_img {
    position:absolute;
    left:0px;
    top:0px;
    width:62px;
    height:174px;
}

.u186 {
    position:absolute;
    left:-54px;
    top:79px;
    width:170px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;-webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

.u187 {
    position:absolute;
    left:356px;
    top:2130px;
    width:207px;
    height:45px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u188_normal {
    background-image: url('../Taste_Red_files/u49_normal.png');
}

.u188_container {
    position:absolute;
    left:641px;
    top:2065px;
    width:290px;
    height:177px;
}

#u188_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:296px;
    height:183px;
}

.u189 {
    position:absolute;
    left:20px;
    top:15px;
    width:260px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u190_normal {
    background-image: url('../Taste_Red_files/u76_normal.png');
}

.u190_container {
    position:absolute;
    left:653px;
    top:2078px;
    width:263px;
    height:151px;
}

#u190_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:269px;
    height:157px;
}

.u191 {
    position:absolute;
    left:20px;
    top:15px;
    width:233px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u192_normal {
    background-image: url('../Taste_Red_files/u89_normal.png');
}

.u192_container {
    position:absolute;
    left:677px;
    top:2078px;
    width:62px;
    height:174px;
}

#u192_img {
    position:absolute;
    left:0px;
    top:0px;
    width:62px;
    height:174px;
}

.u193 {
    position:absolute;
    left:-54px;
    top:79px;
    width:170px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;-webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

.u194 {
    position:absolute;
    left:754px;
    top:2130px;
    width:147px;
    height:90px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u195 {
    position:absolute;
    left:44px;
    top:904px;
    width:600px;
    height:45px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u196 {
    position:absolute;
    left:10px;
    top:509px;
    width:50px;
    height:50px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u197 {
    position:absolute;
    left:10px;
    top:145px;
    width:50px;
    height:50px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u198 {
    position:absolute;
    left:10px;
    top:874px;
    width:50px;
    height:50px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

.u199_normal {
    background-image: url('../Taste_Red_files/u0_normal.png');
}

.u199_container {
    position:absolute;
    left:10px;
    top:1603px;
    width:940px;
    height:296px;
}

#u199_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:946px;
    height:302px;
}

.u200 {
    position:absolute;
    left:20px;
    top:15px;
    width:910px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u201 {
    position:absolute;
    left:44px;
    top:1633px;
    width:600px;
    height:45px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u202_normal {
    background-image: url('../Taste_Red_files/u49_normal.png');
}

.u202_container {
    position:absolute;
    left:30px;
    top:1690px;
    width:290px;
    height:177px;
}

#u202_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:296px;
    height:183px;
}

.u203 {
    position:absolute;
    left:20px;
    top:15px;
    width:260px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u204_normal {
    background-image: url('../Taste_Red_files/u76_normal.png');
}

.u204_container {
    position:absolute;
    left:44px;
    top:1703px;
    width:263px;
    height:151px;
}

#u204_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:269px;
    height:157px;
}

.u205 {
    position:absolute;
    left:20px;
    top:15px;
    width:233px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u206 {
    position:absolute;
    left:51px;
    top:1774px;
    width:201px;
    height:45px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u207_normal {
    background-image: url('../Taste_Red_files/u109_normal.png');
}

.u207_container {
    position:absolute;
    left:193px;
    top:1723px;
    width:106px;
    height:99px;
}

#u207_img {
    position:absolute;
    left:0px;
    top:0px;
    width:106px;
    height:99px;
}

.u208 {
    position:absolute;
    left:2px;
    top:42px;
    width:102px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u209_normal {
    background-image: url('../Taste_Red_files/u49_normal.png');
}

.u209_container {
    position:absolute;
    left:335px;
    top:1690px;
    width:290px;
    height:177px;
}

#u209_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:296px;
    height:183px;
}

.u210 {
    position:absolute;
    left:20px;
    top:15px;
    width:260px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u211_normal {
    background-image: url('../Taste_Red_files/u76_normal.png');
}

.u211_container {
    position:absolute;
    left:349px;
    top:1703px;
    width:263px;
    height:151px;
}

#u211_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:269px;
    height:157px;
}

.u212 {
    position:absolute;
    left:20px;
    top:15px;
    width:233px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u213 {
    position:absolute;
    left:356px;
    top:1774px;
    width:201px;
    height:45px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u214_normal {
    background-image: url('../Taste_Red_files/u109_normal.png');
}

.u214_container {
    position:absolute;
    left:498px;
    top:1723px;
    width:106px;
    height:99px;
}

#u214_img {
    position:absolute;
    left:0px;
    top:0px;
    width:106px;
    height:99px;
}

.u215 {
    position:absolute;
    left:2px;
    top:42px;
    width:102px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u216_normal {
    background-image: url('../Taste_Red_files/u49_normal.png');
}

.u216_container {
    position:absolute;
    left:641px;
    top:1690px;
    width:290px;
    height:177px;
}

#u216_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:296px;
    height:183px;
}

.u217 {
    position:absolute;
    left:20px;
    top:15px;
    width:260px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u218_normal {
    background-image: url('../Taste_Red_files/u76_normal.png');
}

.u218_container {
    position:absolute;
    left:655px;
    top:1703px;
    width:263px;
    height:151px;
}

#u218_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:269px;
    height:157px;
}

.u219 {
    position:absolute;
    left:20px;
    top:15px;
    width:233px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u220_normal {
    background-image: url('../Taste_Red_files/u109_normal.png');
}

.u220_container {
    position:absolute;
    left:655px;
    top:1723px;
    width:106px;
    height:99px;
}

#u220_img {
    position:absolute;
    left:0px;
    top:0px;
    width:106px;
    height:99px;
}

.u221 {
    position:absolute;
    left:2px;
    top:42px;
    width:102px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u222 {
    position:absolute;
    left:768px;
    top:1741px;
    width:142px;
    height:90px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u223_normal {
    background-image: url('../Taste_Red_files/u89_normal.png');
}

.u223_container {
    position:absolute;
    left:239px;
    top:1338px;
    width:62px;
    height:174px;
}

#u223_img {
    position:absolute;
    left:0px;
    top:0px;
    width:62px;
    height:174px;
}

.u224 {
    position:absolute;
    left:-54px;
    top:79px;
    width:170px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;-webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

.u225_normal {
    background-image: url('../Taste_Red_files/u89_normal.png');
}

.u225_container {
    position:absolute;
    left:660px;
    top:1339px;
    width:62px;
    height:174px;
}

#u225_img {
    position:absolute;
    left:0px;
    top:0px;
    width:62px;
    height:174px;
}

.u226 {
    position:absolute;
    left:-54px;
    top:79px;
    width:170px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;-webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

.u227_normal {
    background-image: url('../Taste_Red_files/u89_normal.png');
}

.u227_container {
    position:absolute;
    left:112px;
    top:1366px;
    width:62px;
    height:174px;-webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);

}

#u227_img {
    position:absolute;
    left:0px;
    top:0px;
    width:62px;
    height:174px;
}

.u228 {
    position:absolute;
    left:-54px;
    top:79px;
    width:170px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;-webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.u229_normal {
    background-image: url('../Taste_Red_files/u89_normal.png');
}

.u229_container {
    position:absolute;
    left:697px;
    top:1339px;
    width:62px;
    height:174px;
}

#u229_img {
    position:absolute;
    left:0px;
    top:0px;
    width:62px;
    height:174px;
}

.u230 {
    position:absolute;
    left:-54px;
    top:79px;
    width:170px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;-webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

.u231_normal {
    background-image: url('../Taste_Red_files/u231_normal.png');
}

.u231_container {
    position:absolute;
    left:46px;
    top:1350px;
    width:189px;
    height:82px;
}

#u231_img {
    position:absolute;
    left:0px;
    top:0px;
    width:189px;
    height:82px;
}

.u232 {
    position:absolute;
    left:2px;
    top:33px;
    width:185px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u233 {
    position:absolute;
    left:61px;
    top:1428px;
    width:20px;
    height:45px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u234 {
    position:absolute;
    left:224px;
    top:1428px;
    width:20px;
    height:45px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u235 {
    position:absolute;
    left:762px;
    top:1359px;
    width:142px;
    height:45px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u236 {
    position:absolute;
    left:763px;
    top:1410px;
    width:200px;
    height:45px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u237 {
    position:absolute;
    left:763px;
    top:1444px;
    width:200px;
    height:45px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u238_normal {
    background-image: url('../Taste_Red_files/u89_normal.png');
}

.u238_container {
    position:absolute;
    left:546px;
    top:1338px;
    width:62px;
    height:174px;
}

#u238_img {
    position:absolute;
    left:0px;
    top:0px;
    width:62px;
    height:174px;
}

.u239 {
    position:absolute;
    left:-54px;
    top:79px;
    width:170px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;-webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

.u240_normal {
    background-image: url('../Taste_Red_files/u89_normal.png');
}

.u240_container {
    position:absolute;
    left:419px;
    top:1366px;
    width:62px;
    height:174px;-webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);

}

#u240_img {
    position:absolute;
    left:0px;
    top:0px;
    width:62px;
    height:174px;
}

.u241 {
    position:absolute;
    left:-54px;
    top:79px;
    width:170px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;-webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.u242_normal {
    background-image: url('../Taste_Red_files/u231_normal.png');
}

.u242_container {
    position:absolute;
    left:353px;
    top:1350px;
    width:189px;
    height:82px;
}

#u242_img {
    position:absolute;
    left:0px;
    top:0px;
    width:189px;
    height:82px;
}

.u243 {
    position:absolute;
    left:2px;
    top:33px;
    width:185px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u244 {
    position:absolute;
    left:368px;
    top:1428px;
    width:20px;
    height:45px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u245 {
    position:absolute;
    left:531px;
    top:1428px;
    width:20px;
    height:45px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

