body {
    margin: 0px;
    text-align: center;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
    position: relative;
    left: -181px;
    width: 599px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Create_Account_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:254px;
    top:170px;
    width:453px;
    height:260px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:459px;
    height:266px;
}

.u1 {
    position:absolute;
    left:20px;
    top:15px;
    width:423px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../Create_Account_files/Facebook_Connect_u2_normal.png');
}

.u2_container {
    position:absolute;
    left:336px;
    top:301px;
    width:90px;
    height:30px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:36px;
}

.u3 {
    position:absolute;
    left:2px;
    top:8px;
    width:86px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_line {
    background-image: url('../Create_Account_files/u4_line.png');
}

.u4_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:214px;
}

.u4 {
    position:absolute;
    left:376px;
    top:168px;
    width:10px;
    height:214px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);

}

.u5_normal {
    background-image: url('../Create_Account_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:373px;
    top:265px;
    width:18px;
    height:20px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:26px;
}

.u6 {
    position:absolute;
    left:20px;
    top:15px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:371px;
    top:265px;
    width:20px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:296px;
    top:341px;
    width:170px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:518px;
    top:242px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:518px;
    top:258px;
    width:170px;
    height:30px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u11 {
    position:absolute;
    left:518px;
    top:317px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:518px;
    top:335px;
    width:170px;
    height:30px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u13_mouseOver {
    background-image: url('../Create_Account_files/Continue_u13_mouseOver.png');
}

.u13_mouseDown {
    background-image: url('../Create_Account_files/Continue_u13_mouseDown.png');
}

.u13_normal {
    background-image: url('../Create_Account_files/Continue_u13_normal.png');
}

.u13_container {
    position:absolute;
    left:558px;
    top:380px;
    width:90px;
    height:25px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:31px;
}

.u14 {
    position:absolute;
    left:2px;
    top:5px;
    width:86px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:518px;
    top:183px;
    width:170px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:518px;
    top:200px;
    width:170px;
    height:30px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u17 {
    position:absolute;
    left:274px;
    top:170px;
    width:224px;
    height:45px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:274px;
    top:215px;
    width:180px;
    height:36px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_mouseOver {
    background-image: url('../Create_Account_files/login___tab_handle_u19_mouseOver.png');
}

.u19_mouseDown {
    background-image: url('../Create_Account_files/login___tab_handle_u19_mouseDown.png');
}

.u19_selected {
    background-image: url('../Create_Account_files/login___tab_handle_u19_selected.png');
}

.u19_normal {
    background-image: url('../Create_Account_files/login___tab_handle_u19_normal.png');
}

.u19_container {
    position:absolute;
    left:404px;
    top:114px;
    width:150px;
    height:40px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:46px;
}

.u20 {
    position:absolute;
    left:2px;
    top:12px;
    width:146px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_mouseOver {
    background-image: url('../Create_Account_files/login___tab_handle_u19_mouseOver.png');
}

.u21_mouseDown {
    background-image: url('../Create_Account_files/login___tab_handle_u19_mouseDown.png');
}

.u21_selected {
    background-image: url('../Create_Account_files/login___tab_handle_u19_selected.png');
}

.u21_normal {
    background-image: url('../Create_Account_files/login___tab_handle_u19_normal.png');
}

.u21_container {
    position:absolute;
    left:254px;
    top:114px;
    width:150px;
    height:40px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:46px;
}

.u22 {
    position:absolute;
    left:2px;
    top:12px;
    width:146px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_mouseOver {
    background-image: url('../Create_Account_files/guest_checkout___tab_handle_u23_mouseOver.png');
}

.u23_mouseDown {
    background-image: url('../Create_Account_files/guest_checkout___tab_handle_u23_mouseDown.png');
}

.u23_selected {
    background-image: url('../Create_Account_files/guest_checkout___tab_handle_u23_selected.png');
}

.u23_normal {
    background-image: url('../Create_Account_files/guest_checkout___tab_handle_u23_normal.png');
}

.u23_container {
    position:absolute;
    left:556px;
    top:118px;
    width:154px;
    height:31px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:160px;
    height:37px;
}

.u24 {
    position:absolute;
    left:2px;
    top:8px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../You_Have___Items_files/u143_normal.png');
}

.u25_container {
    position:absolute;
    left:190px;
    top:23px;
    width:16px;
    height:16px;
}

#u25_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u26 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:216px;
    top:18px;
    width:430px;
    height:27px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../Create_Account_files/u29_normal.png');
}

.u29_container {
    position:absolute;
    left:211px;
    top:60px;
    width:130px;
    height:25px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:136px;
    height:31px;
}

.u30 {
    position:absolute;
    left:2px;
    top:4px;
    width:126px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../Create_Account_files/u31_normal.png');
}

.u31_container {
    position:absolute;
    left:291px;
    top:55px;
    width:35px;
    height:35px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:41px;
    height:41px;
}

.u32 {
    position:absolute;
    left:2px;
    top:9px;
    width:31px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../Create_Account_files/u33_normal.png');
}

.u33_container {
    position:absolute;
    left:181px;
    top:55px;
    width:35px;
    height:35px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:41px;
    height:41px;
}

.u34 {
    position:absolute;
    left:2px;
    top:9px;
    width:31px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:221px;
    top:65px;
    width:60px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_normal {
    background-image: url('../Create_Account_files/u36_normal.png');
}

.u36_container {
    position:absolute;
    left:321px;
    top:60px;
    width:130px;
    height:25px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:136px;
    height:31px;
}

.u37 {
    position:absolute;
    left:2px;
    top:4px;
    width:126px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:326px;
    top:65px;
    width:55px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../Create_Account_files/u39_normal.png');
}

.u39_container {
    position:absolute;
    left:413px;
    top:60px;
    width:367px;
    height:25px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:373px;
    height:31px;
}

.u40 {
    position:absolute;
    left:2px;
    top:4px;
    width:363px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../Create_Account_files/u41_normal.png');
}

.u41_container {
    position:absolute;
    left:525px;
    top:55px;
    width:35px;
    height:35px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:41px;
    height:41px;
}

.u42 {
    position:absolute;
    left:2px;
    top:9px;
    width:31px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43 {
    position:absolute;
    left:562px;
    top:66px;
    width:90px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:694px;
    top:66px;
    width:84px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_normal {
    background-image: url('../Create_Account_files/u41_normal.png');
}

.u45_container {
    position:absolute;
    left:654px;
    top:55px;
    width:35px;
    height:35px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:41px;
    height:41px;
}

.u46 {
    position:absolute;
    left:2px;
    top:9px;
    width:31px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_normal {
    background-image: url('../Create_Account_files/u41_normal.png');
}

.u47_container {
    position:absolute;
    left:386px;
    top:55px;
    width:35px;
    height:35px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:41px;
    height:41px;
}

.u48 {
    position:absolute;
    left:2px;
    top:9px;
    width:31px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49 {
    position:absolute;
    left:421px;
    top:65px;
    width:99px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:518px;
    top:287px;
    width:150px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

