* html .u0_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="EmailSignup___Eyebrow_files/u310_normal.png");
}

* html .u2_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="EmailSignup___Eyebrow_files/u312_normal.png");
}

* html .u9_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="EmailSignup___Eyebrow_files/btn___SignUp___GlobalFooter_u319_mouseOver.png");
}

* html .u9_mouseDown {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="EmailSignup___Eyebrow_files/btn___SignUp___GlobalFooter_u319_mouseDown.png");
}

* html .u9_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="EmailSignup___Eyebrow_files/btn___SignUp___GlobalFooter_u319_normal.png");
}

* html .u12_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Footer_Links_files/u322_normal.png");
}

