body {
    margin: 0px;
    background-color: #FEFEFE;
    text-align: center;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
    position: relative;
    left: --3px;
    width: 961px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_menu {
    background-image: url('../Explore_files/u0_menu.png');
}

.u0_menu {
    position:absolute;
    left:242px;
    top:55px;
    width:524px;
    height:43px;
}

#u0_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:521px;
    height:40px;
}

#u1 {
    position:absolute;
    left:3px;
    top:3px;
    width:514px;
    height:33px
}

.u2_mouseOver {
    background-image: url('../Explore_files/u2_mouseOver.png');
}

.u2_selected {
    background-image: url('../Explore_files/u2_selected.png');
}

.u2_normal {
    background-image: url('../Explore_files/u2_mouseOver.png');
}

.u2_container {
    position:absolute;
    left:0px;
    top:0px;
    width:170px;
    height:28px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:176px;
    height:34px;
}

.u3 {
    position:absolute;
    left:2px;
    top:10px;
    width:166px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_selected {
    background-image: url('../Explore_files/u2_selected.png');
}

.u4_normal {
    background-image: url('../Explore_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:170px;
    top:0px;
    width:170px;
    height:28px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:176px;
    height:34px;
}

.u5 {
    position:absolute;
    left:2px;
    top:10px;
    width:166px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_mouseOver {
    background-image: url('../Explore_files/u6_mouseOver.png');
}

.u6_selected {
    background-image: url('../Explore_files/u2_selected.png');
}

.u6_normal {
    background-image: url('../Explore_files/u6_mouseOver.png');
}

.u6_container {
    position:absolute;
    left:340px;
    top:0px;
    width:170px;
    height:28px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:176px;
    height:34px;
}

.u7 {
    position:absolute;
    left:2px;
    top:10px;
    width:166px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_menu {
    background-image: url('../Explore_files/u8_menu.png');
}

.u8_menu {
    position:absolute;
    left:0px;
    top:28px;
    width:181px;
    height:175px;
}

#u8_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:178px;
    height:172px;
}

#u9 {
    position:absolute;
    left:3px;
    top:3px;
    width:171px;
    height:165px
}

.u10_mouseOver {
    background-image: url('../Explore_files/u10_mouseOver.png');
}

.u10_selected {
    background-image: url('../Explore_files/u10_selected.png');
}

.u10_normal {
    background-image: url('../Explore_files/u10_mouseOver.png');
}

.u10_container {
    position:absolute;
    left:0px;
    top:0px;
    width:166px;
    height:20px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:172px;
    height:26px;
}

.u11 {
    position:absolute;
    left:10px;
    top:3px;
    width:154px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_mouseOver {
    background-image: url('../Explore_files/u10_mouseOver.png');
}

.u12_selected {
    background-image: url('../Explore_files/u10_selected.png');
}

.u12_normal {
    background-image: url('../Explore_files/u10_mouseOver.png');
}

.u12_container {
    position:absolute;
    left:0px;
    top:20px;
    width:166px;
    height:20px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:172px;
    height:26px;
}

.u13 {
    position:absolute;
    left:10px;
    top:3px;
    width:154px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_mouseOver {
    background-image: url('../Explore_files/u10_mouseOver.png');
}

.u14_selected {
    background-image: url('../Explore_files/u10_selected.png');
}

.u14_normal {
    background-image: url('../Explore_files/u10_mouseOver.png');
}

.u14_container {
    position:absolute;
    left:0px;
    top:40px;
    width:166px;
    height:20px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:172px;
    height:26px;
}

.u15 {
    position:absolute;
    left:10px;
    top:3px;
    width:154px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_mouseOver {
    background-image: url('../Explore_files/u10_mouseOver.png');
}

.u16_selected {
    background-image: url('../Explore_files/u10_selected.png');
}

.u16_normal {
    background-image: url('../Explore_files/u10_mouseOver.png');
}

.u16_container {
    position:absolute;
    left:0px;
    top:60px;
    width:166px;
    height:20px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:172px;
    height:26px;
}

.u17 {
    position:absolute;
    left:10px;
    top:3px;
    width:154px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_mouseOver {
    background-image: url('../Explore_files/u10_mouseOver.png');
}

.u18_selected {
    background-image: url('../Explore_files/u10_selected.png');
}

.u18_normal {
    background-image: url('../Explore_files/u10_mouseOver.png');
}

.u18_container {
    position:absolute;
    left:0px;
    top:80px;
    width:166px;
    height:20px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:172px;
    height:26px;
}

.u19 {
    position:absolute;
    left:10px;
    top:3px;
    width:154px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_mouseOver {
    background-image: url('../Explore_files/u10_mouseOver.png');
}

.u20_selected {
    background-image: url('../Explore_files/u10_selected.png');
}

.u20_normal {
    background-image: url('../Explore_files/u10_mouseOver.png');
}

.u20_container {
    position:absolute;
    left:0px;
    top:100px;
    width:166px;
    height:20px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:172px;
    height:26px;
}

.u21 {
    position:absolute;
    left:10px;
    top:3px;
    width:154px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_mouseOver {
    background-image: url('../Explore_files/u10_mouseOver.png');
}

.u22_selected {
    background-image: url('../Explore_files/u10_selected.png');
}

.u22_normal {
    background-image: url('../Explore_files/u10_mouseOver.png');
}

.u22_container {
    position:absolute;
    left:0px;
    top:120px;
    width:166px;
    height:20px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:172px;
    height:26px;
}

.u23 {
    position:absolute;
    left:10px;
    top:3px;
    width:154px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_mouseOver {
    background-image: url('../Explore_files/u10_mouseOver.png');
}

.u24_selected {
    background-image: url('../Explore_files/u10_selected.png');
}

.u24_normal {
    background-image: url('../Explore_files/u10_mouseOver.png');
}

.u24_container {
    position:absolute;
    left:0px;
    top:140px;
    width:166px;
    height:20px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:172px;
    height:26px;
}

.u25 {
    position:absolute;
    left:10px;
    top:3px;
    width:154px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_menu {
    background-image: url('../Explore_files/u26_menu.png');
}

.u26_menu {
    position:absolute;
    left:340px;
    top:28px;
    width:182px;
    height:95px;
}

#u26_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:179px;
    height:92px;
}

#u27 {
    position:absolute;
    left:3px;
    top:3px;
    width:172px;
    height:97px
}

.u28_mouseOver {
    background-image: url('../Explore_files/u28_mouseOver.png');
}

.u28_selected {
    background-image: url('../Explore_files/u28_selected.png');
}

.u28_normal {
    background-image: url('../Explore_files/u28_mouseOver.png');
}

.u28_container {
    position:absolute;
    left:0px;
    top:0px;
    width:167px;
    height:20px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:173px;
    height:26px;
}

.u29 {
    position:absolute;
    left:20px;
    top:3px;
    width:145px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_mouseOver {
    background-image: url('../Explore_files/u28_mouseOver.png');
}

.u30_selected {
    background-image: url('../Explore_files/u28_selected.png');
}

.u30_normal {
    background-image: url('../Explore_files/u28_mouseOver.png');
}

.u30_container {
    position:absolute;
    left:0px;
    top:20px;
    width:167px;
    height:20px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:173px;
    height:26px;
}

.u31 {
    position:absolute;
    left:20px;
    top:3px;
    width:145px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_mouseOver {
    background-image: url('../Explore_files/u28_mouseOver.png');
}

.u32_selected {
    background-image: url('../Explore_files/u28_selected.png');
}

.u32_normal {
    background-image: url('../Explore_files/u28_mouseOver.png');
}

.u32_container {
    position:absolute;
    left:0px;
    top:40px;
    width:167px;
    height:20px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:173px;
    height:26px;
}

.u33 {
    position:absolute;
    left:20px;
    top:3px;
    width:145px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_mouseOver {
    background-image: url('../Explore_files/u34_mouseOver.png');
}

.u34_selected {
    background-image: url('../Explore_files/u34_selected.png');
}

.u34_normal {
    background-image: url('../Explore_files/u34_mouseOver.png');
}

.u34_container {
    position:absolute;
    left:0px;
    top:60px;
    width:167px;
    height:32px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:173px;
    height:38px;
}

.u35 {
    position:absolute;
    left:20px;
    top:2px;
    width:145px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../Explore_files/u37_normal.png');
}

.u37_container {
    position:absolute;
    left:10px;
    top:10px;
    width:220px;
    height:80px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:226px;
    height:86px;
}

.u38 {
    position:absolute;
    left:2px;
    top:32px;
    width:216px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:778px;
    top:10px;
    width:60px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:848px;
    top:10px;
    width:110px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:838px;
    top:10px;
    width:10px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u44 {
    position:absolute;
    left:778px;
    top:60px;
    width:173px;
    height:31px;
    overflow:hidden;
}

#pd1u44 {
    position:absolute;
    left:0px;
    top:0px;
    width:173px;
    height:31px;
    
}

.u45_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u45_container {
    position:absolute;
    left:0px;
    top:0px;
    width:142px;
    height:30px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:148px;
    height:36px;
}

.u46 {
    position:absolute;
    left:2px;
    top:7px;
    width:138px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_image_sketch {
    background-image: url('../Explore_files/Search_u47_image_sketch.png');
    position:absolute;
    left:-3px;
    top:-3px;
    width:147px;
    height:37px;
}

.u47 {
    position:absolute;
    left:0px;
    top:0px;
    width:141px;
    height:31px;
    ;
    ;
    text-align: left;;
    font-family:'Helvetica';
    font-size: 13px;
    color:#666666;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u47_text_sketch {
    color: #656565;
    font-family: 'Lucida Sans Std';
}

.u48_normal {
    background-image: url('../Explore_files/u48_normal.png');
}

.u48_container {
    position:absolute;
    left:140px;
    top:0px;
    width:33px;
    height:30px;
}

#u48_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:39px;
    height:36px;
}

.u49 {
    position:absolute;
    left:2px;
    top:8px;
    width:29px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u44 {
    position:absolute;
    left:0px;
    top:0px;
    width:173px;
    height:31px;
    
}

.u50_normal {
    background-image: url('../Explore_files/u50_normal.png');
}

.u50_container {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

#u50_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u51 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u52_container {
    position:absolute;
    left:30px;
    top:0px;
    width:75px;
    height:30px;
}

#u52_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:81px;
    height:36px;
}

.u53 {
    position:absolute;
    left:2px;
    top:7px;
    width:71px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_normal {
    background-image: url('../Explore_files/u55_normal.png');
}

.u55_container {
    position:absolute;
    left:202px;
    top:110px;
    width:748px;
    height:421px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:754px;
    height:427px;
}

.u56 {
    position:absolute;
    left:2px;
    top:196px;
    width:744px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_line {
    background-image: url('../Explore_files/u57_line.png');
}

.u57_line {
    position:absolute;
    left:0px;
    top:3px;
    width:940px;
    height:5px;
}

.u57 {
    position:absolute;
    left:10px;
    top:95px;
    width:940px;
    height:10px;
    
}

.u58_normal {
    background-image: url('../Explore_files/u58_normal.png');
}

.u58_container {
    position:absolute;
    left:202px;
    top:550px;
    width:173px;
    height:106px;
}

#u58_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:179px;
    height:112px;
}

.u59 {
    position:absolute;
    left:2px;
    top:46px;
    width:169px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60_normal {
    background-image: url('../Explore_files/u58_normal.png');
}

.u60_container {
    position:absolute;
    left:392px;
    top:550px;
    width:173px;
    height:106px;
}

#u60_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:179px;
    height:112px;
}

.u61 {
    position:absolute;
    left:2px;
    top:46px;
    width:169px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62_normal {
    background-image: url('../Explore_files/u62_normal.png');
}

.u62_container {
    position:absolute;
    left:585px;
    top:550px;
    width:365px;
    height:224px;
}

#u62_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:371px;
    height:230px;
}

.u63 {
    position:absolute;
    left:2px;
    top:104px;
    width:361px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64_normal {
    background-image: url('../Explore_files/u58_normal.png');
}

.u64_container {
    position:absolute;
    left:777px;
    top:794px;
    width:173px;
    height:106px;
}

#u64_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:179px;
    height:112px;
}

.u65 {
    position:absolute;
    left:2px;
    top:46px;
    width:169px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66_normal {
    background-image: url('../Explore_files/u58_normal.png');
}

.u66_container {
    position:absolute;
    left:587px;
    top:794px;
    width:173px;
    height:106px;
}

#u66_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:179px;
    height:112px;
}

.u67 {
    position:absolute;
    left:2px;
    top:46px;
    width:169px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68_normal {
    background-image: url('../Explore_files/u62_normal.png');
}

.u68_container {
    position:absolute;
    left:202px;
    top:676px;
    width:365px;
    height:224px;
}

#u68_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:371px;
    height:230px;
}

.u69 {
    position:absolute;
    left:2px;
    top:104px;
    width:361px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70_normal {
    background-image: url('../Explore_files/u70_normal.png');
}

.u70_container {
    position:absolute;
    left:202px;
    top:920px;
    width:236px;
    height:133px;
}

#u70_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:242px;
    height:139px;
}

.u71 {
    position:absolute;
    left:2px;
    top:59px;
    width:232px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72_normal {
    background-image: url('../Explore_files/u70_normal.png');
}

.u72_container {
    position:absolute;
    left:713px;
    top:920px;
    width:236px;
    height:133px;
}

#u72_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:242px;
    height:139px;
}

.u73 {
    position:absolute;
    left:2px;
    top:59px;
    width:232px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74_normal {
    background-image: url('../Explore_files/u70_normal.png');
}

.u74_container {
    position:absolute;
    left:457px;
    top:920px;
    width:236px;
    height:133px;
}

#u74_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:242px;
    height:139px;
}

.u75 {
    position:absolute;
    left:2px;
    top:59px;
    width:232px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u76_normal {
    background-image: url('../Explore_files/u76_normal.png');
}

.u76_container {
    position:absolute;
    left:16px;
    top:776px;
    width:157px;
    height:280px;
}

#u76_img {
    position:absolute;
    left:0px;
    top:0px;
    width:157px;
    height:280px;
}

.u77 {
    position:absolute;
    left:2px;
    top:132px;
    width:153px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78_normal {
    background-image: url('../Explore_files/u78_normal.png');
}

.u78_container {
    position:absolute;
    left:194px;
    top:967px;
    width:170px;
    height:92px;
}

#u78_img {
    position:absolute;
    left:0px;
    top:0px;
    width:170px;
    height:92px;
}

.u79 {
    position:absolute;
    left:2px;
    top:38px;
    width:166px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80_normal {
    background-image: url('../Explore_files/u80_normal.png');
}

.u80_container {
    position:absolute;
    left:-3px;
    top:825px;
    width:196px;
    height:38px;
}

#u80_img {
    position:absolute;
    left:0px;
    top:0px;
    width:196px;
    height:38px;
}

.u81 {
    position:absolute;
    left:2px;
    top:11px;
    width:192px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82_normal {
    background-image: url('../Explore_files/u82_normal.png');
}

.u82_container {
    position:absolute;
    left:450px;
    top:967px;
    width:170px;
    height:92px;
}

#u82_img {
    position:absolute;
    left:0px;
    top:0px;
    width:170px;
    height:92px;
}

.u83 {
    position:absolute;
    left:2px;
    top:38px;
    width:166px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84_normal {
    background-image: url('../Explore_files/u84_normal.png');
}

.u84_container {
    position:absolute;
    left:705px;
    top:967px;
    width:170px;
    height:92px;
}

#u84_img {
    position:absolute;
    left:0px;
    top:0px;
    width:170px;
    height:92px;
}

.u85 {
    position:absolute;
    left:2px;
    top:38px;
    width:166px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86_normal {
    background-image: url('../Explore_files/u86_normal.png');
}

.u86_container {
    position:absolute;
    left:384px;
    top:920px;
    width:36px;
    height:170px;
}

#u86_img {
    position:absolute;
    left:0px;
    top:0px;
    width:36px;
    height:170px;
}

.u87 {
    position:absolute;
    left:2px;
    top:77px;
    width:32px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88_normal {
    background-image: url('../Explore_files/u86_normal.png');
}

.u88_container {
    position:absolute;
    left:640px;
    top:920px;
    width:36px;
    height:170px;
}

#u88_img {
    position:absolute;
    left:0px;
    top:0px;
    width:36px;
    height:170px;
}

.u89 {
    position:absolute;
    left:2px;
    top:77px;
    width:32px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u90_normal {
    background-image: url('../Explore_files/u86_normal.png');
}

.u90_container {
    position:absolute;
    left:895px;
    top:920px;
    width:36px;
    height:170px;
}

#u90_img {
    position:absolute;
    left:0px;
    top:0px;
    width:36px;
    height:170px;
}

.u91 {
    position:absolute;
    left:2px;
    top:77px;
    width:32px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92_mouseOver {
    background-image: url('../resources/images/transparent.gif');
}

.u92_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u92_container {
    position:absolute;
    left:10px;
    top:110px;
    width:170px;
    height:15px;
}

#u92_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:176px;
    height:21px;
}

.u93 {
    position:absolute;
    left:0px;
    top:0px;
    width:170px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94_mouseOver {
    background-image: url('../resources/images/transparent.gif');
}

.u94_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u94_container {
    position:absolute;
    left:10px;
    top:130px;
    width:170px;
    height:12px;
}

#u94_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:176px;
    height:18px;
}

.u95 {
    position:absolute;
    left:0px;
    top:0px;
    width:170px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u96_mouseOver {
    background-image: url('../resources/images/transparent.gif');
}

.u96_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u96_container {
    position:absolute;
    left:10px;
    top:148px;
    width:170px;
    height:12px;
}

#u96_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:176px;
    height:18px;
}

.u97 {
    position:absolute;
    left:0px;
    top:0px;
    width:170px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98_mouseOver {
    background-image: url('../resources/images/transparent.gif');
}

.u98_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u98_container {
    position:absolute;
    left:10px;
    top:166px;
    width:170px;
    height:12px;
}

#u98_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:176px;
    height:18px;
}

.u99 {
    position:absolute;
    left:0px;
    top:0px;
    width:170px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u100_mouseOver {
    background-image: url('../resources/images/transparent.gif');
}

.u100_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u100_container {
    position:absolute;
    left:10px;
    top:185px;
    width:170px;
    height:12px;
}

#u100_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:176px;
    height:18px;
}

.u101 {
    position:absolute;
    left:0px;
    top:0px;
    width:170px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u102_mouseOver {
    background-image: url('../resources/images/transparent.gif');
}

.u102_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u102_container {
    position:absolute;
    left:10px;
    top:211px;
    width:170px;
    height:15px;
}

#u102_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:176px;
    height:21px;
}

.u103 {
    position:absolute;
    left:0px;
    top:0px;
    width:170px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u104_mouseOver {
    background-image: url('../resources/images/transparent.gif');
}

.u104_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u104_container {
    position:absolute;
    left:10px;
    top:231px;
    width:170px;
    height:12px;
}

#u104_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:176px;
    height:18px;
}

.u105 {
    position:absolute;
    left:0px;
    top:0px;
    width:170px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u106_mouseOver {
    background-image: url('../resources/images/transparent.gif');
}

.u106_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u106_container {
    position:absolute;
    left:10px;
    top:250px;
    width:170px;
    height:12px;
}

#u106_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:176px;
    height:18px;
}

.u107 {
    position:absolute;
    left:0px;
    top:0px;
    width:170px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u108_mouseOver {
    background-image: url('../resources/images/transparent.gif');
}

.u108_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u108_container {
    position:absolute;
    left:10px;
    top:268px;
    width:170px;
    height:12px;
}

#u108_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:176px;
    height:18px;
}

.u109 {
    position:absolute;
    left:0px;
    top:0px;
    width:170px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

