body {
    margin: 0px;
    text-align: center;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
    position: relative;
    left: -10px;
    width: 989px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../ChangeLog_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:10px;
    top:400px;
    width:910px;
    height:65px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:916px;
    height:71px;
}

.u1 {
    position:absolute;
    left:20px;
    top:15px;
    width:880px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:10px;
    top:290px;
    width:259px;
    height:45px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3 {
    position:absolute;
    left:20px;
    top:362px;
    width:157px;
    height:27px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:168px;
    top:362px;
    width:107px;
    height:27px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:266px;
    top:362px;
    width:95px;
    height:27px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:356px;
    top:362px;
    width:323px;
    height:27px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:20px;
    top:408px;
    width:122px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:168px;
    top:408px;
    width:69px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:266px;
    top:408px;
    width:70px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:356px;
    top:408px;
    width:643px;
    height:36px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:20px;
    top:474px;
    width:122px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:168px;
    top:474px;
    width:69px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:266px;
    top:474px;
    width:70px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:356px;
    top:474px;
    width:564px;
    height:36px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../ChangeLog_files/u15_normal.png');
}

.u15_container {
    position:absolute;
    left:10px;
    top:90px;
    width:167px;
    height:55px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:173px;
    height:61px;
}

.u16 {
    position:absolute;
    left:2px;
    top:14px;
    width:163px;
    height:27px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../ChangeLog_files/u15_normal.png');
}

.u17_container {
    position:absolute;
    left:206px;
    top:90px;
    width:167px;
    height:55px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:173px;
    height:61px;
}

.u18 {
    position:absolute;
    left:2px;
    top:14px;
    width:163px;
    height:27px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../ChangeLog_files/u15_normal.png');
}

.u19_container {
    position:absolute;
    left:402px;
    top:90px;
    width:167px;
    height:55px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:173px;
    height:61px;
}

.u20 {
    position:absolute;
    left:2px;
    top:14px;
    width:163px;
    height:27px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../ChangeLog_files/u15_normal.png');
}

.u21_container {
    position:absolute;
    left:10px;
    top:165px;
    width:167px;
    height:55px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:173px;
    height:61px;
}

.u22 {
    position:absolute;
    left:2px;
    top:14px;
    width:163px;
    height:27px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../ChangeLog_files/u23_normal.png');
}

.u23_container {
    position:absolute;
    left:10px;
    top:530px;
    width:910px;
    height:92px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:916px;
    height:98px;
}

.u24 {
    position:absolute;
    left:20px;
    top:15px;
    width:880px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:20px;
    top:539px;
    width:122px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:168px;
    top:539px;
    width:69px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:266px;
    top:539px;
    width:70px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:356px;
    top:539px;
    width:564px;
    height:72px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_line {
    background-image: url('../ChangeLog_files/u29_line.png');
}

.u29_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:441px;
}

.u29 {
    position:absolute;
    left:152px;
    top:400px;
    width:10px;
    height:441px;
    
}

.u30_line {
    background-image: url('../ChangeLog_files/u30_line.png');
}

.u30_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:441px;
}

.u30 {
    position:absolute;
    left:248px;
    top:400px;
    width:10px;
    height:441px;
    
}

.u31_line {
    background-image: url('../ChangeLog_files/u31_line.png');
}

.u31_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:441px;
}

.u31 {
    position:absolute;
    left:336px;
    top:400px;
    width:10px;
    height:441px;
    
}

.u32 {
    position:absolute;
    left:20px;
    top:631px;
    width:122px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:168px;
    top:631px;
    width:69px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:266px;
    top:631px;
    width:70px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:356px;
    top:631px;
    width:643px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_normal {
    background-image: url('../ChangeLog_files/u15_normal.png');
}

.u36_container {
    position:absolute;
    left:206px;
    top:165px;
    width:167px;
    height:55px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:173px;
    height:61px;
}

.u37 {
    position:absolute;
    left:2px;
    top:14px;
    width:163px;
    height:27px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:10px;
    top:17px;
    width:259px;
    height:45px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../ChangeLog_files/u15_normal.png');
}

.u39_container {
    position:absolute;
    left:402px;
    top:165px;
    width:167px;
    height:55px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:173px;
    height:61px;
}

.u40 {
    position:absolute;
    left:2px;
    top:14px;
    width:163px;
    height:27px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

