body {
    margin: 0px;
    text-align: center;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
    position: relative;
    left: -0px;
    width: 320px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../proddetail_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:145px;
    width:320px;
    height:25px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:31px;
}

.u1 {
    position:absolute;
    left:2px;
    top:4px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:202px;
    top:120px;
    width:82px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_normal {
    background-image: url('../proddetail_files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:190px;
    top:122px;
    width:7px;
    height:8px;
}

#u3_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:13px;
    height:14px;
}

.u4 {
    position:absolute;
    left:2px;
    top:-4px;
    width:3px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:42px;
    top:120px;
    width:112px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../proddetail_files/u3_normal.png');
}

.u6_container {
    position:absolute;
    left:30px;
    top:122px;
    width:7px;
    height:8px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:13px;
    height:14px;
}

.u7 {
    position:absolute;
    left:2px;
    top:-4px;
    width:3px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u8 {
    position:absolute;
    left:0px;
    top:150px;
    width:321px;
    height:15px;
    overflow:hidden;
}

#pd1u8 {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:15px;
    
}

.u9 {
    position:absolute;
    left:224px;
    top:0px;
    width:77px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u10 {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:14px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#pd0u8 {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:15px;
    
}

.u11 {
    position:absolute;
    left:224px;
    top:0px;
    width:77px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u12 {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:14px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u13 {
    position:absolute;
    left:0px;
    top:170px;
    width:321px;
    height:131px;
    overflow:hidden;
}

#pd0u13 {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:131px;
    
}

#u14 {
    position:absolute;
    left:0px;
    top:40px;
    width:321px;
    height:91px;
    overflow:hidden;
}

#pd0u14 {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:91px;
    
}

.u15_normal {
    background-image: url('../proddetail_files/u15_normal.png');
}

.u15_container {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:96px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:102px;
}

.u16 {
    position:absolute;
    left:2px;
    top:78px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:20px;
    top:15px;
    width:280px;
    height:65px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u18 {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:41px;
    overflow:hidden;
}

#pd1u18 {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:41px;
    
}

.u19_normal {
    background-image: url('../proddetail_files/u19_normal.png');
}

.u19_container {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:40px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:46px;
}

.u20 {
    position:absolute;
    left:2px;
    top:12px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_line {
    background-image: url('../proddetail_files/u21_line.png');
}

.u21_line {
    position:absolute;
    left:0px;
    top:4px;
    width:320px;
    height:3px;
}

.u21 {
    position:absolute;
    left:0px;
    top:35px;
    width:320px;
    height:10px;
    
}

.u22 {
    position:absolute;
    left:20px;
    top:13px;
    width:253px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../proddetail_files/u23_normal.png');
}

.u23_container {
    position:absolute;
    left:285px;
    top:12px;
    width:17px;
    height:17px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:23px;
    height:23px;
}

.u24 {
    position:absolute;
    left:2px;
    top:0px;
    width:13px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:286px;
    top:7px;
    width:16px;
    height:26px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u18 {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:41px;
    
}

.u26_normal {
    background-image: url('../proddetail_files/u19_normal.png');
}

.u26_container {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:40px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:46px;
}

.u27 {
    position:absolute;
    left:2px;
    top:12px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_line {
    background-image: url('../proddetail_files/u28_line.png');
}

.u28_line {
    position:absolute;
    left:0px;
    top:4px;
    width:320px;
    height:3px;
}

.u28 {
    position:absolute;
    left:0px;
    top:35px;
    width:320px;
    height:10px;
    
}

.u29 {
    position:absolute;
    left:20px;
    top:13px;
    width:253px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../proddetail_files/u23_normal.png');
}

.u30_container {
    position:absolute;
    left:285px;
    top:12px;
    width:17px;
    height:17px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:23px;
    height:23px;
}

.u31 {
    position:absolute;
    left:2px;
    top:0px;
    width:13px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:286px;
    top:10px;
    width:16px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u33 {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:40px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u34 {
    position:absolute;
    left:0px;
    top:210px;
    width:321px;
    height:241px;
    overflow:hidden;
}

#pd0u34 {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:241px;
    
}

#u35 {
    position:absolute;
    left:0px;
    top:40px;
    width:321px;
    height:201px;
    overflow:hidden;
}

#pd0u35 {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:201px;
    
}

.u36_normal {
    background-image: url('../proddetail_files/u36_normal.png');
}

.u36_container {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:200px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:206px;
}

.u37 {
    position:absolute;
    left:2px;
    top:182px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_normal {
    background-image: url('../proddetail_files/u38_normal.png');
}

.u38_container {
    position:absolute;
    left:0px;
    top:162px;
    width:320px;
    height:38px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:44px;
}

.u39 {
    position:absolute;
    left:2px;
    top:11px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../proddetail_files/u40_normal.png');
}

.u40_container {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:162px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:168px;
}

.u41 {
    position:absolute;
    left:2px;
    top:73px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u42 {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:162px;
    overflow:hidden;
}

#pd0u42 {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:162px;
    
}

#u43 {
    position:absolute;
    left:0px;
    top:0px;
    width:641px;
    height:161px;
    overflow:hidden;
}

#pd0u43 {
    position:absolute;
    left:0px;
    top:0px;
    width:641px;
    height:161px;
    
}

.u44_normal {
    background-image: url('../proddetail_files/u44_normal.png');
}

.u44_container {
    position:absolute;
    left:0px;
    top:0px;
    width:629px;
    height:151px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:635px;
    height:157px;
}

.u45 {
    position:absolute;
    left:2px;
    top:68px;
    width:625px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_normal {
    background-image: url('../proddetail_files/u46_normal.png');
}

.u46_container {
    position:absolute;
    left:5px;
    top:5px;
    width:150px;
    height:150px;
}

#u46_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:156px;
}

.u47 {
    position:absolute;
    left:2px;
    top:49px;
    width:146px;
    height:52px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48 {
    position:absolute;
    left:30px;
    top:139px;
    width:100px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_normal {
    background-image: url('../proddetail_files/u46_normal.png');
}

.u49_container {
    position:absolute;
    left:162px;
    top:5px;
    width:150px;
    height:150px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:156px;
}

.u50 {
    position:absolute;
    left:2px;
    top:49px;
    width:146px;
    height:52px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51 {
    position:absolute;
    left:187px;
    top:140px;
    width:100px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52_normal {
    background-image: url('../proddetail_files/u46_normal.png');
}

.u52_container {
    position:absolute;
    left:319px;
    top:5px;
    width:150px;
    height:150px;
}

#u52_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:156px;
}

.u53 {
    position:absolute;
    left:2px;
    top:49px;
    width:146px;
    height:52px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54 {
    position:absolute;
    left:342px;
    top:140px;
    width:103px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_normal {
    background-image: url('../proddetail_files/u55_normal.png');
}

.u55_container {
    position:absolute;
    left:476px;
    top:5px;
    width:158px;
    height:150px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:164px;
    height:156px;
}

.u56 {
    position:absolute;
    left:2px;
    top:49px;
    width:154px;
    height:52px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57 {
    position:absolute;
    left:505px;
    top:139px;
    width:100px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58_normal {
    background-image: url('../proddetail_files/u58_normal.png');
}

.u58_container {
    position:absolute;
    left:267px;
    top:169px;
    width:46px;
    height:24px;
}

#u58_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:52px;
    height:30px;
}

.u59 {
    position:absolute;
    left:2px;
    top:4px;
    width:42px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60_normal {
    background-image: url('../proddetail_files/u60_normal.png');
}

.u60_container {
    position:absolute;
    left:282px;
    top:173px;
    width:16px;
    height:12px;
}

#u60_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:22px;
    height:18px;
}

.u61 {
    position:absolute;
    left:2px;
    top:-2px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62_line {
    background-image: url('../proddetail_files/u62_line.png');
}

.u62_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:24px;
}

.u62 {
    position:absolute;
    left:261px;
    top:169px;
    width:10px;
    height:24px;
    
}

#u63 {
    position:absolute;
    left:267px;
    top:169px;
    width:47px;
    height:24px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

.u64_normal {
    background-image: url('../proddetail_files/u64_normal.png');
}

.u64_container {
    position:absolute;
    left:8px;
    top:169px;
    width:46px;
    height:24px;
}

#u64_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:52px;
    height:30px;
}

.u65 {
    position:absolute;
    left:2px;
    top:4px;
    width:42px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66_normal {
    background-image: url('../proddetail_files/u66_normal.png');
}

.u66_container {
    position:absolute;
    left:24px;
    top:173px;
    width:16px;
    height:12px;
}

#u66_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:22px;
    height:18px;
}

.u67 {
    position:absolute;
    left:2px;
    top:-2px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68_line {
    background-image: url('../proddetail_files/u68_line.png');
}

.u68_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:24px;
}

.u68 {
    position:absolute;
    left:49px;
    top:169px;
    width:10px;
    height:24px;
    
}

#u69 {
    position:absolute;
    left:8px;
    top:169px;
    width:47px;
    height:26px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

.u70_normal {
    background-image: url('../proddetail_files/u70_normal.png');
}

.u70_container {
    position:absolute;
    left:175px;
    top:175px;
    width:10px;
    height:10px;
}

#u70_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:16px;
}

.u71 {
    position:absolute;
    left:2px;
    top:-3px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72_normal {
    background-image: url('../proddetail_files/u70_normal.png');
}

.u72_container {
    position:absolute;
    left:136px;
    top:175px;
    width:10px;
    height:10px;
}

#u72_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:16px;
}

.u73 {
    position:absolute;
    left:2px;
    top:-3px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74_normal {
    background-image: url('../proddetail_files/u70_normal.png');
}

.u74_container {
    position:absolute;
    left:149px;
    top:175px;
    width:10px;
    height:10px;
}

#u74_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:16px;
}

.u75 {
    position:absolute;
    left:2px;
    top:-3px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u76_normal {
    background-image: url('../proddetail_files/u70_normal.png');
}

.u76_container {
    position:absolute;
    left:162px;
    top:175px;
    width:10px;
    height:10px;
}

#u76_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:16px;
}

.u77 {
    position:absolute;
    left:2px;
    top:-3px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u78 {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:41px;
    overflow:hidden;
}

#pd1u78 {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:41px;
    
}

.u79_normal {
    background-image: url('../proddetail_files/u19_normal.png');
}

.u79_container {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:40px;
}

#u79_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:46px;
}

.u80 {
    position:absolute;
    left:2px;
    top:12px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81_line {
    background-image: url('../proddetail_files/u81_line.png');
}

.u81_line {
    position:absolute;
    left:0px;
    top:4px;
    width:320px;
    height:3px;
}

.u81 {
    position:absolute;
    left:0px;
    top:35px;
    width:320px;
    height:10px;
    
}

.u82 {
    position:absolute;
    left:20px;
    top:13px;
    width:253px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83_normal {
    background-image: url('../proddetail_files/u23_normal.png');
}

.u83_container {
    position:absolute;
    left:285px;
    top:12px;
    width:17px;
    height:17px;
}

#u83_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:23px;
    height:23px;
}

.u84 {
    position:absolute;
    left:2px;
    top:0px;
    width:13px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85 {
    position:absolute;
    left:286px;
    top:7px;
    width:16px;
    height:26px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u78 {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:41px;
    
}

.u86_normal {
    background-image: url('../proddetail_files/u19_normal.png');
}

.u86_container {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:40px;
}

#u86_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:46px;
}

.u87 {
    position:absolute;
    left:2px;
    top:12px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88_line {
    background-image: url('../proddetail_files/u88_line.png');
}

.u88_line {
    position:absolute;
    left:0px;
    top:4px;
    width:320px;
    height:3px;
}

.u88 {
    position:absolute;
    left:0px;
    top:35px;
    width:320px;
    height:10px;
    
}

.u89 {
    position:absolute;
    left:20px;
    top:13px;
    width:253px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u90_normal {
    background-image: url('../proddetail_files/u23_normal.png');
}

.u90_container {
    position:absolute;
    left:285px;
    top:12px;
    width:17px;
    height:17px;
}

#u90_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:23px;
    height:23px;
}

.u91 {
    position:absolute;
    left:2px;
    top:0px;
    width:13px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92 {
    position:absolute;
    left:286px;
    top:10px;
    width:16px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u93 {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:40px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u94 {
    position:absolute;
    left:0px;
    top:250px;
    width:321px;
    height:251px;
    overflow:hidden;
}

#pd0u94 {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:251px;
    
}

#u95 {
    position:absolute;
    left:0px;
    top:40px;
    width:321px;
    height:211px;
    overflow:hidden;
}

#pd0u95 {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:211px;
    
}

.u96_normal {
    background-image: url('../proddetail_files/u96_normal.png');
}

.u96_container {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:210px;
}

#u96_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:216px;
}

.u97 {
    position:absolute;
    left:2px;
    top:192px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98_normal {
    background-image: url('../proddetail_files/u98_normal.png');
}

.u98_container {
    position:absolute;
    left:10px;
    top:65px;
    width:300px;
    height:57px;
}

#u98_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:63px;
}

.u99 {
    position:absolute;
    left:20px;
    top:15px;
    width:270px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u100 {
    position:absolute;
    left:64px;
    top:14px;
    width:246px;
    height:36px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101_normal {
    background-image: url('../proddetail_files/u101_normal.png');
}

.u101_container {
    position:absolute;
    left:21px;
    top:14px;
    width:32px;
    height:32px;
}

#u101_img {
    position:absolute;
    left:0px;
    top:0px;
    width:32px;
    height:32px;
}

.u102 {
    position:absolute;
    left:2px;
    top:8px;
    width:28px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103_normal {
    background-image: url('../proddetail_files/u103_normal.png');
}

.u103_container {
    position:absolute;
    left:21px;
    top:76px;
    width:32px;
    height:32px;
}

#u103_img {
    position:absolute;
    left:0px;
    top:0px;
    width:32px;
    height:32px;
}

.u104 {
    position:absolute;
    left:2px;
    top:8px;
    width:28px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105_normal {
    background-image: url('../proddetail_files/u105_normal.png');
}

.u105_container {
    position:absolute;
    left:21px;
    top:135px;
    width:32px;
    height:32px;
}

#u105_img {
    position:absolute;
    left:0px;
    top:0px;
    width:32px;
    height:32px;
}

.u106 {
    position:absolute;
    left:2px;
    top:8px;
    width:28px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107 {
    position:absolute;
    left:64px;
    top:77px;
    width:200px;
    height:36px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u108 {
    position:absolute;
    left:64px;
    top:135px;
    width:200px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u109_normal {
    background-image: url('../proddetail_files/u109_normal.png');
}

.u109_container {
    position:absolute;
    left:21px;
    top:180px;
    width:124px;
    height:20px;
}

#u109_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:130px;
    height:26px;
}

.u110 {
    position:absolute;
    left:2px;
    top:4px;
    width:120px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u111_normal {
    background-image: url('../proddetail_files/u111_normal.png');
}

.u111_container {
    position:absolute;
    left:168px;
    top:180px;
    width:131px;
    height:20px;
}

#u111_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:137px;
    height:26px;
}

.u112 {
    position:absolute;
    left:2px;
    top:4px;
    width:127px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u113 {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:41px;
    overflow:hidden;
}

#pd1u113 {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:41px;
    
}

.u114_normal {
    background-image: url('../proddetail_files/u19_normal.png');
}

.u114_container {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:40px;
}

#u114_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:46px;
}

.u115 {
    position:absolute;
    left:2px;
    top:12px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u116_line {
    background-image: url('../proddetail_files/u116_line.png');
}

.u116_line {
    position:absolute;
    left:0px;
    top:4px;
    width:320px;
    height:3px;
}

.u116 {
    position:absolute;
    left:0px;
    top:35px;
    width:320px;
    height:10px;
    
}

.u117 {
    position:absolute;
    left:20px;
    top:13px;
    width:253px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u118_normal {
    background-image: url('../proddetail_files/u23_normal.png');
}

.u118_container {
    position:absolute;
    left:285px;
    top:12px;
    width:17px;
    height:17px;
}

#u118_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:23px;
    height:23px;
}

.u119 {
    position:absolute;
    left:2px;
    top:0px;
    width:13px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u120 {
    position:absolute;
    left:286px;
    top:7px;
    width:16px;
    height:26px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u113 {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:41px;
    
}

.u121_normal {
    background-image: url('../proddetail_files/u19_normal.png');
}

.u121_container {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:40px;
}

#u121_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:46px;
}

.u122 {
    position:absolute;
    left:2px;
    top:12px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u123_line {
    background-image: url('../proddetail_files/u123_line.png');
}

.u123_line {
    position:absolute;
    left:0px;
    top:4px;
    width:320px;
    height:3px;
}

.u123 {
    position:absolute;
    left:0px;
    top:35px;
    width:320px;
    height:10px;
    
}

.u124 {
    position:absolute;
    left:20px;
    top:13px;
    width:253px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u125_normal {
    background-image: url('../proddetail_files/u23_normal.png');
}

.u125_container {
    position:absolute;
    left:285px;
    top:12px;
    width:17px;
    height:17px;
}

#u125_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:23px;
    height:23px;
}

.u126 {
    position:absolute;
    left:2px;
    top:0px;
    width:13px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u127 {
    position:absolute;
    left:286px;
    top:10px;
    width:16px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u128 {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:40px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u129 {
    position:absolute;
    left:0px;
    top:291px;
    width:321px;
    height:131px;
    overflow:hidden;
}

#pd0u129 {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:131px;
    
}

#u130 {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:131px;
    overflow:hidden;
}

#pd0u130 {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:131px;
    
}

.u131_normal {
    background-image: url('../Footer_files/u99_normal.png');
}

.u131_container {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:130px;
}

#u131_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:136px;
}

.u132 {
    position:absolute;
    left:2px;
    top:58px;
    width:316px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u134 {
    position:fixed;
    left:0px;
    top:0px;
    width:321px;
    height:112px;
    overflow:hidden;
}

#pd0u134 {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:112px;
    
}

.u135_normal {
    background-image: url('../proddetail_files/u135_normal.png');
}

.u135_container {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:106px;
}

#u135_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:112px;
}

.u136 {
    position:absolute;
    left:2px;
    top:45px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u137_normal {
    background-image: url('../Header_files/u68_normal.png');
}

.u137_container {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:32px;
}

#u137_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:38px;
}

.u138 {
    position:absolute;
    left:2px;
    top:8px;
    width:316px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u140 {
    position:absolute;
    left:115px;
    top:40px;
    width:180px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u141_normal {
    background-image: url('../proddetail_files/u141_normal.png');
}

.u141_container {
    position:absolute;
    left:14px;
    top:7px;
    width:9px;
    height:10px;
}

#u141_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:15px;
    height:16px;
}

.u142 {
    position:absolute;
    left:2px;
    top:-3px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u143_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u143_container {
    position:absolute;
    left:10px;
    top:4px;
    width:50px;
    height:17px;
}

#u143_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:23px;
}

.u144 {
    position:absolute;
    left:2px;
    top:1px;
    width:46px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u145_line {
    background-image: url('../proddetail_files/u145_line.png');
}

.u145_line {
    position:absolute;
    left:0px;
    top:3px;
    width:320px;
    height:5px;
}

.u145 {
    position:absolute;
    left:0px;
    top:101px;
    width:320px;
    height:10px;
    
}

.u146_normal {
    background-image: url('../proddetail_files/u146_normal.png');
}

.u146_container {
    position:absolute;
    left:20px;
    top:42px;
    width:80px;
    height:50px;
}

#u146_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:56px;
}

.u147 {
    position:absolute;
    left:2px;
    top:17px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u148_normal {
    background-image: url('../proddetail_files/u148_normal.png');
}

.u148_container {
    position:absolute;
    left:115px;
    top:69px;
    width:95px;
    height:23px;
}

#u148_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:101px;
    height:29px;
}

.u149 {
    position:absolute;
    left:2px;
    top:4px;
    width:91px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u150_normal {
    background-image: url('../proddetail_files/u148_normal.png');
}

.u150_container {
    position:absolute;
    left:225px;
    top:69px;
    width:95px;
    height:23px;
}

#u150_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:101px;
    height:29px;
}

.u151 {
    position:absolute;
    left:2px;
    top:4px;
    width:91px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

