body {
    margin: 0px;
    text-align: center;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
    position: relative;
    left: -0px;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../AlreadyHaveAnAccount_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:296px;
    top:288px;
    width:365px;
    height:211px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:371px;
    height:217px;
}

.u1 {
    position:absolute;
    left:2px;
    top:98px;
    width:361px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../Nav_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:0px;
    top:110px;
    width:960px;
    height:30px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:966px;
    height:36px;
}

.u3 {
    position:absolute;
    left:2px;
    top:7px;
    width:956px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../Nav_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:376px;
    top:0px;
    width:207px;
    height:106px;
}

#u4_img {
    position:absolute;
    left:0px;
    top:0px;
    width:207px;
    height:106px;
}

.u5 {
    position:absolute;
    left:2px;
    top:45px;
    width:203px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_mouseOver {
    background-image: url('../AlreadyHaveAnAccount_files/Continue_u7_mouseOver.png');
}

.u7_mouseDown {
    background-image: url('../AlreadyHaveAnAccount_files/Continue_u7_mouseDown.png');
}

.u7_normal {
    background-image: url('../AlreadyHaveAnAccount_files/Continue_u7_normal.png');
}

.u7_container {
    position:absolute;
    left:338px;
    top:432px;
    width:280px;
    height:40px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:286px;
    height:46px;
}

.u8 {
    position:absolute;
    left:2px;
    top:12px;
    width:276px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:338px;
    top:347px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:338px;
    top:367px;
    width:280px;
    height:30px;
    ;
    ;
    text-align: left;;
    font-family:'Helvetica';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u11 {
    position:absolute;
    left:338px;
    top:402px;
    width:164px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:338px;
    top:306px;
    width:285px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:296px;
    top:249px;
    width:365px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:168px;
    top:179px;
    width:620px;
    height:58px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

