body {
    margin: 0px;
    text-align: center;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
    position: relative;
    left: -0px;
    width: 320px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../compare_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:21px;
    top:244px;
    width:119px;
    height:23px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:125px;
    height:29px;
}

.u1 {
    position:absolute;
    left:2px;
    top:4px;
    width:115px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../compare_files/u0_normal.png');
}

.u2_container {
    position:absolute;
    left:21px;
    top:274px;
    width:119px;
    height:23px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:125px;
    height:29px;
}

.u3 {
    position:absolute;
    left:2px;
    top:4px;
    width:115px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../compare_files/u0_normal.png');
}

.u4_container {
    position:absolute;
    left:181px;
    top:244px;
    width:119px;
    height:23px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:125px;
    height:29px;
}

.u5 {
    position:absolute;
    left:2px;
    top:4px;
    width:115px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../compare_files/u0_normal.png');
}

.u6_container {
    position:absolute;
    left:181px;
    top:274px;
    width:119px;
    height:23px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:125px;
    height:29px;
}

.u7 {
    position:absolute;
    left:2px;
    top:4px;
    width:115px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../compare_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:0px;
    top:333px;
    width:320px;
    height:25px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:31px;
}

.u9 {
    position:absolute;
    left:2px;
    top:4px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_line {
    background-image: url('../compare_files/u10_line.png');
}

.u10_line {
    position:absolute;
    left:0px;
    top:3px;
    width:320px;
    height:5px;
}

.u10 {
    position:absolute;
    left:0px;
    top:328px;
    width:320px;
    height:10px;
    
}

#u11 {
    position:absolute;
    left:0px;
    top:358px;
    width:321px;
    height:381px;
    overflow:hidden;
}

#pd0u11 {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:381px;
    
}

#u12 {
    position:absolute;
    left:0px;
    top:40px;
    width:321px;
    height:341px;
    overflow:hidden;
}

#pd0u12 {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:341px;
    
}

.u13_normal {
    background-image: url('../compare_files/u13_normal.png');
}

.u13_container {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:340px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:346px;
}

.u14 {
    position:absolute;
    left:2px;
    top:322px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../compare_files/u15_normal.png');
}

.u15_container {
    position:absolute;
    left:175px;
    top:26px;
    width:145px;
    height:12px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:151px;
    height:18px;
}

.u16 {
    position:absolute;
    left:20px;
    top:15px;
    width:115px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../compare_files/u15_normal.png');
}

.u17_container {
    position:absolute;
    left:0px;
    top:26px;
    width:145px;
    height:12px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:151px;
    height:18px;
}

.u18 {
    position:absolute;
    left:20px;
    top:15px;
    width:115px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:9px;
    top:14px;
    width:133px;
    height:104px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:183px;
    top:14px;
    width:132px;
    height:78px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_line {
    background-image: url('../compare_files/u21_line.png');
}

.u21_line {
    position:absolute;
    left:0px;
    top:4px;
    width:130px;
    height:3px;
}

.u21 {
    position:absolute;
    left:9px;
    top:120px;
    width:130px;
    height:10px;
    
}

.u22_line {
    background-image: url('../compare_files/u22_line.png');
}

.u22_line {
    position:absolute;
    left:0px;
    top:4px;
    width:130px;
    height:3px;
}

.u22 {
    position:absolute;
    left:183px;
    top:92px;
    width:130px;
    height:10px;
    
}

.u23 {
    position:absolute;
    left:9px;
    top:133px;
    width:133px;
    height:143px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:183px;
    top:105px;
    width:133px;
    height:130px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u25 {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:41px;
    overflow:hidden;
}

#pd1u25 {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:41px;
    
}

.u26_normal {
    background-image: url('../compare_files/u26_normal.png');
}

.u26_container {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:40px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:46px;
}

.u27 {
    position:absolute;
    left:2px;
    top:12px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_line {
    background-image: url('../compare_files/u28_line.png');
}

.u28_line {
    position:absolute;
    left:0px;
    top:4px;
    width:320px;
    height:3px;
}

.u28 {
    position:absolute;
    left:0px;
    top:35px;
    width:320px;
    height:10px;
    
}

.u29 {
    position:absolute;
    left:20px;
    top:13px;
    width:253px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../compare_files/u30_normal.png');
}

.u30_container {
    position:absolute;
    left:285px;
    top:12px;
    width:17px;
    height:17px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:23px;
    height:23px;
}

.u31 {
    position:absolute;
    left:2px;
    top:0px;
    width:13px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:286px;
    top:7px;
    width:16px;
    height:26px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u25 {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:41px;
    
}

.u33_normal {
    background-image: url('../compare_files/u26_normal.png');
}

.u33_container {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:40px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:46px;
}

.u34 {
    position:absolute;
    left:2px;
    top:12px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_line {
    background-image: url('../compare_files/u35_line.png');
}

.u35_line {
    position:absolute;
    left:0px;
    top:4px;
    width:320px;
    height:3px;
}

.u35 {
    position:absolute;
    left:0px;
    top:35px;
    width:320px;
    height:10px;
    
}

.u36 {
    position:absolute;
    left:20px;
    top:13px;
    width:253px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../compare_files/u30_normal.png');
}

.u37_container {
    position:absolute;
    left:285px;
    top:12px;
    width:17px;
    height:17px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:23px;
    height:23px;
}

.u38 {
    position:absolute;
    left:2px;
    top:0px;
    width:13px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:286px;
    top:10px;
    width:16px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u40 {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:40px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u41 {
    position:absolute;
    left:0px;
    top:398px;
    width:321px;
    height:81px;
    overflow:hidden;
}

#pd0u41 {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:81px;
    
}

#u42 {
    position:absolute;
    left:0px;
    top:40px;
    width:321px;
    height:41px;
    overflow:hidden;
}

#pd0u42 {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:41px;
    
}

.u43_normal {
    background-image: url('../compare_files/u26_normal.png');
}

.u43_container {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:40px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:46px;
}

.u44 {
    position:absolute;
    left:2px;
    top:12px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45 {
    position:absolute;
    left:32px;
    top:10px;
    width:110px;
    height:26px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:191px;
    top:10px;
    width:110px;
    height:26px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u47 {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:41px;
    overflow:hidden;
}

#pd1u47 {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:41px;
    
}

.u48_normal {
    background-image: url('../compare_files/u26_normal.png');
}

.u48_container {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:40px;
}

#u48_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:46px;
}

.u49 {
    position:absolute;
    left:2px;
    top:12px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50_line {
    background-image: url('../compare_files/u50_line.png');
}

.u50_line {
    position:absolute;
    left:0px;
    top:4px;
    width:320px;
    height:3px;
}

.u50 {
    position:absolute;
    left:0px;
    top:35px;
    width:320px;
    height:10px;
    
}

.u51 {
    position:absolute;
    left:20px;
    top:13px;
    width:253px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52_normal {
    background-image: url('../compare_files/u30_normal.png');
}

.u52_container {
    position:absolute;
    left:285px;
    top:12px;
    width:17px;
    height:17px;
}

#u52_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:23px;
    height:23px;
}

.u53 {
    position:absolute;
    left:2px;
    top:0px;
    width:13px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54 {
    position:absolute;
    left:286px;
    top:7px;
    width:16px;
    height:26px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u47 {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:41px;
    
}

.u55_normal {
    background-image: url('../compare_files/u26_normal.png');
}

.u55_container {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:40px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:46px;
}

.u56 {
    position:absolute;
    left:2px;
    top:12px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_line {
    background-image: url('../compare_files/u57_line.png');
}

.u57_line {
    position:absolute;
    left:0px;
    top:4px;
    width:320px;
    height:3px;
}

.u57 {
    position:absolute;
    left:0px;
    top:35px;
    width:320px;
    height:10px;
    
}

.u58 {
    position:absolute;
    left:20px;
    top:13px;
    width:253px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_normal {
    background-image: url('../compare_files/u30_normal.png');
}

.u59_container {
    position:absolute;
    left:285px;
    top:12px;
    width:17px;
    height:17px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:23px;
    height:23px;
}

.u60 {
    position:absolute;
    left:2px;
    top:0px;
    width:13px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61 {
    position:absolute;
    left:286px;
    top:10px;
    width:16px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u62 {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:40px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u63 {
    position:absolute;
    left:0px;
    top:438px;
    width:321px;
    height:379px;
    overflow:hidden;
}

#pd0u63 {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:379px;
    
}

#u64 {
    position:absolute;
    left:0px;
    top:40px;
    width:321px;
    height:339px;
    overflow:hidden;
}

#pd0u64 {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:339px;
    
}

.u65_normal {
    background-image: url('../compare_files/u65_normal.png');
}

.u65_container {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:338px;
}

#u65_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:344px;
}

.u66 {
    position:absolute;
    left:2px;
    top:161px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67_normal {
    background-image: url('../compare_files/u67_normal.png');
}

.u67_container {
    position:absolute;
    left:171px;
    top:78px;
    width:149px;
    height:63px;
}

#u67_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:155px;
    height:69px;
}

.u68 {
    position:absolute;
    left:20px;
    top:15px;
    width:119px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69_normal {
    background-image: url('../compare_files/u69_normal.png');
}

.u69_container {
    position:absolute;
    left:0px;
    top:0px;
    width:160px;
    height:338px;
}

#u69_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:166px;
    height:344px;
}

.u70 {
    position:absolute;
    left:20px;
    top:15px;
    width:130px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71_normal {
    background-image: url('../compare_files/u71_normal.png');
}

.u71_container {
    position:absolute;
    left:0px;
    top:113px;
    width:160px;
    height:70px;
}

#u71_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:166px;
    height:76px;
}

.u72 {
    position:absolute;
    left:20px;
    top:15px;
    width:130px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73 {
    position:absolute;
    left:51px;
    top:14px;
    width:87px;
    height:84px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74_normal {
    background-image: url('../compare_files/u74_normal.png');
}

.u74_container {
    position:absolute;
    left:13px;
    top:14px;
    width:32px;
    height:32px;
}

#u74_img {
    position:absolute;
    left:0px;
    top:0px;
    width:32px;
    height:32px;
}

.u75 {
    position:absolute;
    left:2px;
    top:8px;
    width:28px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u76_normal {
    background-image: url('../compare_files/u76_normal.png');
}

.u76_container {
    position:absolute;
    left:13px;
    top:124px;
    width:32px;
    height:32px;
}

#u76_img {
    position:absolute;
    left:0px;
    top:0px;
    width:32px;
    height:32px;
}

.u77 {
    position:absolute;
    left:2px;
    top:8px;
    width:28px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78_normal {
    background-image: url('../compare_files/u78_normal.png');
}

.u78_container {
    position:absolute;
    left:184px;
    top:93px;
    width:32px;
    height:32px;
}

#u78_img {
    position:absolute;
    left:0px;
    top:0px;
    width:32px;
    height:32px;
}

.u79 {
    position:absolute;
    left:2px;
    top:8px;
    width:28px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80 {
    position:absolute;
    left:221px;
    top:93px;
    width:87px;
    height:36px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81 {
    position:absolute;
    left:51px;
    top:124px;
    width:87px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82_normal {
    background-image: url('../compare_files/u82_normal.png');
}

.u82_container {
    position:absolute;
    left:18px;
    top:198px;
    width:124px;
    height:20px;
}

#u82_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:130px;
    height:26px;
}

.u83 {
    position:absolute;
    left:2px;
    top:4px;
    width:120px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84_normal {
    background-image: url('../compare_files/u82_normal.png');
}

.u84_container {
    position:absolute;
    left:18px;
    top:224px;
    width:124px;
    height:20px;
}

#u84_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:130px;
    height:26px;
}

.u85 {
    position:absolute;
    left:2px;
    top:4px;
    width:120px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86_normal {
    background-image: url('../compare_files/u86_normal.png');
}

.u86_container {
    position:absolute;
    left:171px;
    top:0px;
    width:149px;
    height:78px;
}

#u86_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:155px;
    height:84px;
}

.u87 {
    position:absolute;
    left:20px;
    top:15px;
    width:119px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88_normal {
    background-image: url('../compare_files/u88_normal.png');
}

.u88_container {
    position:absolute;
    left:184px;
    top:14px;
    width:32px;
    height:32px;
}

#u88_img {
    position:absolute;
    left:0px;
    top:0px;
    width:32px;
    height:32px;
}

.u89 {
    position:absolute;
    left:2px;
    top:8px;
    width:28px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u90 {
    position:absolute;
    left:221px;
    top:14px;
    width:87px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91_normal {
    background-image: url('../compare_files/u91_normal.png');
}

.u91_container {
    position:absolute;
    left:171px;
    top:142px;
    width:149px;
    height:196px;
}

#u91_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:155px;
    height:202px;
}

.u92 {
    position:absolute;
    left:20px;
    top:15px;
    width:119px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93_normal {
    background-image: url('../compare_files/u82_normal.png');
}

.u93_container {
    position:absolute;
    left:184px;
    top:156px;
    width:124px;
    height:20px;
}

#u93_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:130px;
    height:26px;
}

.u94 {
    position:absolute;
    left:2px;
    top:4px;
    width:120px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95_normal {
    background-image: url('../compare_files/u82_normal.png');
}

.u95_container {
    position:absolute;
    left:184px;
    top:182px;
    width:124px;
    height:20px;
}

#u95_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:130px;
    height:26px;
}

.u96 {
    position:absolute;
    left:2px;
    top:4px;
    width:120px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97_line {
    background-image: url('../compare_files/u97_line.png');
}

.u97_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:338px;
}

.u97 {
    position:absolute;
    left:161px;
    top:0px;
    width:10px;
    height:338px;
    
}

#u98 {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:41px;
    overflow:hidden;
}

#pd1u98 {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:41px;
    
}

.u99_normal {
    background-image: url('../compare_files/u26_normal.png');
}

.u99_container {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:40px;
}

#u99_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:46px;
}

.u100 {
    position:absolute;
    left:2px;
    top:12px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101_line {
    background-image: url('../compare_files/u101_line.png');
}

.u101_line {
    position:absolute;
    left:0px;
    top:4px;
    width:320px;
    height:3px;
}

.u101 {
    position:absolute;
    left:0px;
    top:35px;
    width:320px;
    height:10px;
    
}

.u102 {
    position:absolute;
    left:20px;
    top:13px;
    width:253px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103_normal {
    background-image: url('../compare_files/u30_normal.png');
}

.u103_container {
    position:absolute;
    left:285px;
    top:12px;
    width:17px;
    height:17px;
}

#u103_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:23px;
    height:23px;
}

.u104 {
    position:absolute;
    left:2px;
    top:0px;
    width:13px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105 {
    position:absolute;
    left:286px;
    top:7px;
    width:16px;
    height:26px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u98 {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:41px;
    
}

.u106_normal {
    background-image: url('../compare_files/u26_normal.png');
}

.u106_container {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:40px;
}

#u106_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:46px;
}

.u107 {
    position:absolute;
    left:2px;
    top:12px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u108_line {
    background-image: url('../compare_files/u108_line.png');
}

.u108_line {
    position:absolute;
    left:0px;
    top:4px;
    width:320px;
    height:3px;
}

.u108 {
    position:absolute;
    left:0px;
    top:35px;
    width:320px;
    height:10px;
    
}

.u109 {
    position:absolute;
    left:20px;
    top:13px;
    width:253px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u110_normal {
    background-image: url('../compare_files/u30_normal.png');
}

.u110_container {
    position:absolute;
    left:285px;
    top:12px;
    width:17px;
    height:17px;
}

#u110_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:23px;
    height:23px;
}

.u111 {
    position:absolute;
    left:2px;
    top:0px;
    width:13px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u112 {
    position:absolute;
    left:286px;
    top:10px;
    width:16px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u113 {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:40px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u114 {
    position:absolute;
    left:0px;
    top:478px;
    width:321px;
    height:131px;
    overflow:hidden;
}

#pd0u114 {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:131px;
    
}

#u115 {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:131px;
    overflow:hidden;
}

#pd0u115 {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:131px;
    
}

.u116_normal {
    background-image: url('../Footer_files/u99_normal.png');
}

.u116_container {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:130px;
}

#u116_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:136px;
}

.u117 {
    position:absolute;
    left:2px;
    top:58px;
    width:316px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u119 {
    position:absolute;
    left:0px;
    top:338px;
    width:321px;
    height:15px;
    overflow:hidden;
}

#pd1u119 {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:15px;
    
}

.u120 {
    position:absolute;
    left:224px;
    top:0px;
    width:77px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u121 {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:14px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#pd0u119 {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:15px;
    
}

.u122 {
    position:absolute;
    left:224px;
    top:0px;
    width:77px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u123 {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:14px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

.u124 {
    position:absolute;
    left:21px;
    top:306px;
    width:109px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u125 {
    position:absolute;
    left:181px;
    top:306px;
    width:109px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u126_normal {
    background-image: url('../compare_files/u126_normal.png');
}

.u126_container {
    position:absolute;
    left:20px;
    top:157px;
    width:120px;
    height:74px;
}

#u126_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:126px;
    height:80px;
}

.u127 {
    position:absolute;
    left:2px;
    top:30px;
    width:116px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u128_normal {
    background-image: url('../compare_files/u126_normal.png');
}

.u128_container {
    position:absolute;
    left:180px;
    top:157px;
    width:120px;
    height:74px;
}

#u128_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:126px;
    height:80px;
}

.u129 {
    position:absolute;
    left:2px;
    top:30px;
    width:116px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u130 {
    position:fixed;
    left:0px;
    top:0px;
    width:321px;
    height:151px;
    overflow:hidden;
}

#pd0u130 {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:151px;
    
}

.u131_normal {
    background-image: url('../compare_files/u131_normal.png');
}

.u131_container {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:150px;
}

#u131_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:156px;
}

.u132 {
    position:absolute;
    left:2px;
    top:67px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u133 {
    position:absolute;
    left:20px;
    top:33px;
    width:221px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u134 {
    position:absolute;
    left:21px;
    top:52px;
    width:279px;
    height:11px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u135_line {
    background-image: url('../compare_files/u135_line.png');
}

.u135_line {
    position:absolute;
    left:0px;
    top:3px;
    width:320px;
    height:5px;
}

.u135 {
    position:absolute;
    left:0px;
    top:65px;
    width:320px;
    height:10px;
    
}

.u136 {
    position:absolute;
    left:21px;
    top:93px;
    width:119px;
    height:36px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u137 {
    position:absolute;
    left:181px;
    top:93px;
    width:119px;
    height:36px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u138_line {
    background-image: url('../compare_files/u138_line.png');
}

.u138_line {
    position:absolute;
    left:0px;
    top:3px;
    width:320px;
    height:5px;
}

.u138 {
    position:absolute;
    left:0px;
    top:139px;
    width:320px;
    height:10px;
    
}

.u139_normal {
    background-image: url('../Header_files/u68_normal.png');
}

.u139_container {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:32px;
}

#u139_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:38px;
}

.u140 {
    position:absolute;
    left:2px;
    top:8px;
    width:316px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u142_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u142_container {
    position:absolute;
    left:10px;
    top:4px;
    width:50px;
    height:17px;
}

#u142_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:23px;
}

.u143 {
    position:absolute;
    left:2px;
    top:1px;
    width:46px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u144_normal {
    background-image: url('../compare_files/u144_normal.png');
}

.u144_container {
    position:absolute;
    left:14px;
    top:7px;
    width:9px;
    height:10px;
}

#u144_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:15px;
    height:16px;
}

.u145 {
    position:absolute;
    left:2px;
    top:-3px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

