body {
    margin: 0px;
    text-align: center;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
    position: relative;
    left: -20px;
    width: 940px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Order_Review_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:20px;
    top:90px;
    width:940px;
    height:825px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:946px;
    height:831px;
}

.u1 {
    position:absolute;
    left:20px;
    top:15px;
    width:910px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:20px;
    top:20px;
    width:647px;
    height:31px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_normal {
    background-image: url('../Order_Review_files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:150px;
    top:110px;
    width:371px;
    height:38px;
}

#u3_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:377px;
    height:44px;
}

.u4 {
    position:absolute;
    left:10px;
    top:4px;
    width:359px;
    height:29px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../Order_Review_files/u3_normal.png');
}

.u5_container {
    position:absolute;
    left:150px;
    top:168px;
    width:371px;
    height:38px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:377px;
    height:44px;
}

.u6 {
    position:absolute;
    left:10px;
    top:4px;
    width:359px;
    height:29px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../Order_Review_files/u3_normal.png');
}

.u7_container {
    position:absolute;
    left:150px;
    top:226px;
    width:371px;
    height:38px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:377px;
    height:44px;
}

.u8 {
    position:absolute;
    left:10px;
    top:4px;
    width:359px;
    height:29px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../Order_Review_files/u3_normal.png');
}

.u9_container {
    position:absolute;
    left:150px;
    top:400px;
    width:371px;
    height:38px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:377px;
    height:44px;
}

.u10 {
    position:absolute;
    left:10px;
    top:4px;
    width:359px;
    height:29px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../Order_Review_files/u3_normal.png');
}

.u11_container {
    position:absolute;
    left:150px;
    top:284px;
    width:371px;
    height:38px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:377px;
    height:44px;
}

.u12 {
    position:absolute;
    left:10px;
    top:4px;
    width:359px;
    height:29px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:419px;
    top:122px;
    width:92px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:419px;
    top:180px;
    width:92px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:419px;
    top:238px;
    width:92px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:419px;
    top:296px;
    width:92px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../Order_Review_files/u17_normal.png');
}

.u17_container {
    position:absolute;
    left:569px;
    top:143px;
    width:235px;
    height:24px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:241px;
    height:30px;
}

.u18 {
    position:absolute;
    left:10px;
    top:5px;
    width:223px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../Order_Review_files/u19_normal.png');
}

.u19_container {
    position:absolute;
    left:569px;
    top:110px;
    width:235px;
    height:33px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:241px;
    height:39px;
}

.u20 {
    position:absolute;
    left:10px;
    top:2px;
    width:223px;
    height:29px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../Order_Review_files/u3_normal.png');
}

.u21_container {
    position:absolute;
    left:150px;
    top:342px;
    width:371px;
    height:38px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:377px;
    height:44px;
}

.u22 {
    position:absolute;
    left:10px;
    top:4px;
    width:359px;
    height:29px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:419px;
    top:354px;
    width:92px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:579px;
    top:395px;
    width:139px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../Order_Review_files/u25_normal.png');
}

.u25_container {
    position:absolute;
    left:569px;
    top:167px;
    width:235px;
    height:86px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:241px;
    height:92px;
}

.u26 {
    position:absolute;
    left:10px;
    top:2px;
    width:223px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:579px;
    top:180px;
    width:140px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../Order_Review_files/u17_normal.png');
}

.u29_container {
    position:absolute;
    left:569px;
    top:242px;
    width:235px;
    height:24px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:241px;
    height:30px;
}

.u30 {
    position:absolute;
    left:10px;
    top:5px;
    width:223px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../Order_Review_files/u31_normal.png');
}

.u31_container {
    position:absolute;
    left:569px;
    top:266px;
    width:235px;
    height:90px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:241px;
    height:96px;
}

.u32 {
    position:absolute;
    left:10px;
    top:2px;
    width:223px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:579px;
    top:280px;
    width:140px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../Order_Review_files/u17_normal.png');
}

.u35_container {
    position:absolute;
    left:569px;
    top:341px;
    width:235px;
    height:24px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:241px;
    height:30px;
}

.u36 {
    position:absolute;
    left:10px;
    top:5px;
    width:223px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../Order_Review_files/u37_normal.png');
}

.u37_container {
    position:absolute;
    left:569px;
    top:365px;
    width:235px;
    height:73px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:241px;
    height:79px;
}

.u38 {
    position:absolute;
    left:10px;
    top:2px;
    width:223px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:579px;
    top:377px;
    width:220px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:707px;
    top:376px;
    width:92px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../Order_Review_files/u17_normal.png');
}

.u41_container {
    position:absolute;
    left:569px;
    top:425px;
    width:235px;
    height:24px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:241px;
    height:30px;
}

.u42 {
    position:absolute;
    left:10px;
    top:5px;
    width:223px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_normal {
    background-image: url('../Order_Review_files/u43_normal.png');
}

.u43_container {
    position:absolute;
    left:569px;
    top:448px;
    width:235px;
    height:83px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:241px;
    height:89px;
}

.u44 {
    position:absolute;
    left:10px;
    top:2px;
    width:223px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45 {
    position:absolute;
    left:579px;
    top:460px;
    width:140px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_normal {
    background-image: url('../Order_Review_files/u17_normal.png');
}

.u47_container {
    position:absolute;
    left:569px;
    top:519px;
    width:235px;
    height:24px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:241px;
    height:30px;
}

.u48 {
    position:absolute;
    left:10px;
    top:5px;
    width:223px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_normal {
    background-image: url('../Order_Review_files/u49_normal.png');
}

.u49_container {
    position:absolute;
    left:569px;
    top:543px;
    width:235px;
    height:144px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:241px;
    height:150px;
}

.u50 {
    position:absolute;
    left:10px;
    top:2px;
    width:223px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51 {
    position:absolute;
    left:579px;
    top:551px;
    width:220px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52 {
    position:absolute;
    left:579px;
    top:593px;
    width:220px;
    height:56px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53 {
    position:absolute;
    left:579px;
    top:574px;
    width:71px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54 {
    position:absolute;
    left:579px;
    top:654px;
    width:88px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_normal {
    background-image: url('../Order_Review_files/u17_normal.png');
}

.u55_container {
    position:absolute;
    left:569px;
    top:678px;
    width:235px;
    height:24px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:241px;
    height:30px;
}

.u56 {
    position:absolute;
    left:10px;
    top:5px;
    width:223px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

