body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../priceterms_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:105px;
    width:320px;
    height:645px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:651px;
}

.u1 {
    position:absolute;
    left:2px;
    top:314px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:20px;
    top:180px;
    width:280px;
    height:450px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3 {
    position:absolute;
    left:20px;
    top:130px;
    width:280px;
    height:39px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u4 {
    position:absolute;
    left:0px;
    top:750px;
    width:321px;
    height:131px;
    overflow:hidden;
}

#pd0u4 {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:131px;
    
}

#u5 {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:131px;
    overflow:hidden;
}

#pd0u5 {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:131px;
    
}

.u6_normal {
    background-image: url('../Footer_files/u99_normal.png');
}

.u6_container {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:130px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:136px;
}

.u7 {
    position:absolute;
    left:2px;
    top:58px;
    width:316px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u9 {
    position:fixed;
    left:0px;
    top:0px;
    width:321px;
    height:111px;
    overflow:hidden;
}

#pd0u9 {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:111px;
    
}

.u10_normal {
    background-image: url('../priceterms_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:106px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:112px;
}

.u11 {
    position:absolute;
    left:2px;
    top:45px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../Header_files/u68_normal.png');
}

.u12_container {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:25px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:31px;
}

.u13 {
    position:absolute;
    left:2px;
    top:5px;
    width:316px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:115px;
    top:40px;
    width:180px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../priceterms_files/u16_normal.png');
}

.u16_container {
    position:absolute;
    left:14px;
    top:7px;
    width:9px;
    height:10px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:15px;
    height:16px;
}

.u17 {
    position:absolute;
    left:2px;
    top:-3px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u18_container {
    position:absolute;
    left:10px;
    top:4px;
    width:50px;
    height:17px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:23px;
}

.u19 {
    position:absolute;
    left:2px;
    top:1px;
    width:46px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../priceterms_files/u20_normal.png');
}

.u20_container {
    position:absolute;
    left:115px;
    top:69px;
    width:110px;
    height:23px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:29px;
}

.u21 {
    position:absolute;
    left:2px;
    top:4px;
    width:106px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_line {
    background-image: url('../priceterms_files/u22_line.png');
}

.u22_line {
    position:absolute;
    left:0px;
    top:3px;
    width:320px;
    height:5px;
}

.u22 {
    position:absolute;
    left:0px;
    top:100px;
    width:320px;
    height:10px;
    
}

.u23_normal {
    background-image: url('../priceterms_files/u23_normal.png');
}

.u23_container {
    position:absolute;
    left:20px;
    top:42px;
    width:80px;
    height:50px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:56px;
}

.u24 {
    position:absolute;
    left:2px;
    top:17px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

