body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_original {
    background-image: url('../NavV5_files/u0_original.png');
}

.u0_container {
    position:absolute;
    left:120px;
    top:110px;
    width:720px;
    height:360px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:726px;
    height:366px;
}

.u1 {
    position:absolute;
    left:2px;
    top:172px;
    width:716px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u0 {
    position:absolute;
    left:120px;
    top:110px;
    width:720px;
    height:360px
}

.u2_original {
    background-image: url('../NavV5_files/u2_original.png');
}

.u2_container {
    position:absolute;
    left:10px;
    top:10px;
    width:170px;
    height:80px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:176px;
    height:86px;
}

.u3 {
    position:absolute;
    left:2px;
    top:32px;
    width:166px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:10px;
    top:10px;
    width:170px;
    height:80px
}

.u4_line {
    background-image: url('../NavV5_files/u4_line.png');
}

.u4_line {
    position:absolute;
    left:10px;
    top:99px;
    width:930px;
    height:3px;
}

.u4 {
    position:absolute;
    left:10px;
    top:99px;
    width:930px;
    height:3px
}

.u5 {
    position:absolute;
    left:767px;
    top:12px;
    width:60px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:837px;
    top:12px;
    width:110px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:827px;
    top:12px;
    width:10px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:800px;
    top:52px;
    width:140px;
    height:40px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#666666;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u9_original {
    background-image: url('../NavV5_files/u9_original.png');
}

.u9_container {
    position:absolute;
    left:125px;
    top:480px;
    width:230px;
    height:180px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:236px;
    height:186px;
}

.u10 {
    position:absolute;
    left:2px;
    top:82px;
    width:226px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:125px;
    top:480px;
    width:230px;
    height:180px
}

.u11_original {
    background-image: url('../NavV5_files/u9_original.png');
}

.u11_container {
    position:absolute;
    left:365px;
    top:480px;
    width:230px;
    height:180px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:236px;
    height:186px;
}

.u12 {
    position:absolute;
    left:2px;
    top:82px;
    width:226px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:365px;
    top:480px;
    width:230px;
    height:180px
}

.u13_original {
    background-image: url('../NavV5_files/u9_original.png');
}

.u13_container {
    position:absolute;
    left:605px;
    top:480px;
    width:230px;
    height:180px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:236px;
    height:186px;
}

.u14 {
    position:absolute;
    left:2px;
    top:82px;
    width:226px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:605px;
    top:480px;
    width:230px;
    height:180px
}

.u15_line {
    background-image: url('../NavV5_files/u15_line.png');
}

.u15_line {
    position:absolute;
    left:839px;
    top:480px;
    width:3px;
    height:180px;
}

.u15 {
    position:absolute;
    left:839px;
    top:480px;
    width:3px;
    height:180px
}

.u16_line {
    background-image: url('../NavV5_files/u16_line.png');
}

.u16_line {
    position:absolute;
    left:599px;
    top:480px;
    width:3px;
    height:180px;
}

.u16 {
    position:absolute;
    left:599px;
    top:480px;
    width:3px;
    height:180px
}

.u17_line {
    background-image: url('../NavV5_files/u17_line.png');
}

.u17_line {
    position:absolute;
    left:359px;
    top:480px;
    width:3px;
    height:180px;
}

.u17 {
    position:absolute;
    left:359px;
    top:480px;
    width:3px;
    height:180px
}

.u18_line {
    background-image: url('../NavV5_files/u18_line.png');
}

.u18_line {
    position:absolute;
    left:119px;
    top:480px;
    width:3px;
    height:180px;
}

.u18 {
    position:absolute;
    left:119px;
    top:480px;
    width:3px;
    height:180px
}

.u19_original {
    background-image: url('../NavV5_files/u19_original.png');
}

.u19_container {
    position:absolute;
    left:0px;
    top:720px;
    width:960px;
    height:150px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:966px;
    height:156px;
}

.u20 {
    position:absolute;
    left:2px;
    top:68px;
    width:956px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:0px;
    top:720px;
    width:960px;
    height:150px
}

.u21_menu {
    background-image: url('../NavV5_files/u21_menu.png');
}

.u21_menu {
    position:absolute;
    left:214px;
    top:49px;
    width:314px;
    height:49px;
}

#u22 {
    position:absolute;
    left:3px;
    top:3px;
    width:304px;
    height:39px
}

.u22_table {
    background-image: url('../NavV5_files/u22_table.png');
}

.u22_table {
    position:absolute;
    left:-3px;
    top:-3px;
    width:308px;
    height:43px;
}

.u23_original {
    background-image: url('../NavV5_files/u23_original.png');
}

.u23_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:34px;
}

.u24 {
    position:absolute;
    left:2px;
    top:10px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:34px
}

.u25_original {
    background-image: url('../NavV5_files/u25_original.png');
}

.u25_container {
    position:absolute;
    left:100px;
    top:0px;
    width:100px;
    height:34px;
}

.u26 {
    position:absolute;
    left:2px;
    top:10px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:100px;
    top:0px;
    width:100px;
    height:34px
}

.u27_original {
    background-image: url('../NavV5_files/u25_original.png');
}

.u27_container {
    position:absolute;
    left:200px;
    top:0px;
    width:100px;
    height:34px;
}

.u28 {
    position:absolute;
    left:2px;
    top:10px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:200px;
    top:0px;
    width:100px;
    height:34px
}

