body {
    margin: 0px;
    text-align: center;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
    position: relative;
    left: -20px;
    width: 1218px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../2a1_Retrying_ZIP_storyboard_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:20px;
    top:431px;
    width:594px;
    height:170px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:600px;
    height:176px;
}

.u1 {
    position:absolute;
    left:2px;
    top:77px;
    width:590px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../2a1_Retrying_ZIP_storyboard_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:30px;
    top:441px;
    width:575px;
    height:88px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:581px;
    height:94px;
}

.u3 {
    position:absolute;
    left:2px;
    top:36px;
    width:571px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:150px;
    top:470px;
    width:227px;
    height:45px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../2a1_Retrying_ZIP_storyboard_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:38px;
    top:450px;
    width:100px;
    height:70px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:76px;
}

.u6 {
    position:absolute;
    left:2px;
    top:28px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_line {
    background-image: url('../2a1_Retrying_ZIP_storyboard_files/u7_line.png');
}

.u7_line {
    position:absolute;
    left:0px;
    top:4px;
    width:574px;
    height:3px;
}

.u7 {
    position:absolute;
    left:30px;
    top:535px;
    width:574px;
    height:10px;
    
}

.u8 {
    position:absolute;
    left:150px;
    top:450px;
    width:68px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_mouseOver {
    background-image: url('../2a1_Retrying_ZIP_storyboard_files/Continue_u9_mouseOver.png');
}

.u9_mouseDown {
    background-image: url('../2a1_Retrying_ZIP_storyboard_files/Continue_u9_mouseDown.png');
}

.u9_normal {
    background-image: url('../2a1_Retrying_ZIP_storyboard_files/Continue_u9_normal.png');
}

.u9_container {
    position:absolute;
    left:268px;
    top:550px;
    width:163px;
    height:40px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:169px;
    height:46px;
}

.u10 {
    position:absolute;
    left:2px;
    top:12px;
    width:159px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_mouseOver {
    background-image: url('../2a1_Retrying_ZIP_storyboard_files/Continue_u9_mouseOver.png');
}

.u11_mouseDown {
    background-image: url('../2a1_Retrying_ZIP_storyboard_files/Continue_u9_mouseDown.png');
}

.u11_normal {
    background-image: url('../2a1_Retrying_ZIP_storyboard_files/Continue_u11_normal.png');
}

.u11_container {
    position:absolute;
    left:442px;
    top:550px;
    width:163px;
    height:40px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:169px;
    height:46px;
}

.u12 {
    position:absolute;
    left:2px;
    top:12px;
    width:159px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../2a1_Retrying_ZIP_storyboard_files/u13_normal.png');
}

.u13_container {
    position:absolute;
    left:20px;
    top:393px;
    width:594px;
    height:38px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:600px;
    height:44px;
}

.u14 {
    position:absolute;
    left:10px;
    top:4px;
    width:582px;
    height:29px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u15 {
    position:absolute;
    left:180px;
    top:550px;
    width:5px;
    height:19px;
    overflow:hidden;
}

#pd0u15 {
    position:absolute;
    left:0px;
    top:0px;
    width:5px;
    height:19px;
    
}

.u16 {
    position:absolute;
    left:0px;
    top:0px;
    width:195px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u17 {
    position:absolute;
    left:180px;
    top:550px;
    width:78px;
    height:40px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 21px;
    color:#333333;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u18_mouseOver {
    background-image: url('../2a1_Retrying_ZIP_storyboard_files/Continue_u9_mouseOver.png');
}

.u18_mouseDown {
    background-image: url('../2a1_Retrying_ZIP_storyboard_files/Continue_u9_mouseDown.png');
}

.u18_normal {
    background-image: url('../2a1_Retrying_ZIP_storyboard_files/Continue_u18_normal.png');
}

.u18_container {
    position:absolute;
    left:268px;
    top:550px;
    width:163px;
    height:40px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:169px;
    height:46px;
}

.u19 {
    position:absolute;
    left:2px;
    top:12px;
    width:159px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:38px;
    top:558px;
    width:142px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../2a1_Retrying_ZIP_storyboard_files/u0_normal.png');
}

.u21_container {
    position:absolute;
    left:333px;
    top:109px;
    width:594px;
    height:170px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:600px;
    height:176px;
}

.u22 {
    position:absolute;
    left:2px;
    top:77px;
    width:590px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../2a1_Retrying_ZIP_storyboard_files/u2_normal.png');
}

.u23_container {
    position:absolute;
    left:342px;
    top:119px;
    width:575px;
    height:88px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:581px;
    height:94px;
}

.u24 {
    position:absolute;
    left:2px;
    top:36px;
    width:571px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:463px;
    top:148px;
    width:227px;
    height:45px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../2a1_Retrying_ZIP_storyboard_files/u5_normal.png');
}

.u26_container {
    position:absolute;
    left:351px;
    top:128px;
    width:100px;
    height:70px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:76px;
}

.u27 {
    position:absolute;
    left:2px;
    top:28px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_line {
    background-image: url('../2a1_Retrying_ZIP_storyboard_files/u28_line.png');
}

.u28_line {
    position:absolute;
    left:0px;
    top:4px;
    width:574px;
    height:3px;
}

.u28 {
    position:absolute;
    left:342px;
    top:213px;
    width:574px;
    height:10px;
    
}

.u29 {
    position:absolute;
    left:463px;
    top:128px;
    width:68px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_mouseOver {
    background-image: url('../2a1_Retrying_ZIP_storyboard_files/Continue_u9_mouseOver.png');
}

.u30_mouseDown {
    background-image: url('../2a1_Retrying_ZIP_storyboard_files/Continue_u9_mouseDown.png');
}

.u30_normal {
    background-image: url('../2a1_Retrying_ZIP_storyboard_files/Continue_u9_normal.png');
}

.u30_container {
    position:absolute;
    left:581px;
    top:228px;
    width:163px;
    height:40px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:169px;
    height:46px;
}

.u31 {
    position:absolute;
    left:2px;
    top:12px;
    width:159px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_mouseOver {
    background-image: url('../2a1_Retrying_ZIP_storyboard_files/Continue_u9_mouseOver.png');
}

.u32_mouseDown {
    background-image: url('../2a1_Retrying_ZIP_storyboard_files/Continue_u9_mouseDown.png');
}

.u32_normal {
    background-image: url('../2a1_Retrying_ZIP_storyboard_files/Continue_u11_normal.png');
}

.u32_container {
    position:absolute;
    left:754px;
    top:228px;
    width:163px;
    height:40px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:169px;
    height:46px;
}

.u33 {
    position:absolute;
    left:2px;
    top:12px;
    width:159px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../2a1_Retrying_ZIP_storyboard_files/u13_normal.png');
}

.u34_container {
    position:absolute;
    left:333px;
    top:71px;
    width:594px;
    height:38px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:600px;
    height:44px;
}

.u35 {
    position:absolute;
    left:10px;
    top:4px;
    width:582px;
    height:29px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_normal {
    background-image: url('../2a1_Retrying_ZIP_storyboard_files/u0_normal.png');
}

.u36_container {
    position:absolute;
    left:644px;
    top:431px;
    width:594px;
    height:170px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:600px;
    height:176px;
}

.u37 {
    position:absolute;
    left:2px;
    top:77px;
    width:590px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_normal {
    background-image: url('../2a1_Retrying_ZIP_storyboard_files/u2_normal.png');
}

.u38_container {
    position:absolute;
    left:652px;
    top:441px;
    width:575px;
    height:88px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:581px;
    height:94px;
}

.u39 {
    position:absolute;
    left:2px;
    top:36px;
    width:571px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:774px;
    top:471px;
    width:227px;
    height:45px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../2a1_Retrying_ZIP_storyboard_files/u5_normal.png');
}

.u41_container {
    position:absolute;
    left:662px;
    top:451px;
    width:100px;
    height:70px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:76px;
}

.u42 {
    position:absolute;
    left:2px;
    top:28px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_line {
    background-image: url('../2a1_Retrying_ZIP_storyboard_files/u43_line.png');
}

.u43_line {
    position:absolute;
    left:0px;
    top:4px;
    width:574px;
    height:3px;
}

.u43 {
    position:absolute;
    left:652px;
    top:535px;
    width:574px;
    height:10px;
    
}

.u44 {
    position:absolute;
    left:774px;
    top:451px;
    width:68px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_mouseOver {
    background-image: url('../2a1_Retrying_ZIP_storyboard_files/Continue_u9_mouseOver.png');
}

.u45_mouseDown {
    background-image: url('../2a1_Retrying_ZIP_storyboard_files/Continue_u9_mouseDown.png');
}

.u45_normal {
    background-image: url('../2a1_Retrying_ZIP_storyboard_files/Continue_u9_normal.png');
}

.u45_container {
    position:absolute;
    left:892px;
    top:551px;
    width:163px;
    height:40px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:169px;
    height:46px;
}

.u46 {
    position:absolute;
    left:2px;
    top:12px;
    width:159px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_mouseOver {
    background-image: url('../2a1_Retrying_ZIP_storyboard_files/Continue_u9_mouseOver.png');
}

.u47_mouseDown {
    background-image: url('../2a1_Retrying_ZIP_storyboard_files/Continue_u9_mouseDown.png');
}

.u47_normal {
    background-image: url('../2a1_Retrying_ZIP_storyboard_files/Continue_u11_normal.png');
}

.u47_container {
    position:absolute;
    left:1064px;
    top:551px;
    width:163px;
    height:40px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:169px;
    height:46px;
}

.u48 {
    position:absolute;
    left:2px;
    top:12px;
    width:159px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_normal {
    background-image: url('../2a1_Retrying_ZIP_storyboard_files/u13_normal.png');
}

.u49_container {
    position:absolute;
    left:644px;
    top:393px;
    width:594px;
    height:38px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:600px;
    height:44px;
}

.u50 {
    position:absolute;
    left:10px;
    top:4px;
    width:582px;
    height:29px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u51 {
    position:absolute;
    left:804px;
    top:552px;
    width:5px;
    height:19px;
    overflow:hidden;
}

#pd0u51 {
    position:absolute;
    left:0px;
    top:0px;
    width:5px;
    height:19px;
    
}

.u52 {
    position:absolute;
    left:0px;
    top:0px;
    width:195px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u53 {
    position:absolute;
    left:804px;
    top:552px;
    width:78px;
    height:40px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 21px;
    color:#333333;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u54_mouseOver {
    background-image: url('../2a1_Retrying_ZIP_storyboard_files/Continue_u9_mouseOver.png');
}

.u54_mouseDown {
    background-image: url('../2a1_Retrying_ZIP_storyboard_files/Continue_u9_mouseDown.png');
}

.u54_normal {
    background-image: url('../2a1_Retrying_ZIP_storyboard_files/Continue_u18_normal.png');
}

.u54_container {
    position:absolute;
    left:892px;
    top:552px;
    width:163px;
    height:40px;
}

#u54_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:169px;
    height:46px;
}

.u55 {
    position:absolute;
    left:2px;
    top:12px;
    width:159px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56 {
    position:absolute;
    left:662px;
    top:560px;
    width:142px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_normal {
    background-image: url('../2a1_Retrying_ZIP_storyboard_files/u57_normal.png');
}

.u57_container {
    position:absolute;
    left:570px;
    top:302px;
    width:117px;
    height:62px;
}

#u57_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:123px;
    height:68px;
}

.u58 {
    position:absolute;
    left:2px;
    top:24px;
    width:113px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59c0 {
    background-image: url('../2a1_Retrying_ZIP_storyboard_files/u59c0.png');
}

.u59c0 {
    position:absolute;
    left:322px;
    top:323px;
    width:20px;
    height:60px;
}

.u59c1 {
    background-image: url('../2a1_Retrying_ZIP_storyboard_files/u59c1.png');
}

.u59c1 {
    position:absolute;
    left:322px;
    top:323px;
    width:252px;
    height:20px;
}

.u60 {
    position:absolute;
    left:46px;
    top:-54px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61c0 {
    background-image: url('../2a1_Retrying_ZIP_storyboard_files/u61c0.png');
}

.u61c0 {
    position:absolute;
    left:918px;
    top:323px;
    width:20px;
    height:57px;
}

.u61c1 {
    background-image: url('../2a1_Retrying_ZIP_storyboard_files/u61c1.png');
}

.u61c1 {
    position:absolute;
    left:683px;
    top:323px;
    width:255px;
    height:20px;
}

.u62 {
    position:absolute;
    left:-149px;
    top:-51px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63c0 {
    background-image: url('../2a1_Retrying_ZIP_storyboard_files/u63c0.png');
}

.u63c0 {
    position:absolute;
    left:618px;
    top:273px;
    width:20px;
    height:33px;
}

.u63c1 {
    background-image: url('../2a1_Retrying_ZIP_storyboard_files/u63c1.png');
}

.u63c1 {
    position:absolute;
    left:618px;
    top:273px;
    width:15px;
    height:20px;
}

.u64 {
    position:absolute;
    left:-50px;
    top:-18px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_normal {
    background-image: url('../2a1_Retrying_ZIP_storyboard_files/u65_normal.png');
}

.u65_container {
    position:absolute;
    left:158px;
    top:686px;
    width:940px;
    height:738px;
}

#u65_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:946px;
    height:744px;
}

.u66 {
    position:absolute;
    left:20px;
    top:15px;
    width:910px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67_normal {
    background-image: url('../2a1_Retrying_ZIP_storyboard_files/u67_normal.png');
}

.u67_container {
    position:absolute;
    left:214px;
    top:708px;
    width:832px;
    height:694px;
}

#u67_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:838px;
    height:700px;
}

.u68 {
    position:absolute;
    left:20px;
    top:15px;
    width:802px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u69 {
    position:absolute;
    left:801px;
    top:1001px;
    width:37px;
    height:30px;
    overflow:hidden;
}

#pd1u69 {
    position:absolute;
    left:0px;
    top:0px;
    width:37px;
    height:30px;
    
}

#pd0u69 {
    position:absolute;
    left:0px;
    top:0px;
    width:37px;
    height:30px;
    
}

.u70 {
    position:absolute;
    left:0px;
    top:17px;
    width:36px;
    height:10px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71 {
    position:absolute;
    left:457px;
    top:979px;
    width:229px;
    height:45px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72_normal {
    background-image: url('../item_summary_files/clickable_item_image_u12_normal.png');
}

.u72_container {
    position:absolute;
    left:337px;
    top:959px;
    width:100px;
    height:70px;
}

#u72_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:76px;
}

.u73 {
    position:absolute;
    left:2px;
    top:28px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74_line {
    background-image: url('../item_summary_files/u14_line.png');
}

.u74_line {
    position:absolute;
    left:0px;
    top:4px;
    width:580px;
    height:3px;
}

.u74 {
    position:absolute;
    left:337px;
    top:1034px;
    width:580px;
    height:10px;
    
}

.u75 {
    position:absolute;
    left:457px;
    top:959px;
    width:70px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u76 {
    position:absolute;
    left:801px;
    top:987px;
    width:36px;
    height:29px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#666666;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u77 {
    position:absolute;
    left:861px;
    top:993px;
    width:40px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78 {
    position:absolute;
    left:715px;
    top:985px;
    width:40px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79 {
    position:absolute;
    left:770px;
    top:992px;
    width:18px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80 {
    position:absolute;
    left:715px;
    top:1001px;
    width:40px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81_line {
    background-image: url('../item_summary_files/u21_line.png');
}

.u81_line {
    position:absolute;
    left:0px;
    top:4px;
    width:34px;
    height:3px;
}

.u81 {
    position:absolute;
    left:718px;
    top:1004px;
    width:34px;
    height:10px;
    
}

.u82_normal {
    background-image: url('../RemoveItem_files/u22_normal.png');
}

.u82_container {
    position:absolute;
    left:307px;
    top:988px;
    width:13px;
    height:13px;
}

#u82_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:19px;
    height:19px;
}

.u83 {
    position:absolute;
    left:2px;
    top:-2px;
    width:9px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84 {
    position:absolute;
    left:310px;
    top:992px;
    width:9px;
    height:6px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u85 {
    position:absolute;
    left:256px;
    top:987px;
    width:49px;
    height:16px;
    overflow:hidden;
}

#pd0u85 {
    position:absolute;
    left:0px;
    top:0px;
    width:49px;
    height:16px;
    
}

.u86 {
    position:absolute;
    left:0px;
    top:3px;
    width:43px;
    height:10px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u87 {
    position:absolute;
    left:307px;
    top:988px;
    width:13px;
    height:13px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u90 {
    position:absolute;
    left:801px;
    top:1096px;
    width:37px;
    height:30px;
    overflow:hidden;
}

#pd1u90 {
    position:absolute;
    left:0px;
    top:0px;
    width:37px;
    height:30px;
    
}

#pd0u90 {
    position:absolute;
    left:0px;
    top:0px;
    width:37px;
    height:30px;
    
}

.u91 {
    position:absolute;
    left:0px;
    top:17px;
    width:36px;
    height:10px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92 {
    position:absolute;
    left:457px;
    top:1074px;
    width:229px;
    height:45px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93_normal {
    background-image: url('../item_summary_files/clickable_item_image_u12_normal.png');
}

.u93_container {
    position:absolute;
    left:337px;
    top:1054px;
    width:100px;
    height:70px;
}

#u93_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:76px;
}

.u94 {
    position:absolute;
    left:2px;
    top:28px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95_line {
    background-image: url('../item_summary_files/u14_line.png');
}

.u95_line {
    position:absolute;
    left:0px;
    top:4px;
    width:580px;
    height:3px;
}

.u95 {
    position:absolute;
    left:337px;
    top:1129px;
    width:580px;
    height:10px;
    
}

.u96 {
    position:absolute;
    left:457px;
    top:1054px;
    width:70px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97 {
    position:absolute;
    left:801px;
    top:1082px;
    width:36px;
    height:29px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#666666;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u98 {
    position:absolute;
    left:861px;
    top:1088px;
    width:40px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99 {
    position:absolute;
    left:715px;
    top:1080px;
    width:40px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u100 {
    position:absolute;
    left:770px;
    top:1087px;
    width:18px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101 {
    position:absolute;
    left:715px;
    top:1096px;
    width:40px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u102_line {
    background-image: url('../item_summary_files/u21_line.png');
}

.u102_line {
    position:absolute;
    left:0px;
    top:4px;
    width:34px;
    height:3px;
}

.u102 {
    position:absolute;
    left:718px;
    top:1099px;
    width:34px;
    height:10px;
    
}

.u103_normal {
    background-image: url('../RemoveItem_files/u22_normal.png');
}

.u103_container {
    position:absolute;
    left:307px;
    top:1083px;
    width:13px;
    height:13px;
}

#u103_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:19px;
    height:19px;
}

.u104 {
    position:absolute;
    left:2px;
    top:-2px;
    width:9px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105 {
    position:absolute;
    left:310px;
    top:1087px;
    width:9px;
    height:6px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u106 {
    position:absolute;
    left:256px;
    top:1082px;
    width:49px;
    height:16px;
    overflow:hidden;
}

#pd0u106 {
    position:absolute;
    left:0px;
    top:0px;
    width:49px;
    height:16px;
    
}

.u107 {
    position:absolute;
    left:0px;
    top:3px;
    width:43px;
    height:10px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u108 {
    position:absolute;
    left:307px;
    top:1083px;
    width:13px;
    height:13px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

.u111_line {
    background-image: url('../ViewCart_files/u51_line.png');
}

.u111_line {
    position:absolute;
    left:0px;
    top:4px;
    width:600px;
    height:3px;
}

.u111 {
    position:absolute;
    left:327px;
    top:826px;
    width:600px;
    height:10px;
    
}

#u112 {
    position:absolute;
    left:801px;
    top:888px;
    width:37px;
    height:30px;
    overflow:hidden;
}

#pd1u112 {
    position:absolute;
    left:0px;
    top:0px;
    width:37px;
    height:30px;
    
}

.u113 {
    position:absolute;
    left:0px;
    top:17px;
    width:36px;
    height:10px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u112 {
    position:absolute;
    left:0px;
    top:0px;
    width:37px;
    height:30px;
    
}

.u114 {
    position:absolute;
    left:457px;
    top:866px;
    width:229px;
    height:45px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u115_normal {
    background-image: url('../LineItem_CostPromo_files/clickable_item_image_u55_normal.png');
}

.u115_container {
    position:absolute;
    left:337px;
    top:846px;
    width:100px;
    height:70px;
}

#u115_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:76px;
}

.u116 {
    position:absolute;
    left:2px;
    top:28px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u117_line {
    background-image: url('../LineItem_CostPromo_files/u57_line.png');
}

.u117_line {
    position:absolute;
    left:0px;
    top:4px;
    width:580px;
    height:3px;
}

.u117 {
    position:absolute;
    left:337px;
    top:946px;
    width:580px;
    height:10px;
    
}

.u118 {
    position:absolute;
    left:457px;
    top:846px;
    width:70px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u119 {
    position:absolute;
    left:801px;
    top:874px;
    width:36px;
    height:29px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#666666;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u120 {
    position:absolute;
    left:854px;
    top:880px;
    width:48px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u121 {
    position:absolute;
    left:715px;
    top:872px;
    width:40px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u122 {
    position:absolute;
    left:770px;
    top:879px;
    width:18px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u123 {
    position:absolute;
    left:715px;
    top:888px;
    width:40px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u124_line {
    background-image: url('../LineItem_CostPromo_files/u64_line.png');
}

.u124_line {
    position:absolute;
    left:0px;
    top:4px;
    width:34px;
    height:3px;
}

.u124 {
    position:absolute;
    left:718px;
    top:891px;
    width:34px;
    height:10px;
    
}

.u125_normal {
    background-image: url('../RemoveItem_files/u22_normal.png');
}

.u125_container {
    position:absolute;
    left:307px;
    top:875px;
    width:13px;
    height:13px;
}

#u125_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:19px;
    height:19px;
}

.u126 {
    position:absolute;
    left:2px;
    top:-2px;
    width:9px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u127 {
    position:absolute;
    left:310px;
    top:879px;
    width:9px;
    height:6px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u128 {
    position:absolute;
    left:256px;
    top:874px;
    width:49px;
    height:16px;
    overflow:hidden;
}

#pd0u128 {
    position:absolute;
    left:0px;
    top:0px;
    width:49px;
    height:16px;
    
}

.u129 {
    position:absolute;
    left:0px;
    top:3px;
    width:43px;
    height:10px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u130 {
    position:absolute;
    left:307px;
    top:875px;
    width:13px;
    height:13px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

.u132_line {
    background-image: url('../LineItem_CostPromo_files/u72_line.png');
}

.u132_line {
    position:absolute;
    left:0px;
    top:4px;
    width:41px;
    height:3px;
}

.u132 {
    position:absolute;
    left:861px;
    top:883px;
    width:41px;
    height:10px;
    
}

.u133_normal {
    background-image: url('../LineItem_CostPromo_files/u73_normal.png');
}

.u133_container {
    position:absolute;
    left:337px;
    top:925px;
    width:580px;
    height:18px;
}

#u133_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:586px;
    height:24px;
}

.u134 {
    position:absolute;
    left:2px;
    top:1px;
    width:576px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u135 {
    position:absolute;
    left:345px;
    top:929px;
    width:519px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u136 {
    position:absolute;
    left:854px;
    top:927px;
    width:47px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u137 {
    position:absolute;
    left:854px;
    top:901px;
    width:48px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u139 {
    position:absolute;
    left:337px;
    top:1143px;
    width:322px;
    height:26px;
    overflow:hidden;
}

#pd1u139 {
    position:absolute;
    left:0px;
    top:0px;
    width:322px;
    height:26px;
    
}

.u140 {
    position:absolute;
    left:105px;
    top:0px;
    width:139px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#666666;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u141_mouseOver {
    background-image: url('../SubtotalsAndQueries___ViewCart_files/SAVE_u81_mouseOver.png');
}

.u141_mouseDown {
    background-image: url('../SubtotalsAndQueries___ViewCart_files/SAVE_u81_mouseDown.png');
}

.u141_normal {
    background-image: url('../SubtotalsAndQueries___ViewCart_files/SAVE_u81_normal.png');
}

.u141_container {
    position:absolute;
    left:254px;
    top:0px;
    width:67px;
    height:25px;
}

#u141_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:73px;
    height:31px;
}

.u142 {
    position:absolute;
    left:2px;
    top:5px;
    width:63px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u143 {
    position:absolute;
    left:0px;
    top:4px;
    width:111px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u139 {
    position:absolute;
    left:0px;
    top:0px;
    width:322px;
    height:26px;
    
}

.u144 {
    position:absolute;
    left:272px;
    top:7px;
    width:48px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u145 {
    position:absolute;
    left:108px;
    top:4px;
    width:47px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u146 {
    position:absolute;
    left:0px;
    top:4px;
    width:111px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u147 {
    position:absolute;
    left:153px;
    top:4px;
    width:113px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u148 {
    position:absolute;
    left:337px;
    top:1188px;
    width:324px;
    height:26px;
    overflow:hidden;
}

#pd1u148 {
    position:absolute;
    left:0px;
    top:0px;
    width:324px;
    height:26px;
    
}

.u149 {
    position:absolute;
    left:192px;
    top:7px;
    width:130px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u150 {
    position:absolute;
    left:110px;
    top:4px;
    width:90px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u151 {
    position:absolute;
    left:0px;
    top:4px;
    width:140px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u148 {
    position:absolute;
    left:0px;
    top:0px;
    width:324px;
    height:26px;
    
}

.u152 {
    position:absolute;
    left:0px;
    top:0px;
    width:182px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#666666;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u153_mouseOver {
    background-image: url('../SubtotalsAndQueries___ViewCart_files/APPLY_u93_mouseOver.png');
}

.u153_mouseDown {
    background-image: url('../SubtotalsAndQueries___ViewCart_files/APPLY_u93_mouseDown.png');
}

.u153_normal {
    background-image: url('../SubtotalsAndQueries___ViewCart_files/APPLY_u93_normal.png');
}

.u153_container {
    position:absolute;
    left:196px;
    top:0px;
    width:127px;
    height:25px;
}

#u153_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:133px;
    height:31px;
}

.u154 {
    position:absolute;
    left:2px;
    top:5px;
    width:123px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u155 {
    position:absolute;
    left:731px;
    top:1143px;
    width:185px;
    height:101px;
    overflow:hidden;
}

#pd1u155 {
    position:absolute;
    left:0px;
    top:0px;
    width:185px;
    height:101px;
    
}

#u156 {
    position:absolute;
    left:0px;
    top:27px;
    width:185px;
    height:74px;
    overflow:hidden;
}

#pd1u156 {
    position:absolute;
    left:0px;
    top:0px;
    width:185px;
    height:74px;
    
}

.u157_container {
    position:absolute;
    left:74px;
    top:4px;
    width:16px;
    height:16px;
}

#u157_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u158 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u159 {
    position:absolute;
    left:31px;
    top:26px;
    width:102px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u156 {
    position:absolute;
    left:0px;
    top:0px;
    width:185px;
    height:74px;
    
}

.u160 {
    position:absolute;
    left:0px;
    top:0px;
    width:131px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u161 {
    position:absolute;
    left:131px;
    top:1px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u162 {
    position:absolute;
    left:0px;
    top:50px;
    width:102px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u163 {
    position:absolute;
    left:120px;
    top:51px;
    width:64px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u164 {
    position:absolute;
    left:0px;
    top:26px;
    width:131px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u165 {
    position:absolute;
    left:131px;
    top:27px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u166 {
    position:absolute;
    left:0px;
    top:0px;
    width:102px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u167 {
    position:absolute;
    left:131px;
    top:0px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u155 {
    position:absolute;
    left:0px;
    top:0px;
    width:185px;
    height:101px;
    
}

#u168 {
    position:absolute;
    left:0px;
    top:27px;
    width:185px;
    height:45px;
    overflow:hidden;
}

#pd1u168 {
    position:absolute;
    left:0px;
    top:0px;
    width:185px;
    height:45px;
    
}

.u169_container {
    position:absolute;
    left:74px;
    top:4px;
    width:16px;
    height:16px;
}

#u169_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u170 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u171 {
    position:absolute;
    left:31px;
    top:26px;
    width:102px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u168 {
    position:absolute;
    left:0px;
    top:0px;
    width:185px;
    height:45px;
    
}

.u172 {
    position:absolute;
    left:0px;
    top:0px;
    width:131px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u173 {
    position:absolute;
    left:131px;
    top:1px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u174 {
    position:absolute;
    left:0px;
    top:25px;
    width:102px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u175 {
    position:absolute;
    left:120px;
    top:27px;
    width:64px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u176 {
    position:absolute;
    left:0px;
    top:0px;
    width:102px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u177 {
    position:absolute;
    left:131px;
    top:0px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u178 {
    position:absolute;
    left:327px;
    top:1228px;
    width:601px;
    height:56px;
    overflow:hidden;
}

#pd0u178 {
    position:absolute;
    left:0px;
    top:0px;
    width:601px;
    height:56px;
    
}

.u179_line {
    background-image: url('../SubtotalsAndQueries___ViewCart_files/u119_line.png');
}

.u179_line {
    position:absolute;
    left:0px;
    top:4px;
    width:600px;
    height:3px;
}

.u179 {
    position:absolute;
    left:0px;
    top:0px;
    width:600px;
    height:10px;
    
}

.u180 {
    position:absolute;
    left:10px;
    top:15px;
    width:463px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u181 {
    position:absolute;
    left:327px;
    top:1283px;
    width:599px;
    height:56px;
    overflow:hidden;
}

#pd0u181 {
    position:absolute;
    left:0px;
    top:0px;
    width:599px;
    height:56px;
    
}

.u182_mouseOver {
    background-image: url('../SubtotalsAndQueries___ViewCart_files/Continue_u122_mouseOver.png');
}

.u182_mouseDown {
    background-image: url('../SubtotalsAndQueries___ViewCart_files/Continue_u122_mouseDown.png');
}

.u182_normal {
    background-image: url('../SubtotalsAndQueries___ViewCart_files/Continue_u122_normal.png');
}

.u182_container {
    position:absolute;
    left:388px;
    top:15px;
    width:210px;
    height:40px;
}

#u182_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:216px;
    height:46px;
}

.u183 {
    position:absolute;
    left:2px;
    top:12px;
    width:206px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u184_mouseOver {
    background-image: url('../SubtotalsAndQueries___ViewCart_files/Continue_u122_mouseOver.png');
}

.u184_mouseDown {
    background-image: url('../SubtotalsAndQueries___ViewCart_files/Continue_u122_mouseDown.png');
}

.u184_normal {
    background-image: url('../SubtotalsAndQueries___ViewCart_files/Continue_u122_normal.png');
}

.u184_container {
    position:absolute;
    left:0px;
    top:15px;
    width:210px;
    height:40px;
}

#u184_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:216px;
    height:46px;
}

.u185 {
    position:absolute;
    left:2px;
    top:12px;
    width:206px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u186_line {
    background-image: url('../SubtotalsAndQueries___ViewCart_files/u126_line.png');
}

.u186_line {
    position:absolute;
    left:0px;
    top:4px;
    width:598px;
    height:3px;
}

.u186 {
    position:absolute;
    left:0px;
    top:0px;
    width:598px;
    height:10px;
    
}

.u189_mouseOver {
    background-image: url('../2a1_Retrying_ZIP_storyboard_files/Continue_u189_mouseOver.png');
}

.u189_mouseDown {
    background-image: url('../2a1_Retrying_ZIP_storyboard_files/Continue_u189_mouseDown.png');
}

.u189_normal {
    background-image: url('../2a1_Retrying_ZIP_storyboard_files/Continue_u189_normal.png');
}

.u189_container {
    position:absolute;
    left:712px;
    top:776px;
    width:210px;
    height:40px;
}

#u189_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:216px;
    height:46px;
}

.u190 {
    position:absolute;
    left:2px;
    top:12px;
    width:206px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u191_mouseOver {
    background-image: url('../2a1_Retrying_ZIP_storyboard_files/Continue_u189_mouseOver.png');
}

.u191_mouseDown {
    background-image: url('../2a1_Retrying_ZIP_storyboard_files/Continue_u189_mouseDown.png');
}

.u191_normal {
    background-image: url('../2a1_Retrying_ZIP_storyboard_files/Continue_u189_normal.png');
}

.u191_container {
    position:absolute;
    left:328px;
    top:776px;
    width:210px;
    height:40px;
}

#u191_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:216px;
    height:46px;
}

.u192 {
    position:absolute;
    left:2px;
    top:12px;
    width:206px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u193_line {
    background-image: url('../2a1_Retrying_ZIP_storyboard_files/u193_line.png');
}

.u193_line {
    position:absolute;
    left:0px;
    top:4px;
    width:594px;
    height:3px;
}

.u193 {
    position:absolute;
    left:328px;
    top:761px;
    width:594px;
    height:10px;
    
}

.u194_normal {
    background-image: url('../You_Have___Items_files/u5_normal.png');
}

.u194_container {
    position:absolute;
    left:328px;
    top:736px;
    width:16px;
    height:16px;
}

#u194_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u195 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u196 {
    position:absolute;
    left:354px;
    top:731px;
    width:430px;
    height:27px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u198c0 {
    background-image: url('../2a1_Retrying_ZIP_storyboard_files/u198c0.png');
}

.u198c0 {
    position:absolute;
    left:616px;
    top:636px;
    width:20px;
    height:58px;
}

.u198c1 {
    background-image: url('../2a1_Retrying_ZIP_storyboard_files/u198c1.png');
}

.u198c1 {
    position:absolute;
    left:616px;
    top:636px;
    width:363px;
    height:20px;
}

.u198c2 {
    background-image: url('../2a1_Retrying_ZIP_storyboard_files/u198c2.png');
}

.u198c2 {
    position:absolute;
    left:959px;
    top:588px;
    width:20px;
    height:68px;
}

.u199 {
    position:absolute;
    left:126px;
    top:-52px;
    width:100px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u200 {
    position:absolute;
    left:20px;
    top:20px;
    width:647px;
    height:31px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u201c0 {
    background-image: url('../2a1_Retrying_ZIP_storyboard_files/u201c0.png');
}

.u201c0 {
    position:absolute;
    left:215px;
    top:168px;
    width:20px;
    height:216px;
}

.u201c1 {
    background-image: url('../2a1_Retrying_ZIP_storyboard_files/u201c1.png');
}

.u201c1 {
    position:absolute;
    left:215px;
    top:168px;
    width:114px;
    height:20px;
}

.u202 {
    position:absolute;
    left:-50px;
    top:-158px;
    width:100px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u203_normal {
    background-image: url('../2a1_Retrying_ZIP_storyboard_files/u203_normal.png');
}

.u203_container {
    position:absolute;
    left:900px;
    top:82px;
    width:17px;
    height:17px;
}

#u203_img {
    position:absolute;
    left:0px;
    top:0px;
    width:17px;
    height:17px;
}

.u204 {
    position:absolute;
    left:2px;
    top:0px;
    width:13px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u205_normal {
    background-image: url('../2a1_Retrying_ZIP_storyboard_files/u203_normal.png');
}

.u205_container {
    position:absolute;
    left:1210px;
    top:404px;
    width:17px;
    height:17px;
}

#u205_img {
    position:absolute;
    left:0px;
    top:0px;
    width:17px;
    height:17px;
}

.u206 {
    position:absolute;
    left:2px;
    top:0px;
    width:13px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u207_normal {
    background-image: url('../2a1_Retrying_ZIP_storyboard_files/u203_normal.png');
}

.u207_container {
    position:absolute;
    left:587px;
    top:404px;
    width:17px;
    height:17px;
}

#u207_img {
    position:absolute;
    left:0px;
    top:0px;
    width:17px;
    height:17px;
}

.u208 {
    position:absolute;
    left:2px;
    top:0px;
    width:13px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

