body {
    margin: 0px;
    text-align: center;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
    position: relative;
    left: -10px;
    width: 988px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../ChangeLog_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:10px;
    top:678px;
    width:910px;
    height:51px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:916px;
    height:57px;
}

.u1 {
    position:absolute;
    left:20px;
    top:15px;
    width:880px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../ChangeLog_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:10px;
    top:516px;
    width:910px;
    height:107px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:916px;
    height:113px;
}

.u3 {
    position:absolute;
    left:20px;
    top:15px;
    width:880px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../ChangeLog_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:10px;
    top:330px;
    width:910px;
    height:128px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:916px;
    height:134px;
}

.u5 {
    position:absolute;
    left:20px;
    top:15px;
    width:880px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:10px;
    top:201px;
    width:259px;
    height:45px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:20px;
    top:293px;
    width:157px;
    height:27px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:168px;
    top:293px;
    width:107px;
    height:27px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:265px;
    top:293px;
    width:95px;
    height:27px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:355px;
    top:293px;
    width:323px;
    height:27px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_line {
    background-image: url('../ChangeLog_files/u11_line.png');
}

.u11_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:725px;
}

.u11 {
    position:absolute;
    left:152px;
    top:329px;
    width:10px;
    height:725px;
    
}

.u12_line {
    background-image: url('../ChangeLog_files/u12_line.png');
}

.u12_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:725px;
}

.u12 {
    position:absolute;
    left:247px;
    top:329px;
    width:10px;
    height:725px;
    
}

.u13_line {
    background-image: url('../ChangeLog_files/u13_line.png');
}

.u13_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:725px;
}

.u13 {
    position:absolute;
    left:335px;
    top:329px;
    width:10px;
    height:725px;
    
}

.u14 {
    position:absolute;
    left:10px;
    top:19px;
    width:259px;
    height:45px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:20px;
    top:338px;
    width:122px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:168px;
    top:338px;
    width:69px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:265px;
    top:338px;
    width:70px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:355px;
    top:338px;
    width:643px;
    height:108px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../ChangeLog_files/u19_normal.png');
}

.u19_container {
    position:absolute;
    left:168px;
    top:80px;
    width:133px;
    height:55px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:139px;
    height:61px;
}

.u20 {
    position:absolute;
    left:2px;
    top:14px;
    width:129px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:10px;
    top:155px;
    width:508px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:20px;
    top:468px;
    width:122px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:168px;
    top:468px;
    width:69px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:265px;
    top:468px;
    width:70px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:355px;
    top:468px;
    width:552px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:20px;
    top:525px;
    width:122px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:168px;
    top:525px;
    width:69px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:265px;
    top:525px;
    width:70px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:355px;
    top:525px;
    width:643px;
    height:108px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../ChangeLog_files/u19_normal.png');
}

.u30_container {
    position:absolute;
    left:10px;
    top:80px;
    width:133px;
    height:55px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:139px;
    height:61px;
}

.u31 {
    position:absolute;
    left:2px;
    top:14px;
    width:129px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../ChangeLog_files/u19_normal.png');
}

.u32_container {
    position:absolute;
    left:335px;
    top:80px;
    width:133px;
    height:55px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:139px;
    height:61px;
}

.u33 {
    position:absolute;
    left:2px;
    top:14px;
    width:129px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:20px;
    top:638px;
    width:122px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:168px;
    top:638px;
    width:69px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:265px;
    top:638px;
    width:70px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:355px;
    top:638px;
    width:643px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:20px;
    top:689px;
    width:122px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:168px;
    top:689px;
    width:69px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:265px;
    top:689px;
    width:70px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:355px;
    top:689px;
    width:643px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

