* html .u1_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Email_Prefs_files/u1_normal.png");
}

* html .u3_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Email_Prefs_files/u3_normal.png");
}

* html .u5_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Email_Prefs_files/u5_normal.png");
}

* html .u7_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Email_Prefs_files/u7_normal.png");
}

* html .u15_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Email_Prefs_files/u15_normal.png");
}

* html .u17_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Email_Prefs_files/u3_normal.png");
}

* html .u19_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Email_Prefs_files/u1_normal.png");
}

* html .u21_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Email_Prefs_files/u7_normal.png");
}

* html .u23_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Email_Prefs_files/u5_normal.png");
}

* html .u32_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Email_Prefs_files/u32_normal.png");
}

* html .u34_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Email_Prefs_files/u34_normal.png");
}

* html .u38_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Email_Prefs_files/u38_normal.png");
}

* html .u40_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Email_Prefs_files/Submit_u40_normal.png");
}

* html .u43_image_sketch {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Email_Prefs_files/first_name_field_u43_image_sketch.png");
}

* html .u44_image_sketch {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Email_Prefs_files/last_name_u44_image_sketch.png");
}

* html .u45_image_sketch {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Email_Prefs_files/ZIP_code_u45_image_sketch.png");
}

* html .u52_image_sketch {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Email_Prefs_files/Date_of_birth___date_u52_image_sketch.png");
}

* html .u53_image_sketch {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Email_Prefs_files/Date_of_birth___month_u53_image_sketch.png");
}

* html .u54_image_sketch {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Email_Prefs_files/Date_of_birth___year_u54_image_sketch.png");
}

* html .u64_image_sketch {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Email_Prefs_files/ChangeEmailAddressInput_u64_image_sketch.png");
}

