body {
    margin: 0px;
    text-align: center;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
    position: relative;
    left: -181px;
    width: 599px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../You_Have___Items_files/u5_normal.png');
}

.u0_container {
    position:absolute;
    left:190px;
    top:23px;
    width:16px;
    height:16px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u1 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:216px;
    top:18px;
    width:430px;
    height:27px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_container {
    position:absolute;
    left:280px;
    top:237px;
    width:400px;
    height:330px;
}

#u4_img {
    position:absolute;
    left:0px;
    top:0px;
    width:400px;
    height:330px;
}

.u5 {
    position:absolute;
    left:2px;
    top:157px;
    width:396px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../Video_display_files/u2_normal.png');
}

.u6_container {
    position:absolute;
    left:280px;
    top:237px;
    width:400px;
    height:300px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:406px;
    height:306px;
}

.u7 {
    position:absolute;
    left:2px;
    top:143px;
    width:396px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:254px;
    top:140px;
    width:453px;
    height:29px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:181px;
    top:179px;
    width:599px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:350px;
    top:582px;
    width:260px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../Confirmation_files/FacebookBug_u12_normal.png');
}

.u12_container {
    position:absolute;
    left:350px;
    top:616px;
    width:32px;
    height:32px;
}

#u12_img {
    position:absolute;
    left:0px;
    top:0px;
    width:32px;
    height:32px;
}

.u13 {
    position:absolute;
    left:2px;
    top:8px;
    width:28px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../Confirmation_files/PinterestBug_u14_normal.png');
}

.u14_container {
    position:absolute;
    left:502px;
    top:616px;
    width:32px;
    height:32px;
}

#u14_img {
    position:absolute;
    left:0px;
    top:0px;
    width:32px;
    height:32px;
}

.u15 {
    position:absolute;
    left:2px;
    top:8px;
    width:28px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../Confirmation_files/GooglePlusBug_u16_normal.png');
}

.u16_container {
    position:absolute;
    left:578px;
    top:616px;
    width:32px;
    height:32px;
}

#u16_img {
    position:absolute;
    left:0px;
    top:0px;
    width:32px;
    height:32px;
}

.u17 {
    position:absolute;
    left:2px;
    top:8px;
    width:28px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../Confirmation_files/TwitterBug_u18_normal.png');
}

.u18_container {
    position:absolute;
    left:426px;
    top:616px;
    width:32px;
    height:32px;
}

#u18_img {
    position:absolute;
    left:0px;
    top:0px;
    width:32px;
    height:32px;
}

.u19 {
    position:absolute;
    left:2px;
    top:8px;
    width:28px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:408px;
    top:205px;
    width:145px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

